{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}


{% block body %}
    <section id="chatPlateform" data-private="{{ isPrivate }}" data-subject="{{ subject }}" data-from="{{ app.user.id }}" data-url="{{ path('save_notification') }}" data-urlfirstmail="{{ path('check_first_message') }}">
        <div id="userStatus" data-userfirstname="{{ app.user.profile.firstname }}" hidden></div>
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        {% if app.user.profile.filename %}
                            <img id="currentAvatar" src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid online" alt="">

                        {% else %}
                            <img id="currentAvatar" src="{{ asset('build/images/default/user.png') }}" class="img-fluid dashboard-profil-img" alt="">
                        {% endif %}
                        <p>{{ app.user.profile.firstname }} {{ app.user.profile.lastname }}</p>
                    </div>
                </div>

                {# Get nb of notifications by user#}
                {% set notificationsTopics = {} %}
                {% for topic in topics %}
                    {% set nbNotificationsTopic = 0 %}
                    {% for notification in notifications %}
                        {% if notification.topic != null and notification.topic.name == topic.name %}
                            {% set nbNotificationsTopic = nbNotificationsTopic + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% set notificationsTopics = notificationsTopics + {(topic.name): nbNotificationsTopic} %}
                {% endfor %}

                <div id="channels">
                    <h4>Canaux</h4>
                    <ul>
                        {% for topic in topics %}
                            <li class="channels{% if topic.name == subject %} active {% endif %}">
                                <a data-channel={{ topic.name }} href='{{ path('chat_topic', {'name': topic.name}) }}'>
                                    <strong>
                                        <div class="wrap">
                                            <div class="notifications">
                                                <span class="badge badge-primary badge-pill">{% if notificationsTopics[topic.name] is defined and notificationsTopics[topic.name] != 0 %}{{ notificationsTopics[topic.name] }}{% endif %}</span>
                                            </div>
                                            <div class="meta">
                                                {#<span>#</span> #}
                                                {% if topic.name starts with 'general' %}
                                                    <p>General</p>
                                                {% else %}
                                                    <p>{{ topic.name|capitalize }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </strong>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {# Get nb of notifications by user#}
                {% set notificationsUsers = {} %}
                {% for user in users %}
                    {% set nbNotificationsUser = 0 %}
                    {% for notification in notifications %}
                        {% if notification.receiver != null and notification.receiver.id == user.id %}
                            {% set nbNotificationsUser = nbNotificationsUser + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% set notificationsUsers = notificationsUsers + {(user.id): nbNotificationsUser} %}
                {% endfor %}

                <div id="contacts">
                    <h4>Contacts</h4>
                    <small class="ml-2">Ajouter un contact depuis la page <a href="{{ path('search') }}">Communauté</a></small>
                    <ul class="users">
                        {% if user %}
                            <li class="contact{% if user.id == subject %} active {% endif %}">
                                <a href="{{ path('chat_private', {'id': user.id}) }}" data-channel={{ user.id }}>
                                    <div class="wrap">
                                        <div class="notifications">
                                            <span class="badge badge-primary badge-pill">{% if notificationsUsers[user.id] is defined and notificationsUsers[user.id] != 0 %}{{ notificationsUsers[user.id] }}{% endif %}</span>
                                        </div>
                                        {% if user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
                                        {% else %}
                                            <img src="{{ asset('build/images/default/user.png') }}" class="img-fluid" alt="">
                                        {% endif %}
                                        <div class="meta">
                                            <p class="name">{{ user.profile.firstname ?? 'non défini' }} {{ user.profile.lastname }}</p>
                                            <p class="preview"><small>{{ user.company }}</small></p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        {% set currentUser = user %}
                        {% if users is not empty %}
                            {% for user in users %}
                                {% if user != app.user and user != currentUser %}
                                    <li class="contact{% if user.id == subject %} active {% endif %}">
                                        <a href="{{ path('chat_private', {'id': user.id}) }}" data-channel={{ user.id }}>
                                            <div class="wrap">
                                                {#<span class="contact-status online"></span>#}
                                                <div class="notifications">
                                                    <span class="badge badge-primary badge-pill">{% if notificationsUsers[user.id] is defined and notificationsUsers[user.id] != 0 %}{{ notificationsUsers[user.id] }}{% endif %}</span>
                                                </div>
                                                {% if user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
                                                {% else %}
                                                    <img src="{{ asset('build/images/default/user.png') }}" class="img-fluid" alt="">
                                                {% endif %}
                                                <div class="meta">
                                                    <p class="name">{{ user.profile.firstname ?? 'non défini'|capitalize }} {{ user.profile.lastname|capitalize }}</p>
                                                    {#<p class="preview"><small>{{ user.store }}</small></p>#}
                                                    <p class="preview"><small>{{ user.company }}</small></p>
                                                </div>

                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% elseif users is empty and currentUser is null %}
                            <li><p class="empty"><small>Aucune nouvelle conversation</small></p></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="contact-profile">
                    {% if user is defined and user is not null %}
                        {% if user.profile.filename %}
                            <img id="subjectAvatar" src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature')  }}" class="img-fluid" alt="">
                        {% else %}
                            <img id="subjectAvatar" src="{{ asset('build/images/default/user.png') }}" class="img-fluid" alt="">
                        {% endif %}
                    {% elseif topic is defined and topic is not null %}
                        <img id="subjectAvatar" src="{{ asset('build/images/default/channel.png') }}" class="img-fluid" alt="">
                    {% endif %}
                    {% if user is defined and user is not null %}
                        <a href="{{ path('profile_show', {'id': user.profile.id}) }}"><strong>{{ user.profile.firstname }} {{ user.profile.lastname }}</strong></a>
                    {% elseif topic is defined and topic is not null %}
                        {% if topic.name starts with 'general' %}
                            <strong>General</strong>
                        {% else %}
                            <strong>{{ topic.name|capitalize }}</strong>
                        {% endif %}
                        {% if topic.type.name == 'myCommunity' %}
                            <small> (Discutez ici avec l’ensemble des membres de votre communauté locale)</small>
                        {% elseif topic.type.name == 'categoryCompany' %}
                            <small> (Discutez ici avec l’ensemble des entreprises de votre catégorie)</small>
                        {% elseif topic.type.name == 'company' %}
                            <small> (Discutez ici avec l'ensemble des collaborateurs de votre entreprise)</small>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="wrapChat" class="messages">
                    <ul id="chat">
                        {% for message in messages %}
                            <li class="{% if message.user == app.user %}replies{% else %}sent{% endif %}">
                                <span><small>{{ message.user.profile.firstname}}</small></span>
                                <div>
                                    {% if message.user.profile.filename %}
                                        <img src="{{ vich_uploader_asset(message.user.profile, 'imageFile')|imagine_filter('miniature')  }}" alt="" />
                                    {% else %}
                                        <img id="subjectAvatar" src="{{ asset('build/images/default/user.png') }}" class="img-fluid" alt="">
                                    {% endif %}
                                    <p>{{ message.content }}</p>
                                </div>

                                <span><small>{{ message.createdAt|date('d/m H:i')}}</small></span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="message-input">
                    <div class="wrap">
                        <form onsubmit="return sender();" method="post" class="form-chat">
                            <input type="text" id="messageToSend" data-url="{{ path('sender') }}" placeholder="Votre message..." />
                            {#<i class="fa fa-paperclip attachment" aria-hidden="true"></i>#}
                            <button id="sendBtn" class="submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wamp') }}
    {{ encore_entry_script_tags('sendAjax') }}
{% endblock %}

