{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <section id="chatPlateform" data-topic="{{ topic }}">
            <div class="row">
                <div class="col-3 sidebar">
                    <div class="pt-3">
                        <h2 id="userName" data-username="{{ app.user.profile.lastname }}" class="text-center">{{ app.user.profile.lastname|capitalize }}</h2>
                        <div id="userStatus" data-userfirstname="{{ app.user.profile.firstname }}"></div>
                        <hr>
                        {#{% for channel in app.user.channels %}
                            {% set channelStr = '#' ~ channel %}
                            <ul>
                                <li><a data-channel="{{ channel }}" href='{{ channelStr }}'><span>#{{ channel|capitalize }}</span></a></li>
                            </ul>
                        {% endfor %}#}
                        <ul>
                            <li><a data-channel="general" href='{{ path('chat', {'topic': 'general'}) }}'><span>#general</span></a></li>
                            <li><a data-channel="conception" href='{{ path('chat', {'topic': 'conception'}) }}'><span>#conception</span></a></li>
                            <li><a data-channel="help" href='{{ path('chat', {'topic': 'help'}) }}'><span>#help</span></a></li>
                        </ul>
                        <ul id="channelsList">
                        </ul>
                    </div>
                </div>
                <div class="col-9 chat mt-3">
                    <div id="chat" class="box channel">
                        {% for message in messages %}
                            {% if message.user == app.user %}
                                <div class='message'><p class="text-right"><strong> Moi : </strong> {{ message.content }} </p></div>
                            {% else %}
                                <div class='message'><p><strong> {{ message.user.profile.firstname }} : </strong> {{ message.content }} </p></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="box input">
                        <form onsubmit="return sender();" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-10 col-sm-8">
                                        <input type="text" id="message" data-url="{{ path('sender') }}" class="form-control" placeholder="Votre message ...">
                                    </div>
                                    <div class="col-lg-1 col-sm-2">
                                        <button id="sendBtn" class="btn icon" type="submit" ><i class="icon icon ion-ios-arrow-thin-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </section>




{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/lib/autobahn/autobahn.js"></script>
    <script type="text/javascript" src="/js/wamp.js"></script>
    <script type="text/javascript" src="/js/sendAjax.js"></script>
    {#<script type="text/javascript" src="/js/websocket.js"></script>#}
{% endblock %}
