{% extends 'base.html.twig' %}

{% form_theme EditProfileForm 'bootstrap_4_layout.html.twig' %}

  {% block body %}

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="bg-light py-3 px-3 mt-5 mb-5">
            <h1>Editez mes informations</h1>
            <div class="card-body card-block">
                {{ form_start(EditProfileForm) }}
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.lastname) }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.firstname) }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.gender) }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.mobileNumber) }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.phoneNumber) }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{ form_widget(EditProfileForm.function) }}
                  </div>
                </div>
                <div class="form-actions form-group">
                  <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </div>
                {{ form_end(EditProfileForm) }}
            </div>

            </div>
        </div>
      </div>
    </div>

  {% endblock %} 