{% extends 'base.html.twig' %}

{% form_theme EditProfileForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<main>
    <div class="main-section">
        <div class="container-bv">
            <div class="main-section-data page-content">
                <div class="row">
                    <div class="col-lg-3">

                        {% include 'profile/boxes/infoProfile.html.twig' %}

                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current page-title">
                                    <h3>Modifier mes informations</h3>

                                    {{ form_start(EditProfileForm, {'attr':{'id':'BVform'}}) }}
                                        <div class="form-row">
                                            <div class="form-group required col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.lastname) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.lastname) }}
                                                </div>
                                            </div>

                                            <div class="form-group required col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.firstname) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.firstname) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12 col-md-12">
                                                {{ form_label(EditProfileForm.introduction) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.introduction) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group required col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.gender) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.gender) }}
                                                </div>
                                            </div>
                                            <div class="form-group required col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.function) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.function) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12 col-md-12">
                                                {{ form_label(EditProfileForm.jobTitle) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.jobTitle) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group required col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.mobileNumber) }}
                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.mobileNumber) }}
                                                </div>
                                            </div>
                                            <div class="form-group  col-lg-6 col-md-12">
                                                {{ form_label(EditProfileForm.phoneNumber) }}

                                                <div class="input-group">
                                                    {{ form_widget(EditProfileForm.phoneNumber) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center hide-load">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>

                                        <div class="form-actions form-group text-center">
                                            <button  type="submit" class="m-orange-btn">Enregistrer</button>
                                        </div>
                                    {{ form_end(EditProfileForm) }}

                                </div><!--user-profile-ov end-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        {% include 'default/boxes/add-service-component.html.twig' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('image') }}
{% endblock %}