{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <section id="profile" class="mt-5">
        <div class="container-mvp">
            <div class="box-head">
                <div class="row">
                    <div class="col-lg-4">
                        {% if profile.filename is empty %}
                            <img src="/images/default_user.png" class="img-fluid" alt="">
                        {% else %}
                            <img src="{{ vich_uploader_asset(profile, 'imageFile') }}" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="col-lg-8">
                        <div class="box-head-content">
                            <div class="row">
                                <div class="col-8">
                                    <div class="main-info">
                                        <h2>{{ profile.firstname|capitalize }} {{ profile.lastname|capitalize }}</h2>
                                        {% if profile.function %}
                                            <p><strong>{{ profile.function.name|capitalize}}</strong></p>
                                        {% endif %}
                                        <p class="mt-3"><i class="fa fa-map-marker"></i>  {{ profile.user.store.city|capitalize }}, {{ profile.user.store.country|capitalize }}</p>
                                        <p><i class="fa fa-phone"></i>  {{ profile.phoneNumber ?: 'non saisi' }}</p>
                                    </div>
                                    <ul class="info-list">
                                        <li class="main">
                                            <span class="info-title">Score</span>
                                            <span><strong>350</strong> Pts</span>
                                        </li>
                                        <li>
                                            <span class="info-title">Services</span>
                                            <span><strong>{{ countServices }}</strong> Services crées</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-4 text-right">
                                    {% if profile.user == app.user  %}
                                        <p><a href="{{ path('profile_edit', {'id': profile.id}) }}" type="button" class="btn btn-md btn-2"><i class="fa fa-pencil"></i>  Editer profile </a></p>
                                    {% else %}
                                        <a href="#" type="button" class="btn btn-design btn-1"><i class="fa fa-heart"></i> Ajouter en favoris</a>
                                        <a href="#" type="button" class="btn btn-design btn-2 mt-3">Chater avec {{ profile.firstname|capitalize }}</a>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <h4>Préférences</h4>
                        <p class="text-muted">Aucune préférence saisie</p>
                    </div>
                </div>
                <div class="col-lg-8">

                    {% if profile.user == app.user %}
                        <div class="box box-notification">
                            <i class="fa fa-rocket"></i>
                            <div>
                                <h4>Bonjour {{ profile.firstname|capitalize }}, participez à la vie de votre communauté !</h4>
                                <p class="lead">Soyez parmi ceux qui pensent à la communauté en proposant des offres spéciales à vos services et gagnez en visibilité ainsi que des points Bureau Vallée !</p>
                                <a href="{{ path('service_new') }}" type="button" class="btn btn-notification mt-3">Je crée un service</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="box">
                        <h4 class="mb-3">{{ profile.firstname|capitalize }} en quelques mots</h4>
                        <p class="lead">{{ profile.introduction ?: 'Pas d\'introduction' }}</p>
                    </div>

                    <div class="box">
                        <h4 class="mb-4">{{ countServices }} Services Bureau Vallée</h4>
                        <div class="row">
                        {% if services %}
                            {% for service in services %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="box card">
                                        <a href="{{ path('service_show', {'id': service.id}) }}">
                                            <div class="portfolio-wrap dashboard-service-image">
                                                {% if service.filename %}
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile') }}" class="img-fluid" alt="">
                                                {% else %}
                                                    <img src="/images/services/unknow-service.jpg" class="img-fluid" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="info">
                                                <h4 class="title preview">{{ service.title }}</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-muted">Aucun service pour l'instant</p>
                        {% endif %}
                        </div>
                        <p><a href="{{ path('service_user', {'id': profile.user.id}) }}" type="button" class="btn btn-md btn-2 full-width">Voir tous les services de {{ profile.firstname|capitalize }} </a></p>
                    </div>

                    <div class="box">
                        <h4>La communauté a recommandé les services de {{ profile.firstname|capitalize }}</h4>
                        {% if recommandations %}
                            {% for recommandation in recommandations %}
                                <div class="recommandation">
                                    <div class="avatar">
                                        <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" class="img-fluid" alt="">
                                    </div>
                                    <div class="content p-2">
                                        <p><strong>{{recommandation.user.profile.lastname|capitalize }} {{recommandation.user.profile.firstname|capitalize }}</strong></p>
                                        <p class="text-muted">{{recommandation.message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-muted">Aucune recommandation pour l'instant</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

