{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <section id="profile" class="mt-5">
        <div class="container-mvp">
            <div class="box-head">
                <div class="row">
                    <div class="col-lg-4">
                        {% if profile.filename %}
                            <img src="{{ vich_uploader_asset(profile, 'imageFile')|imagine_filter('square') }}" class="img-fluid" alt="">
                        {% else %}
                            <img src="/images/default/user.png" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="col-lg-8">
                        <div class="box-head-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="main-info">
                                        <h2>{{ profile.firstname|capitalize }} {{ profile.lastname|capitalize }}</h2>
                                        {% if profile.function %}
                                            <p><strong>{{ profile.function.name|capitalize}}</strong></p>
                                        {% endif %}
                                        <p class="mt-3"><i class="fa fa-map-marker"></i>  {{ profile.user.store.city|capitalize }}, {{ profile.user.store.country|country_name  }}</p>

                                        {% if profile.phoneNumber != '' %}
                                        <p><i class="fa fa-phone"></i>  {{ profile.phoneNumber ?: 'non saisi' }}</p>
                                        {% endif %}
                                    </div>
                                    {#
                                    <ul class="info-list">
                                        <li class="main">
                                            <span class="info-title">Score BV</span>
                                            <span><strong>
                                                    {% if profile.user.score %}
                                                        {{ profile.user.score.points }}
                                                    {% else %} 0
                                                    {% endif %}
                                                </strong> Pts</span>
                                        </li>
                                        <li>
                                            <span class="info-title">Services</span>
                                            <span><strong>{{ countServices }}</strong> Services crées</span>
                                        </li>
                                    </ul>
                                    #}
                                </div>
                                <div class="col-lg-4 text-right profil-actions">
                                    {% if profile.user == app.user  %}
                                        <p><a href="{{ path('profile_edit', {'id': profile.id}) }}" type="button" class="btn btn-design mvp-bg mt-3 mvp-btn"><i class="fa fa-pencil"></i>  Modifier profil </a></p>
                                    {% else %}
                                        <a id="result-user-item-{{ profile.user.id }}"
                                           href="#"
                                           type="button"
                                           class="mvp-btn btn btn-design btn-1 profil-add-favoris add-favoris {{ isFavorit }}"
                                           data-user-id="{{ profile.user.id }}"
                                           data-target="{{path('favorit_add', {'userId':profile.user.id})  }}"
                                           data-delete="{{path('favorit_delete', {'userId': profile.user.id})  }}"
                                        >
                                            <i class="fa fa-heart"></i>
                                            {% if isFavorit !="" %}
                                            Favoris
                                            {% else %}
                                                Ajouter aux favoris
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('chat_private', {'id': profile.user.id}) }}" type="button" class="btn btn-design mvp-bg mt-3 mvp-btn">Chater avec {{ profile.firstname|capitalize }}</a>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <h4 class="mb-3">{{ profile.firstname|capitalize }} en quelques mots</h4>
                        <p class="lead">{{ profile.introduction ?: 'Pas d\'introduction' }}</p>
                    </div>
                </div>
                <div class="col-lg-8">

                    {% if profile.user == app.user and is_granted('ROLE_ADMIN') %}
                        <div class="box box-notification">
                            <i class="fa fa-rocket"></i>
                            <div>
                                <h4>Bonjour {{ profile.firstname|capitalize }}, participez à la vie de votre communauté !</h4>
                                <p class="lead">Soyez parmi ceux qui pensent à la communauté en proposant des offres spéciales à vos services et gagnez en visibilité ainsi que des points Bureau Vallée !</p>
                                <a href="{{ path('service_new') }}" type="button" class="btn btn-notification mt-3">Je crée un service</a>
                            </div>
                        </div>
                    {% endif %}
                     {% if profile.user.company %}
                        <div class="box">
                            <h4>
                                {% if profile.user.company %}
                                  {{ profile.firstname }} travaille chez
                                {% endif %}
                                {{ profile.user.company.name }}
                            </h4>
                            <p class="text-muted">{{ profile.user.company.introduction ?? 'Aucune introduction saisie' }}</p>
                            <div class="row">
                                <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-show-more">

                                    <a href="{{ path('company_show', {'slug': profile.user.company.slug}) }}" type="button" class="text-white">
                                        Voir l'entreprise {{ profile.user.company.name }}
                                    </a>
                                </button>
                            </div>
                        </div>
                    {% endif %}


                    {% if 'ROLE_USER' not in profile.user.roles %}
                        <div class="box">
                            <h4 class="mb-4">{{ countServices }} Services Bureau Vallée</h4>
                            {% if services %}
                                <div class="row">
                                    {% for service in services %}
                                        <div class="col-lg-4 col-md-6">
                                            <div class="box card">
                                                <a href="{{ path('service_show', {'id': service.id}) }}">
                                                    <div class="portfolio-wrap dashboard-service-image">
                                                        {% if service.filename %}
                                                            <img src="{{ vich_uploader_asset(service, 'imageFile') }}" class="img-fluid" alt="">
                                                        {% else %}
                                                            <img src="/images/default/unknown_bg.png" class="img-fluid" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="info">
                                                        <h4 class="title preview">{{ service.title }}</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="text-muted">Aucun service pour l'instant</p>
                            {% endif %}


                            <div class="row">
                                <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-show-more">

                                    <a href="{{ path('service_user', {'user': profile.user.id}) }}" type="button" class="text-white">
                                        Voir tous les services de {{ profile.firstname|capitalize }}
                                    </a>
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="box">
                        <h4>La communauté a recommandé les services de {{ profile.firstname|capitalize }}</h4>
                        {% if recommandations %}
                            {% for recommandation in recommandations %}
                                <div class="recommandation">
                                    <div class="avatar">
                                        {% if profile.filename %}
                                            <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" class="img-fluid" alt="">
                                        {% else %}
                                            <img src="/images/default/user.png" class="img-fluid" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="content p-2">
                                        <p><strong>{{recommandation.user.profile.lastname|capitalize }} {{recommandation.user.profile.firstname|capitalize }}</strong></p>
                                        <p class="text-muted">{{recommandation.message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-muted">Aucune recommandation pour l'instant</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

