{% extends 'base.html.twig' %}

{% block title %} {{ profile.firstname }}{% endblock %}

{% block body %}
    <main>
        <div class="main-section">
            <div class="container-bv">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            {% include 'profile/boxes/infoProfile.html.twig' %}
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec">
                                    <h3>{{ profile.firstname }} {{ profile.lastname }}</h3>
                                    <div class="star-descp">
                                        {% if profile.function %}
                                            <span>{{ profile.function.name|capitalize}}
                                                chez
                                                {% if profile.user.company != null %}
                                                    <a href="{{ path('company_show', {'slug': profile.user.company.slug}) }}">  {{ profile.user.company.name|capitalize}}</a>
                                                {% else  %}
                                                    <a href="{{ path('store_show', {'slug': profile.user.store.slug}) }}">    {{ profile.user.store.name|capitalize}}</a>
                                                {% endif %}
                                        </span>
                                        {% endif %}

                                        {% if profile.jobTitle != '' %}
                                            <p style="clear: both;color:#686868;">
                                                ( {{ profile.jobTitle }} )
                                            </p>
                                        {% endif %}
                                    </div><!--star-descp end-->
                                </div><!--user-tab-sec end-->

                                <div class="product-feed-tab current" id="info-dd">
                                    <div class="user-profile-ov page-title sign_in_sec current">
                                        <h5> {{ profile.firstname }} en quelques mots</h5>
                                        <p>{{ profile.introduction|raw ?: 'Pas d\'introduction' }}</p>
                                    </div><!--user-profile-ov end-->
                                    {% if profile.user.company %}
                                        <div class="user-profile-ov page-title sign_in_sec current">
                                            <h5>
                                                {{ profile.firstname }} travaille chez <a href="{{ path('company_show', {'slug': profile.user.company.slug}) }}">{{ profile.user.company.name }}</a>
                                            </h5>

                                            <p>{{ profile.user.company.introduction ?? 'Aucune introduction saisie' }} </p>
                                        </div><!--user-profile-ov end-->
                                    {% endif %}


                                    {% if  countServices > 0 %}
                                        <div class="top-profiles ">
                                            <div class="page-title sign_in_sec current">
                                                {% if profile.user.company %}
                                                <h5><a href="{{ path('company_show', {'slug': profile.user.company.slug}) }}">{{ profile.user.company.name }}</a> vous propose les services suivants</h5>
                                                {% else  %}
                                                <h5><a href="{{ path('store_show', {'slug': profile.user.store.slug}) }}">{{ profile.user.store.name }}</a> vous propose les services suivants</h5>
                                                {% endif %}
                                                <i class="la la-ellipsis-v"></i>
                                                <div class="profiles-slider">
                                                    {% for service in services %}
                                                        <div class="user-profy">
                                                            {% if service.filename %}
                                                                <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_show_services_card') }}"  alt="">
                                                            {% else %}
                                                                <img src="/images/no-available-photo.png" alt="">
                                                            {% endif %}
                                                            <p style="height: 70px;padding: 20px 0;"><strong>{{ service.title}}</strong></p>
                                                            <a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>
                                                        </div><!--user-profy end-->
                                                    {% endfor %}
                                                    {% if  countServices > 3 %}
                                                        <div class="user-profy">
                                                            <div class="lt-sec">
                                                                {% if profile.user.company %}
                                                                <a href="{{ path('service_company', {'company': profile.user.company.id}) }}">
                                                                    <i style="font-size: 57px" class="fas fa-folder-plus"></i>
                                                                    <p>Voir tous les services de {{ profile.user.company.name }}</p>
                                                                </a>

                                                                {% endif %}
                                                            </div>
                                                        </div><!--user-profy end-->
                                                    {% endif %}
                                                </div><!--profiles-slider end-->

                                                {% if  app.user.profile.id == profile.id %}
                                                    <a id="createservicebox" type="button"  href="{{ path('service_new') }}" class="btn small-btn orange-bg full-width mt-3">Créer un service</a>
                                                {% endif %}
                                            </div>
                                        </div><!--top-profiles end-->
                                    {% endif %}

                                    <div class="user-profile-ov page-title sign_in_sec current st2">
                                        <h5>
                                            La communauté a recommandé les services de {{ profile.firstname }}
                                        </h5>
                                        {% if recommandations %}
                                            {% for recommandation in recommandations %}
                                                <div class="suggestion-usd">
                                                    {% if recommandation.user.profile.filename %}
                                                        <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                                    {% else %}
                                                        <img src="/images/no-available-photo.png" alt="">
                                                    {% endif %}
                                                    <div class="hover-info">
                                                        <p>{{ recommandation.user.profile.firstname }} {{ recommandation.user.profile.lastname }}</p>
                                                        <small>{{ recommandation.user.company|capitalize }}</small>
                                                        {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandation.user} %}
                                                    </div>
                                                    <p class="recommandation-message">
                                                        {{recommandation.message }}
                                                    </p>

                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Soyez le premier à proposer une recommandation</p>
                                        {% endif %}
                                    </div><!--user-profile-ov end-->
                                </div>
                            </div><!--main-ws-sec end-->
                        </div>

                        {% if profile.user.company != null %}
                            {% if profile.user.type.name != 'admin magasin' or profile.user.type.name != 'admin plateform' %}
                                <div class="col-lg-3">
                                <div class="user-profile-ov page-title sign_in_sec current">
                                <div class="">
                                    <h5>Ils travaillent dans la même entreprise</h5>
                                </div><!--sd-title end-->
                                <div class="contact-list m-0">
                                {% if collegues %}
                                    {% for collegue in collegues %}
                                        {% if collegue != app.user %}
                                            {% if collegue.profile.isCompleted %}
                                                <div class="suggestion-usd">

                                                {% if collegue.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(collegue.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                {% else %}
                                                    <img src="/images/no-available-photo.png" alt="">
                                                {% endif %}
                                                <div class="hover-info">
                                                    <p>{{ collegue.profile.firstname }} {{ profile.lastname }}</p>
                                                    {% if collegue.profile.function != null %}
                                                        <small>{{ collegue.profile.function.name|capitalize }}</small>
                                                    {% endif %}
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': collegue} %}

                                                </div>
                                            {% endif %}
                                            </div>
                                        {% elseif collegues|length == 1 and collegues[0] == app.user %}
                                            <div class="suggestion-usd">
                                                <p>Personne pour le moment</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="suggestion-usd">
                                        <p>Personne pour le moment</p>
                                    </div>
                                {% endif %}

                            {% endif %}
                            </div><!--suggestions-list end-->
                            </div><!--suggestions end-->
                            </div>
                        {% endif %}

                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>
    </main>
{% endblock %}


