{% extends 'base.html.twig' %}

{% block title %} {{ profile.firstname|capitalize }}{% endblock %}

{% block body %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        {% if profile.filename %}
                                            <img src="{{ vich_uploader_asset(profile, 'imageFile') }}"  alt="">
                                        {% else %}
                                            <img src="http://via.placeholder.com/170x170" alt="">
                                        {% endif %}
                                        {% if app.user.id == profile.user.id %}
                                           <a href="{{ path('profile_edit', {'id': profile.id}) }}" title=""><i class="fa fa-camera"></i></a>
                                        {% endif %}
                                    </div><!--user-pro-img end-->
                                    <div class="user_pro_status">
                                        <ul class="flw-hr">
                                            {% if profile.user == app.user  %}

                                                <li><a href="{{ path('profile_edit', {'id': profile.id}) }}" title="" class="flww">
                                                        Modifier profil</a></li>
                                            {% else %}

                                            <li><a href="#" title=""
                                                   class="flww add-favoris profil-add-favoris {{ isFavorit }}"
                                                   data-user-id="{{  profile.user.id }}"
                                                   data-target="{{path('favorit_add', {'userId':profile.user.id})  }}"
                                                   data-delete="{{path('favorit_delete', {'userId': profile.user.id})  }}"
                                                >
                                                {% if isFavorit !="" %} Favoris {% else %} Ajouter au favoris {% endif %}</a></li>
                                            {% endif %}
                                        </ul>

                                    </div><!--user_pro_status end-->
                                    <ul class="social_links">

                                      {% if profile.mobileNumber != null %}  <li><i class="fas fa-mobile-alt"></i>  {{ profile.mobileNumber }} </li>{% endif %}
                                        {% if profile.addressPostCode != 0 %}  <li><i class="fa fa-map-marker"></i> Code postal:  {{ profile.addressPostCode }} </li>{% endif %}


                                    </ul>
                                </div><!--user_profile end-->

                                {% if collegues != null %}
                                    <div class="suggestions full-width">
                                        <div class="sd-title page-title sign_in_sec current">
                                            <h3>Ils travaillent dans la même entreprise</h3>

                                        </div><!--sd-title end-->
                                        <div class="suggestions-list">
                                            {% for collegue in collegues %}
                                                <div class="suggestion-usd">

                                                    {% if collegue.profile.filename %}
                                                        <img src="{{ vich_uploader_asset(collegue.profile, 'imageFile')|imagine_filter('square') }}"  alt="">
                                                    {% else %}
                                                        <img src="http://via.placeholder.com/170x170" alt="">
                                                    {% endif %}
                                                    <div class="sgt-text hover-info">
                                                        <h4>{{ collegue.profile.firstname|capitalize }} {{ profile.lastname|capitalize }}</h4>
                                                        {% include 'default/modals/hoverUserPopin.html.twig' with {'user': collegue} %}
                                                        {% if collegue.profile.function != null %}
                                                           <span>{{ collegue.profile.function.name|capitalize }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div class="view-more">
                                                <a href="{{ path('company_show', {'slug': profile.user.company.slug}) }}" title="">Voir plus</a>
                                            </div>
                                        </div><!--suggestions-list end-->
                                    </div><!--suggestions end-->

                                {% endif %}
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec">
                                    <h3>{{ profile.firstname|capitalize }} {{ profile.lastname|capitalize }}</h3>
                                    <div class="star-descp">
                                        {% if profile.function %}
                                        <span>{{ profile.function.name|capitalize}}
                                            chez
                                                {% if profile.user.company != null %}
                                                  {{ profile.user.company.name|capitalize}}
                                                    {% else  %}
                                                        {{ profile.user.store.name|capitalize}}
                                                {% endif %}

                                        </span>
                                        {% endif %}

                                       {% if profile.jobTitle != '' %}
                                            <p style="clear: both;color:#686868;">
                                                ( {{ profile.jobTitle }} )
                                            </p>
                                       {% endif %}
                                    </div><!--star-descp end-->


                                </div><!--user-tab-sec end-->

                                <div class="product-feed-tab current" id="info-dd">
                                    <div class="user-profile-ov page-title sign_in_sec current">
                                        <h3>

                                                {{ profile.firstname|capitalize }} en quelques mots
                                        </h3>
                                        <p>{{ profile.introduction|raw ?: 'Pas d\'introduction' }}</p>
                                    </div><!--user-profile-ov end-->
                                    {% if profile.user.company %}
                                        <div class="user-profile-ov st2 page-title sign_in_sec current">
                                            <h3>
                                                    {{ profile.firstname|capitalize }} travaille chez {{ profile.user.company.name }}
                                            </h3>

                                            <p>{{ profile.user.company.introduction ?? 'Aucune introduction saisie' }} </p>
                                        </div><!--user-profile-ov end-->
                                    {% endif %}

                                    {% if  countServices > 0 %}
                                    <div class="top-profiles">
                                        <div class="pf-hd page-title sign_in_sec current">
                                            <h3>
                                                {% if countServices == 1 %}
                                                  {{ countServices }} Service Bureau Vallée
                                                {% else %}
                                                  {{ countServices }} Services Bureau Vallée
                                                {% endif %}
                                            </h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div>
                                        <div class="profiles-slider">
                                            {% for service in services %}
                                                <div class="user-profy">

                                                    {% if service.filename %}
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile') }}"  alt="">
                                                    {% else %}
                                                        <img src="http://via.placeholder.com/57x57" alt="">
                                                    {% endif %}
                                                    <p style="min-height: 76px">{{ service.description|slice(0, 50) ~ '...' }}</p>
                                                    <a href="{{ path('service_show', {'id': service.id}) }}" title="">Voir plus</a>
                                                </div><!--user-profy end-->
                                            {% endfor %}

                                        </div><!--profiles-slider end-->
                                    </div><!--top-profiles end-->
                                    {% endif %}

                                    <div class="user-profile-ov st2 page-title sign_in_sec current">
                                        <h3>
                                            La communauté a recommandé les services de {{ profile.firstname|capitalize }}
                                        </h3>
                                        {% if recommandations %}
                                            {% for recommandation in recommandations %}
                                                <div class="suggestion-usd">
                                                    {% if profile.filename %}
                                                        <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" alt="">
                                                    {% else %}
                                                        <img src="http://via.placeholder.com/35x35" alt="">
                                                    {% endif %}

                                                    <div class="sgt-text">
                                                        <h4>{{recommandation.user.profile.firstname|capitalize }} {{recommandation.user.profile.lastname|capitalize }}</h4>

                                                    </div>
                                                    <p style="float: left;position: relative;left: 11px;top: -10px;width: 84%;">
                                                       {{ recommandation.message  }}
                                                    </p>

                                                </div>
                                            {% endfor %}
                                            {% else %}
                                                <p>Aucune recommandation pour l'instant</p>
                                        {% endif %}




                                    </div><!--user-profile-ov end-->




                                </div>

                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3">
                            <div class="right-sidebar">
                                {% if app.user.id != profile.user.id %}
                                    <div class="message-btn">
                                        <a href="{{ path('chat_private', {'id': profile.user.id}) }}" title=""><i class="fa fa-comments"></i> Contacter</a>
                                   </div>
                                {% endif %}
                                <div class="widget widget-jobs">
                                    <div class="user-profile-ov page-title sign_in_sec current" style="margin-top:36px">
                                        <h3>
                                            Participez à la vie de votre communauté !
                                        </h3>
                                        <p>Soyez parmi ceux qui pensent à la communauté en proposant des offres exclusives Beev'Up à vos services
                                            et gagnez en visibilité ainsi que des points Bureau Vallée !</p>
                                        <div class="lt-sec">
                                            <a href="{{ path('service_new') }}" title="">Je crée un service</a>
                                        </div>
                                    </div><!--user-profile-ov end-->
                                </div><!--widget-jobs end-->
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>
    </main>
{% endblock %}

