<div class="filter-secs">
    <div class="page-title sign_in_sec current">
        <h5>Filtres</h5>
    </div>
    {{ form_start(SearchForm) }}
    <div class="p-3">
        <div class="filter-dd">
            <div class="form-group">
                {{ form_widget(SearchForm.name) }}
            </div>
            <small>Affiner votre recherche</small>
            <hr>
            <div class="form-group d-flex">
                {{ form_widget(SearchForm.isCompany) }}
                {{ form_widget(SearchForm.isService) }}
            </div>
            <div class="service-filter d-none">
                <small>Filtrer les services</small>
                <div class="form-group">
                    {{ form_widget(SearchForm.category) }}
                </div>
                <div class="form-group">
                    {{ form_widget(SearchForm.isDiscovery) }}
                </div>
            </div>
            <div class="form-actions form-group">
                <button type="submit" class="btn small-btn orange-bg">Chercher</button>
            </div>
        </div>
    </div>
    {{ form_end(SearchForm) }}
</div>