
    {% if app.user.id != post.user.id and app.user.profile.isCompleted == true %}
        <div id ="report-abuse-post-btn-{{post.id}}"  class="report-post-btn-lg" data-post="{{post.id}}">
            <button id ="abuse-post-btn-{{post.id}}" class="report-abuse-btn" data-toggle="modal" data-post="{{post.id}}" data-target="{{ path('abuse_add',{'postId':post.id, 'commentId':0}) }}">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"> Signaler un abus</i>
            </button>
            <!-- Modal to report abuse  -->
            <div id="modal-report-abuse-post-{{post.id}}"  data-post="{{post.id}}" class="modal modal-report-post fade"  tabindex="-1" role="dialog" aria-labelledby="report-post" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div id="modal-report-abuse-post-content-{{post.id}}" class="modal-content <modal-report-abuse-post-content>">
                        <div class="modal-body">
                            <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal -->
        </div>
    {% endif %}
