
    {% if app.user.id == post.user.id %}
    <div class="delete-post-btn-lg" data-post="{{post.id}}">
        <button class="delete-post" data-toggle="modal" data-target="">
            <i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i>
        </button>

        <!-- Modal to delete post -->
        <div id="modal-delete-post-{{post.id}}" class="modal modal-delete-post fade" id="deletePopUp" tabindex="-1" role="dialog" aria-labelledby="delete-post" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer le post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr(e) de vouloir supprimer définitivement ce post ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button id ="delete-post-btn-{{post.id}}"
                                class ="btn btn-primary delete-post-btn"
                                data-dismiss="modal"
                                type="button"
                                data-target = {{ path('post_delete', {'id': post.id}) }}
                                data-post-id = {{post.id }}

                        >
                        Supprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>
    {% endif %}

