{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'company/boxes/imagesAccount.html.twig' %}
                </div>

                <div class="col-lg-9">
                    <div class="main-ws-sec">
                        <div class="main-ws-sec">
                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current form-page-bg">
                                    <h1>Bienvenue !</h1>
                                    <h2>Vérifier et compléter les informations suivantes</h2>

                                    {{ form_start(form) }}
                                        <div class="row">

                                            <div class="col-lg-5 col-md-12 bv-form-col mr-3">
                                                <p style="color:#ff7f50;font-size: 16px;font-weight: bold;margin-top: 10px;margin-bottom: 10px">Profil</p>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.email, {'label': 'Email'}) }}
                                                    </div>
                                                    <div class="form-group  col-md-6 required">
                                                        {{ form_row(form.gender, {'label': 'Civilité'}) }}
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.lastname, {'label': 'Nom'}) }}
                                                    </div>
                                                    <div class="form-group  col-md-6 required">
                                                        {{ form_row(form.firstname, {'label': 'Prénom'}) }}
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.function, {'label': 'Fonction dans l\'entreprise', 'attr': {'placeholder': 'Saisissez votre fonction'}}) }}
                                                    </div>
                                                    <div class="form-group  col-md-6">
                                                        {{ form_row(form.personalPhone, {'label': 'Téléphone professionnel'}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-md-12 bv-form-col mr-3">
                                                <p style="color:#ff7f50;font-size: 16px;font-weight: bold;margin-top: 10px;margin-bottom: 10px">Entreprise</p>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.siret) }}
                                                    </div>
                                                    <div class="form-group  col-md-6 required">
                                                        {{ form_row(form.name, {'label': 'Raison sociale'}) }}
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.address, {'id': 'company_address', 'label': 'Adresse',  'attr': {'placeholder': 'Adresse compléte'}}) }}
                                                        {{ form_widget(form.addressNumber, {'id': 'company_addressNumber'}) }}
                                                        {{ form_widget(form.addressStreet, {'id': 'company_addressStreet'}) }}
                                                        {{ form_widget(form.addressPostCode, {'id': 'company_addressPostCode'}) }}
                                                        {{ form_widget(form.city, {'id': 'company_city'}) }}
                                                        {{ form_widget(form.country, {'id': 'company_country'}) }}
                                                    </div>
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.category, {'label': 'Catégorie'}) }}
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-12 required">
                                                        {{ form_row(form.activity, {'label': 'Activité de l\'entreprise', 'attr': {'placeholder': 'Exemple : Agence conseil spécialisée dans le digital'}}) }}
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6 required">
                                                        {{ form_row(form.companyPhone, {'label': 'Téléphone entreprise'}) }}
                                                    </div>
                                                    <div class="form-group  col-md-6">
                                                        {{ form_row(form.website, {'label': 'Site web'}) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-actions form-group">
                                            {{ form_widget(form.saveAndAdd, {'attr': {'class': 'm-orange-btn'}}) }}
                                            {{ form_widget(form.save, {'attr': {'class': 'm-orange-light-btn'}}) }}
                                        </div>

                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('image') }}
{% endblock %}