{% extends 'base.html.twig' %}
{% form_theme RegistrationForm 'bootstrap_4_layout.html.twig' %}
  {% block body %}
    <div class = "container mt-4">
      <h1>Créer mon compte</h1>
      
        {{ form_start(RegistrationForm) }}
          {{ form_errors(RegistrationForm) }}
          <div class="col-lg-6">
            {{ form_row(RegistrationForm.siret) }}
            {{ form_row(RegistrationForm.name) }}
            {{ form_row(RegistrationForm.store) }}
            {{ form_row(RegistrationForm.email) }}
            {{ form_row(RegistrationForm.password) }}
             {{ form_end(RegistrationForm) }}
          </div>
    </div>  
  {% endblock %}       
  