{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <section class="security_login clearfix section-bg-light">
        <div>

            {% include 'partials/headerSecurity.html.twig' %}

            <div class="row sign-in-page">
                <div class="signin-popup">
                    <div class="signin-pop">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="cmp-info">
                                    <div class="cm-logo mb-3">
                                        <h5><strong>Rejoignez Beev'Up, le mouvement dédié aux entreprises locales</strong></h5>
                                    </div><!--cm-logo end-->
                                    <img src="/images/homePage/login-page.png" alt="">
                                </div><!--cmp-info end-->
                            </div>
                            <div class="col-lg-6">
                                <div class="login-sec">

                                    <div class="sign_in_sec reset current" id="tab-1">
                                        {% include 'partials/flashes.html.twig' %}

                                        <h3>Réinitialiser votre mot de passe</h3>

                                        <div class="form-group">
                                        {{ form_start(forgotPasswordForm, {'token':token}) }}
                                            <div class="input-group">
                                                {{ form_errors(forgotPasswordForm.password) }}
                                                {{ form_widget(forgotPasswordForm.password) }}
                                            </div>
                                            {% if app.request.get('_route') =='security_new_account' %}
                                                {{ form_errors(forgotPasswordForm.acceptConditions) }}
                                                {{ form_widget(forgotPasswordForm.acceptConditions) }}
                                            {% endif %}
                                        </div>
                                        <div class="form-actions form-group">
                                            <button id ="inscription-btn" type="submit" class="orange-btn orange-btn-greyed" disabled>Envoyer</button>
                                        </div>

                                    </div><!--sign_in_sec end-->

                                </div><!--login-sec end-->
                            </div>
                        </div>

                    </div><!--signin-pop end-->

                </div><!--signin-popup end-->

            </div><!--sign-in-page end-->

        </div>

    </section>
{% endblock %}
