<header id="header" class="fixed-top d-flex justify-content-between">

<div class="logo float-left">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{{ path('dashboard') }}"><img src="/images/default/logo_bv_mode.png" alt=""></a>
</div>

<nav class="main-nav d-none d-lg-block">
    <ul class="d-lg-flex justify-content-between">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div></div>

            <div class="d-lg-flex">
                {% set route =  app.request.get('_route') %}
                <li id="homebox" class="{{ route == 'dashboard' ? 'active':'deactivate-link' }}"><a href="{{ path('dashboard') }}">Accueil</a></li>
                <li id="communitybox" class="{{ route == 'search' ? 'active':'deactivate-link' }}" ><a href="{{ path('search') }}">Communauté</a></li>
                <li id="servicesbox" class="{{ route == 'service' ? 'active' :'deactivate-link'}}"><a href="{{ path('service') }}">Services</a></li>
                <li id="chatbox" class="{{ route == 'chat_topic' ? 'active' :'deactivate-link'}}"><a href="{{ path('chat_topic', {'name': 'general'}) }}" >Chat</a></li>
            </div>

            <div class="d-lg-flex">
                <li>
                    <ul class="notifications d-flex">
                        <li class="box-notification nav-item dropdown">
                            <a class="nav-link p-0 m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o p-2"></i>
                                {% if postsNotifications|length > 0 %}
                                    <span class="badge bell-badge">{{ postsNotifications|length }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu">
                                {% if postsNotifications|length > 0 %}
                                    {% for notification in postsNotifications %}
                                        <a class="dropdown-item d-flex" href="{{ path('dashboard_post', {'post': notification.post.id}) }}">
                                            {% if notification.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(notification.user.profile, 'imageFile') }}" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                            {% else %}
                                                <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                            {% endif %}
                                            <small class="pt-2">
                                                {% if notification.type == 'like' %}
                                                    {{ notification.user.profile.firstname|capitalize }} a liké votre post
                                                {% elseif notification.type == 'comment' %}
                                                    {{ notification.user.profile.firstname|capitalize }} a commenté votre post
                                                {% endif %}
                                            </small>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#"><small>Aucune nouvelle notification</small></a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="box-notification nav-item dropdown">
                            <a class="nav-link p-0 m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope-o p-2"></i>
                                {% if messagesNotifications|length > 0 %}
                                    <span class="badge bell-badge">{{ messagesNotifications|length }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu">
                                {% if messagesNotifications|length > 0 %}
                                    {% for notification in messagesNotifications %}
                                        <a class="dropdown-item d-flex" {% if notification.receiver %}href="{{ path('chat_private', {'id': notification.receiver.id}) }}"{% else %}href="{{ path('chat_topic', {'name': notification.topic.name}) }}"{% endif %}>
                                            {% if notification.receiver %}
                                                {% if notification.receiver.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(notification.receiver.profile, 'imageFile') }}" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                                {% else %}
                                                    <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                                {% endif %}
                                                <small class="pt-2">
                                                    {{ notification.receiver.profile.firstname|capitalize }} vous a envoyé un message
                                                </small>
                                            {% else %}
                                                <img src="/images/default/channel.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                                <small class="pt-2">
                                                    Vous avez {{ notification.nbMessages }} messages dans {{ notification.topic.name|capitalize }}
                                                </small>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#"><small>Aucun nouveau message</small></a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="box-notification nav-item dropdown">
                            <a class="nav-link p-0 m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bolt p-2"></i>
                                {% if opportunities|length > 0 %}
                                    <span class="badge bell-badge">{{ opportunities|length }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu">
                                {% if opportunities|length > 0 %}
                                    <a class="dropdown-item" href="{{ path('dashboard_category', {'category': 2}) }}" onclick="setSeenOpportunityNotification(this)" data-url="{{ path('opportunity_notification_set') }}">
                                        <small>{{ opportunities|length }} nouvelles opportunités commerciales</small>
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="#"><small>Aucune nouvelle opportunité commerciale</small></a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="drop-down">
                    <a class="pt-1">
                        <span class="pr-1">{{ app.user.profile.firstname|capitalize ?:  app.user.email }}</span>
                        {% if app.user.profile.filename %}
                            <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                        {% else %}
                            <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                        {% endif %}
                    </a>
                    <ul class="btn-radius">
                        <li class="{{ route == 'profile_show' ? 'active':'deactivate-link' }}"><a href="{{ path('profile_show', {'id': app.user.profile.id}) }}">Mon compte</a></li>
                        {%  if app.user.company %}
                            <li class="{{ route == 'company_show' ? 'active':'deactivate-link' }}"><a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Mon Entreprise</a></li>
                        {% endif %}
                        {#{%  if app.user.type.id != 6 %}#}
                        <li class="{{ route == 'store_show' ? 'active':'deactivate-link' }}"><a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Mon Magasin</a></li>
                        {#{% endif %}#}
                        {% if app.user.company != null %}
                            <li class="code-bv-btn"><a href="#">Ma carte Pro</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN_COMPANY') %}
                            {% if app.user.company.isCompleted == true %}
                                <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserEntreprise'>Administration</a></li>
                            {% else %}
                                <li class="disabled" class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}" data-toggle="tooltip" data-placement="top" title="Vous devez compléter votre fiche entreprise"><a href='#' class="disabled">Administration</a></li>
                            {% endif %}
                        {% elseif is_granted('ROLE_ADMIN_STORE')  %}
                            <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserStore'>Administration</a></li>
                            <ul class="admin-menu-items">
                                <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                <li><a href='/admin/?entity=UserStore'>utilisateurs</a></li>

                            </ul>
                        {% elseif  is_granted('ROLE_ADMIN_PLATEFORM') %}
                            <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }} drop-down administration-link"><a href='/admin/?entity=User'>Administration</a>
                                <ul class="admin-menu-items">
                                    <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                    <li><a href='/admin/?entity=User'>utilisateurs</a></li>
                                    <li><a href='/admin/?entity=Publicity'>Publicité</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            </div>

        {% else %}
            <li><a href="{{ path('security_registration') }}">Inscription</a></li>
            <li><a href="{{ path('security_login') }}">Connexion</a></li>
        {% endif %}

    </ul>
</nav><!-- .main-nav -->

</header><!-- #header -->

{% block modals %}
    <div class="modal modal-get-bar-code fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ma carte pro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if app.user.company != null %}
                                {% if app.user.company.barCode %}
                                    <div class="box-barCode" data-intro="Code bar de votre entreprise" data-step="1" data-position="right">
                                        <img class="bar-code-img" src="data:image/png;base64,{{ app.user.company.barCode }}" />
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}