<!--==========================
Header
============================-->
<header id="header" class="fixed-top">

    <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ path('home') }}"><img src="/images/logo_bv.png" alt=""></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
        <ul>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="active"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('service') }}">Services</a></li>
                <li><a href="{{ path('chat_topic', {'name': 'general'}) }}">Chat</a></li>
                <li><a href="{{ path('search') }}">Communauté </a></li>
                <li class="drop-down"><a >{{ app.user.profile.firstname|capitalize ?:  app.user.email }}</a>
                    <ul>
                        <li><a href="{{ path('profile_show', {'id': app.user.profile.id}) }}">Mon profile</a></li>
                        {%  if app.user.company %}
                        <li><a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Mon entreprise</a></li>
                        {% endif %}

                        <li><a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Mon magasin</a></li>

                        {% if is_granted('ROLE_ADMIN_COMPANY') %} 
                         <li><a href='/admin/?entity=UserEntreprise'>Administration</a></li>
                         {% elseif is_granted('ROLE_PATRON') or is_granted('ROLE_ADMIN_STORE')  %}
                         <li><a href='/admin/?entity=UserStore'>Administration</a></li>
                         {% elseif  is_granted('ROLE_ADMIN') %}
                         <li><a href='/admin/?entity=User'>Administration</a></li>
                         {% endif %}
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('security_registration') }}">Inscription</a></li>
                <li><a href="{{ path('security_login') }}">Connexion</a></li>
            {% endif %}

        </ul>
    </nav><!-- .main-nav -->

</header><!-- #header -->