<!--==========================
Header
============================-->
<header id="header" class="fixed-top">

    <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ path('dashboard') }}"><img src="/images/logo_bv.png" alt=""></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
        <ul>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% set route =  app.request.get('_route') %}
                <li id="homebox" class="{{ route == 'dashboard' ? 'active':'deactivate-link' }}"><a href="{{ path('dashboard') }}">Accueil</a></li>
                <li id="communitybox" class="{{ route == 'search' ? 'active':'deactivate-link' }}" ><a href="{{ path('search') }}">Communauté</a></li>
                <li id="servicesbox" class="{{ route == 'service' ? 'active' :'deactivate-link'}}"><a href="{{ path('service') }}">Services</a></li>
                <li id="chatbox" class="{{ route == 'chat_topic' ? 'active' :'deactivate-link'}}"><a href="{{ path('chat_topic', {'name': 'general'}) }}" >Chat</a></li>
                <li class="drop-down"><a >{{ app.user.profile.firstname|capitalize ?:  app.user.email }}</a>
                    <ul>
                        <li class="{{ route == 'profile_show' ? 'active':'deactivate-link' }}"><a href="{{ path('profile_show', {'id': app.user.profile.id}) }}">Mon compte</a></li>
                        {%  if app.user.company %}
                        <li class="{{ route == 'company_show' ? 'active':'deactivate-link' }}"><a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Mon Entreprise</a></li>
                        {% endif %}
                        {#{%  if app.user.type.id != 6 %}#}
                          <li class="{{ route == 'store_show' ? 'active':'deactivate-link' }}"><a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Mon Magasin</a></li>
                        {#{% endif %}#}
                        {% if app.user.company != null %}
                          <li class="code-bv-btn"><a href="#">Ma carte Pro</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN_COMPANY') %} 
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserEntreprise'>Administration</a></li>
                         {% elseif is_granted('ROLE_ADMIN_STORE')  %}
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserStore'>Administration</a></li>
                             <ul class="admin-menu-items">
                                 <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                 <li><a href='/admin/?entity=UserStore'>utilisateurs</a></li>

                             </ul>
                         {% elseif  is_granted('ROLE_ADMIN_PLATEFORM') %}
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }} drop-down administration-link"><a href='/admin/?entity=User'>Administration</a>
                           <ul class="admin-menu-items">
                               <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                <li><a href='/admin/?entity=User'>utilisateurs</a></li>
                                <li><a href='/admin/?entity=Publicity'>Publicité</a></li>
                            </ul>
                         </li>
                         {% endif %}
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('security_registration') }}">Inscription</a></li>
                <li><a href="{{ path('security_login') }}">Connexion</a></li>
            {% endif %}

        </ul>
    </nav><!-- .main-nav -->

</header><!-- #header -->

{% block modals %}
   <div class="modal modal-get-bar-code fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ma carte pro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <div class="text-center">
                         {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                             {% if app.user.company != null %}
                                    {% if app.user.company.barCode %}
                                        <div class="box-barCode" data-intro="Code bar de votre entreprise" data-step="1" data-position="right">
                                            <p class="barCode-text">Vous pouvez utiliser ce code dans votre magasin de référence </p>
                                            <img class="bar-code-img" src="data:image/png;base64,{{ app.user.company.barCode }}" />
                                        </div>
                                    {% endif %}
                             {% endif %}
                         {% endif %}
                     </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}