<!--==========================
Header
============================-->
<header id="header" class="fixed-top">

    <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="{{ path('home') }}"><span>Bureau Vallée</span></a></h1>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
        <ul>
            <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('service') }}">Services</a></li>
            <li><a href="{{ path('chat') }}">Chat</a></li>
            <li class="drop-down"><a >{{ app.user.username|capitalize }}</a>
                <ul>
                    <li><a href="#">Mon profile</a></li>
                    <li><a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Mon entreprise</a></li>
                    <li><a href="#">Mon magasin</a></li>
                </ul>
            </li>
        </ul>
    </nav><!-- .main-nav -->

</header><!-- #header -->