<!--==========================
Header
============================-->
<header id="header" class="fixed-top">

    <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ path('dashboard') }}"><img src="/images/logo_bv.png" alt=""></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
        <ul>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% set route =  app.request.get('_route') %}
                <li class="{{ route == 'dashboard' ? 'active':'deactivate-link' }}"><a href="{{ path('dashboard') }}">Accueil</a></li>
                <li class="{{ route == 'search' ? 'active':'deactivate-link' }}"><a href="{{ path('search') }}">Communauté </a></li>
                <li class="{{ route == 'service' ? 'active' :'deactivate-link'}}"><a href="{{ path('service') }}">Services</a></li>
                <li class="{{ route == 'chat_topic' ? 'active' :'deactivate-link'}}"><a href="{{ path('chat_topic', {'name': 'general'}) }}">Chat</a></li>
                <li class="drop-down"><a >{{ app.user.profile.firstname|capitalize ?:  app.user.email }}</a>
                    <ul>
                        <li class="{{ route == 'profile_show' ? 'active':'deactivate-link' }}"><a href="{{ path('profile_show', {'id': app.user.profile.id}) }}">Mon compte</a></li>
                        {%  if app.user.company %}
                        <li class="{{ route == 'company_show' ? 'active':'deactivate-link' }}"><a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Mon entreprise</a></li>
                        {% endif %}
                        {#{%  if app.user.type.id != 6 %}#}
                          <li class="{{ route == 'store_show' ? 'active':'deactivate-link' }}"><a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Mon magasin</a></li>
                        {#{% endif %}#}
                        {% if is_granted('ROLE_ADMIN_COMPANY') %} 
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserEntreprise'>Administration</a></li>
                         {% elseif is_granted('ROLE_ADMIN_STORE')  %}
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }}"><a href='/admin/?entity=UserStore'>Administration</a></li>
                             <ul class="admin-menu-items">
                                 <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                 <li><a href='/admin/?entity=UserStore'>utilisateurs</a></li>

                             </ul>
                         {% elseif  is_granted('ROLE_ADMIN_PLATEFORM') %}
                         <li class="{{ route == 'easyadmin' ? 'active':'deactivate-link' }} drop-down administration-link"><a href='/admin/?entity=User'>Administration</a>
                           <ul class="admin-menu-items">
                               <li><a href='/admin/?entity=Store'>Magasin</a></li>
                                <li><a href='/admin/?entity=User'>utilisateurs</a></li>
                                <li><a href='/admin/?entity=Publicity'>Publicité</a></li>
                            </ul>
                         </li>
                         {% endif %}
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('security_registration') }}">Inscription</a></li>
                <li><a href="{{ path('security_login') }}">Connexion</a></li>
            {% endif %}

        </ul>
    </nav><!-- .main-nav -->

</header><!-- #header -->