{#{% if is_granted('ROLE_ADMIN_COMPANY') == true and app.user.company.subscription and app.user.company.subscription.isExpired == true %}
    <div class="warning p-3 warning-subscription">
        <button type="button" class="close close-subscription-notification" data-dismiss="alert" aria-label="close">&times;</button>
        <h5 class="alert-heading"><i class="fas fa-eye"></i> Votre abonnement Premium est arrivé à échéance</h5>
        <p class="mb-0"><a href="{{ path('subscription') }}" class="alert-link">Cliquez ici</a> pour le renouveler.</p>
    </div>
{% endif %}#}

<div class="warning p-3">
    {% if status is same as 'inscription' %}
        <h4 class="alert-heading"><i class="far fa-check-circle fa-2x"></i> Bravo {{ app.user.profile.firstname }} !</h4>
        <p class="mb-0"><a href="{{ path('service_new') }}"><strong>Créer votre premier service</strong></a> pour être visible par la communauté BeeV'up et le Magasin {{ app.user.store.name }}</p>
    {% elseif status is same as 'fullInscription' %}
        <h4 class="alert-heading"><i class="far fa-check-circle fa-2x"></i> Bravo {{ app.user.profile.firstname }} !</h4>
        <p class="mb-0">Votre entreprise et vos services sont visibles par la communauté BeeV'up et le Magasin {{ app.user.store.name }}</p>
    {% else %}
        <h4 class="alert-heading"><i class="fas fa-eye"></i> Bonjour {{ app.user.profile.firstname }} !</h4>
        <h5 class="mb-0">Qu'allez-vous faire aujourd'hui pour développer votre activité ?</h5>
        <ul>
            {% if untreatedRecommandations %}
                {% if is_granted('ROLE_ADMIN_STORE') or is_granted('ROLE_ADMIN_COMPANY') %}
                    <li>{{ untreatedRecommandations|length }}{% if untreatedRecommandations|length > 1 %} nouvelles recommandations{% elseif untreatedRecommandations|length == 1 %} nouvelle recommandation{% endif %} <a href="{{ path('recommandations') }}" class="alert-link">cliquer ici</a></li>
                {% endif %}
            {% endif %}

            {% if beContactedList %}
                {% if is_granted('ROLE_ADMIN_COMPANY') %}
                    <li>{{ beContactedList|length }}{% if beContactedList|length > 1 %} nouvelles demandes de contact{% elseif beContactedList|length == 1 %} nouvelle demande de contact{% endif %} <a href="{{ path('be_contacted_list', {'status': 'current'}) }}" class="alert-link">cliquer ici</a></li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
</div>

{#{% if app.user.company %}
    {% if app.user.profile.isCompleted != true or app.user.company.isCompleted != true%}
        <div class="warning p-3">
            <h5 class="alert-heading"><i class="fas fa-eye"></i> Vous n’êtes pas encore visible!</h5>
            <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté.
                {% if app.user.profile.isCompleted != true %}
                    <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" class="alert-link">Je complète mon profil</a>.
                {% endif %}
                {% if app.user.company and app.user.company.isCompleted != true %}
                    <a href="{{ path('company_edit', {'id': app.user.company.id}) }}" class="alert-link">Je complète mon entreprise</a>.
                {% endif %}

            </p>
        </div>
    {% endif %}
{% else %}
    {% if app.user.profile.isCompleted != true%}
        <div class="warning p-3">
            <h5 class="alert-heading"><i class="fas fa-eye"></i> Vous n’êtes pas encore visible!</h5>
            <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté.
                {% if app.user.profile.isCompleted != true %}
                    <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" class="alert-link">Je complète mon profil</a>.
                {% endif %}
            </p>
        </div>
    {% endif %}
{% endif %}

{% if untreatedRecommandations %}
    {% if is_granted('ROLE_ADMIN_STORE') or is_granted('ROLE_ADMIN_COMPANY') %}
        <div class="warning p-3">
            <h5 class="alert-heading"><i class="fas fa-eye"></i> {{ untreatedRecommandations|length }}
                {% if untreatedRecommandations|length > 1 %}
                    nouvelles recommandations
                {% elseif untreatedRecommandations|length == 1 %}
                    nouvelle recommandation
                {% endif %}
                </h5>
            <p class="mb-0">Vous avez des recommandations à gérer <a href="{{ path('recommandations') }}" class="alert-link">cliquer ici</a>.</p>
        </div>
    {% endif %}
{% endif %}

{% if beContactedList %}
    {% if is_granted('ROLE_ADMIN_COMPANY') %}
        <div class="warning p-3">
            <h5 class="alert-heading"><i class="fa fa-eye"></i> {{ beContactedList|length }}
                {% if beContactedList|length > 1 %}
                    nouvelles demandes de contact
                {% elseif beContactedList|length == 1 %}
                    nouvelle demande de contact
                {% endif %}
            </h5>
            <p class="mb-0">Vous avez des demandes de contact à gérer <a href="{{ path('be_contacted_list', {'status': 'current'}) }}" class="alert-link">cliquer ici</a>.</p>
        </div>
    {% endif %}
{% endif %}#}


