{% extends 'base.html.twig' %}

{% form_theme ServiceForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="main-section">
    <div class="container">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        <div class="user_profile">
                            <div class="user-pro-img">
                                {% if app.user.profile.filename %}
                                    <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                {% else %}
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                {% endif %}
                            </div>
                            <div class="user_pro_status">
                                <ul class="flw-hr">
                                    <li>
                                        <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" title="" class="flww">
                                            Modifier mes informations
                                        </a>
                                    </li>
                                </ul>
                            </div><!--user_pro_status end-->
                            <ul class="social_links">
                                {% if app.user.profile.mobileNumber != null %}  <li><i class="fas fa-mobile-alt"></i>  {{ app.user.profile.mobileNumber }} </li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="main-ws-sec">
                        <div class="product-feed-tab current" id="info-dd">
                            <div class="user-profile-ov page-title sign_in_sec current">
                                {% if edit == true %}
                                    <h3>Modifier mon service </h3>
                                {% else %}
                                    <h3> Ajouter un service</h3>
                                {% endif %}
                                {{ form_start(ServiceForm) }}
                                <div class="form-row">

                                    <div class="form-group required col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.title) }}

                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.title) }}
                                        </div>
                                    </div>
                                    <div class="form-group required col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.category) }}

                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.category) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group required col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.introduction) }}

                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.introduction) }}
                                        </div>
                                    </div>
                                    <div class="form-group required col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.description) }}

                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.description) }}
                                        </div>
                                    </div>

                                </div>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <div class="form-group">
                                        {{ form_label(ServiceForm.type) }}
                                        {{ form_errors(ServiceForm.type) }}
                                        {{ form_widget(ServiceForm.type) }}
                                    </div>
                                {% endif %}

                                <div id="images">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.imageFile) }}
                                            {{ form_errors(ServiceForm.imageFile) }}
                                            <div class="input-group">

                                                {{ form_widget(ServiceForm.imageFile) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.imageFile1) }}
                                            {{ form_errors(ServiceForm.imageFile1) }}
                                            <div class="input-group">

                                                {{ form_widget(ServiceForm.imageFile1) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.imageFile2) }}
                                            {{ form_errors(ServiceForm.imageFile2) }}
                                            <div class="input-group">

                                                {{ form_widget(ServiceForm.imageFile2) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.imageFile3) }}
                                            {{ form_errors(ServiceForm.imageFile3) }}
                                            <div class="input-group">

                                                {{ form_widget(ServiceForm.imageFile3) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div id="isQuotebox" class="form-group col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.isQuote) }}
                                        {{ form_errors(ServiceForm.isQuote) }}
                                        {{ form_widget(ServiceForm.isQuote) }}
                                    </div>

                                    <div id="isDiscovery" class="form-group col-lg-6 col-md-12">
                                        {{ form_label(ServiceForm.isDiscovery) }}
                                        {{ form_errors(ServiceForm.isDiscovery) }}
                                        {{ form_widget(ServiceForm.isDiscovery) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div  class="form-group col-lg-6 col-md-12">

                                        {{ form_label(ServiceForm.unity) }}
                                        {{ form_errors(ServiceForm.unity) }}
                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.unity) }}
                                        </div>
                                    </div>

                                    <div id="price"  class="form-group col-lg-6 col-md-12" {% if service.isQuote == true %} style="display: none" {% endif %}>
                                        {{ form_label(ServiceForm.price) }}
                                        <div class="input-group mb-3 service-price">


                                            {{ form_errors(ServiceForm.price) }}
                                            {{ form_widget(ServiceForm.price) }}
                                            <div class="input-group-append price-jt-div">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>





                                </div>

                                <div class="form-row">
                                    <div  class="form-group col-lg-6 col-md-12">

                                        {{ form_label(ServiceForm.vatRate) }}
                                        {{ form_errors(ServiceForm.vatRate) }}
                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.vatRate) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div id="discovery" class="form-group  col-md-12" >
                                        {{ form_label(ServiceForm.discoveryContent) }}
                                        {{ form_errors(ServiceForm.discoveryContent) }}
                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.discoveryContent) }}
                                        </div>
                                    </div>

                                </div>

                                <div id="toProfessionals" class="form-row">
                                    {{ form_label(ServiceForm.toProfessionals) }}
                                    {{ form_errors(ServiceForm.toProfessionals) }}
                                    <div class="input-group">
                                        {% if edit == true %}
                                     {{ form_widget(ServiceForm.toProfessionals) }}
                                        {% else  %}
                                        {{ form_widget(ServiceForm.toProfessionals, {'attr': {'checked': 'checked'}}) }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="toIndividuals" class="form-row">

                                        {{ form_label(ServiceForm.toIndividuals) }}
                                        {{ form_errors(ServiceForm.toIndividuals) }}
                                        <div class="input-group">

                                            {{ form_widget(ServiceForm.toIndividuals) }}
                                        </div>
                                </div>



                                </div>

                                <div class="form-actions form-group text-center">
                                    <button type="submit" class="m-orange-btn">Enregistrer</button>
                                </div>
                                {{ form_end(ServiceForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tutorial button -->
    <button id="tutorialButton" type="button" class="btn btn-secondary" onclick="tutorialNewService()"><i class="fa fa-question-circle fs-big u-mr1"></i> Tutoriel</button>


{% endblock %}

{% block javascripts %}
    <script src="/js/modals.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>
{% endblock %}
