{% extends 'base.html.twig' %}

{% form_theme ServiceForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-2">
                    {% if is_granted('ROLE_ADMIN_COMPANY') %}
                        <button type="button" title="choose model" class="btn white-bg full-width mt-3" data-toggle="modal" data-target="#chooseModel">
                            Choisir un modèle
                        </button>
                    {% endif %}
                </div>

                <div class="col-lg-9">
                    <div class="main-ws-sec">
                        <div class="product-feed-tab current" id="info-dd">
                            <div class="user-profile-ov page-title sign_in_sec current">
                                {% if edit == true %}
                                    <h3>Modifier mon service </h3>
                                {% else %}
                                    <h3> Ajouter un service</h3>
                                {% endif %}

                                {{ form_start(ServiceForm, {'attr':{'id':'BVformService'}})}}
                                    <div class="form-row">
                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.title) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.title) }}
                                            </div>
                                        </div>
                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.category) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.category) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.introduction) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.introduction) }}
                                            </div>
                                        </div>
                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.description) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.description) }}
                                            </div>
                                        </div>
                                    </div>

                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <div class="form-group">
                                            {{ form_label(ServiceForm.type) }}
                                            {{ form_errors(ServiceForm.type) }}
                                            {{ form_widget(ServiceForm.type) }}
                                        </div>
                                    {% endif %}

                                    <div class="form-row">
                                        <div id="isQuotebox" class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.isQuote) }}
                                            {{ form_errors(ServiceForm.isQuote) }}
                                            {{ form_widget(ServiceForm.isQuote) }}
                                        </div>

                                        <div id="isDiscovery" class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.isDiscovery) }}
                                            {{ form_errors(ServiceForm.isDiscovery) }}
                                            {{ form_widget(ServiceForm.isDiscovery) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div  class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.unity) }}
                                            {{ form_errors(ServiceForm.unity) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.unity) }}
                                            </div>
                                        </div>

                                        <div id="price"  class="form-group col-lg-6 col-md-12" {% if service.isQuote == true %} style="display: none" {% endif %}>
                                            {{ form_label(ServiceForm.price) }}
                                            <div class="input-group mb-3 service-price">
                                                {{ form_errors(ServiceForm.price) }}
                                                {{ form_widget(ServiceForm.price) }}
                                                <div class="input-group-append price-jt-div">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div  class="form-group col-lg-6 col-md-12">
                                            {{ form_label(ServiceForm.vatRate) }}
                                            {{ form_errors(ServiceForm.vatRate) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.vatRate) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12 service-type">
                                            <div id="toProfessionals" class="col-lg-6">
                                                {{ form_label(ServiceForm.toProfessionals) }}
                                                {{ form_errors(ServiceForm.toProfessionals) }}
                                                <div class="input-group">
                                                    {% if edit == true %}
                                                        {{ form_widget(ServiceForm.toProfessionals) }}
                                                    {% else  %}
                                                        {{ form_widget(ServiceForm.toProfessionals, {'attr': {'checked': 'checked'}}) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div id="toIndividuals" class="col-lg-6">
                                                {{ form_label(ServiceForm.toIndividuals) }}
                                                {{ form_errors(ServiceForm.toIndividuals) }}
                                                <div class="input-group">
                                                    {{ form_widget(ServiceForm.toIndividuals) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div id="discovery" class="form-group  col-lg-12" >
                                            {{ form_label(ServiceForm.discoveryContent) }}
                                            <div class="input-group">
                                                {{ form_widget(ServiceForm.discoveryContent) }}
                                            </div>
                                            {{ form_errors(ServiceForm.discoveryContent) }}
                                        </div>
                                    </div>


                                <div class="form-row">
                                    <div class="form-group required col-lg-3 col-md-12">
                                        <label class="add-file-label" for="service_imageFile"> <span>Image principale  …</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                </path>
                                            </svg>
                                        </label>

                                        <div class="input-group data-entity-id upload-photo"
                                             data-entity-id="{{ service.id }}"
                                             data-previous="{{ previous }}"
                                             {%  if service.user.company != null  %}data-company-slug="{{ service.user.company.slug }}" data-company-id="{{ service.user.company.id }}" {% endif %}
                                             data-url={% if edit == true %} "{{  path('service_edit',{'id':service.id})}}" {% else %} "{{  path('service_new')}}"{% endif %}>
                                            {{ form_widget(ServiceForm.imageFile) }}
                                        </div>
                                        <div id="previous-image">
                                            <img src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="">
                                         </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-md-12">
                                        <label class="add-file-label" for="service_imageFile1"> <span>Image Galerie 1 …</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                </path>
                                            </svg>
                                        </label>
                                        <div class="input-group">
                                            {{ form_widget(ServiceForm.imageFile1) }}
                                        </div>
                                        <div id="previous-image1">
                                            <img src="{{ vich_uploader_asset(service, 'imageFile1') }}" alt="">
                                        </div>
                                        <span class="delete-img-service {% if service.filename1 =='' %} d-none {% endif %}" data-input-id="service_imageFile1" data-service-id="{{ service.id }}">Supprimer</span>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-12">
                                        <label class="add-file-label" for="service_imageFile2"> <span>Image Galerie2…</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                </path>
                                            </svg>
                                        </label>
                                        <div class="input-group">
                                            {{ form_widget(ServiceForm.imageFile2) }}
                                        </div>
                                        <div id="previous-image2">
                                            <img src="{{ vich_uploader_asset(service, 'imageFile2') }}" alt="">
                                        </div>
                                        <span class="delete-img-service {% if service.filename2 =='' %} d-none {% endif %}" data-input-id="service_imageFile2" data-service-id="{{ service.id }}">Supprimer</span>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-12">
                                        <label class="add-file-label" for="service_imageFile3"> <span>Image Galerie 3 …</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                </path>
                                            </svg>
                                        </label>
                                        <div class="input-group">
                                            {{ form_widget(ServiceForm.imageFile3) }}
                                        </div>
                                        <div id="previous-image3">
                                            <img src="{{ vich_uploader_asset(service, 'imageFile3') }}" alt="">
                                        </div>
                                        <span class="delete-img-service {% if service.filename3 =='' %} d-none {% endif %}" data-input-id="service_imageFile3" data-service-id="{{ service.id }}">  Supprimer</span>
                                    </div>
                                </div>

                                <div class="text-center hide-load">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                                {#<div class="serviceError"></div>#}
                                <div class="file-not-correct"></div>

                                <div class="form-actions form-group text-center">
                                    <button type="submit" class="m-orange-btn">Enregistrer</button>
                                </div>

                                {{ form_end(ServiceForm) }}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Tutorial button -->
    <button id="tutorialButton" type="button" class="btn btn-secondary" onclick="tutorialNewService()"><i class="fa fa-question-circle fs-big u-mr1"></i> Tutoriel</button>

{% endblock %}

{% block modals %}
    {% include 'default/modals/service/choose-model.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modals') }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
