{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
  <main>
      <div class="container-bv">
          <div class="">
              <div class="row">
                  <div class="col-lg-3">
                      <div id="servicessearchbox" class="user-profile-ov page-title sign_in_sec current page-title">
                          <div class="">
                              <h5>Filtres</h5>
                              <small>Utilisez les filtres pour affiner votre recherche</small>
                          </div><!--filter-heading end-->
                          {{ form_start(searchForm) }}

                                  <div class="form-group">
                                    {{ form_widget(searchForm.query) }}
                                  </div>
                                  <div class="form-group">
                                    {{ form_widget(searchForm.category) }}
                                  </div>
                                  <div id="specialofferbox" class="form-group">
                                     {{ form_row(searchForm.isDiscovery) }}
                                  </div>

                                  <div class="filter-dd">
                                      <div class="col-12 form-actions form-group">
                                          <button  type="submit" class="btn small-btn orange-bg mr-2">Chercher</button>
                                      </div>
                                  </div>

                          {{ form_end(searchForm) }}
                      </div>
                      {% include 'default/boxes/add-service-component.html.twig' %}

                      <!-- Tutorial button -->
                      <div id="tutorial" class="d-sm-none d-lg-block">
                          <small class="greyed">Besoin d'aide ?</small>
                          <div>
                              <button class="btn grey-bg-white full-width" onclick="tutorialServices()"><i class="fas fa-question mr-2"></i>Tutoriel</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-9">
                     <div class="page-description">
                          {% if isPrivate == true %}
                            <h3>Mes services</h3>
                            <p>Contribuez à la vie de votre communauté en proposant vos services !</p>
                          {% elseif isDiscovery == true %}
                              <h3>Offres exclusives Beev'Up</h3>
                              <p>Les offres exclusives Beev'Up accroissent votre visibilité au sein de la communauté tout en vous attribuant des points BV !</p>
                          {% else %}
                              <h3>Services</h3>
                              <p>Faites votre marché dans les services proposés par la communauté locale.</p>
                              <p class="pb-1">  Proposez vos services et développez votre activité.</p>

                          {% endif %}
                      </div>
                      {% if app.request.attributes.get('_route') == 'service_company' and app.user.company.isValid == false %}
                         <div class="warning-disabled-services page-description">
                            <h5><i class="fas fa-exclamation-circle"></i> Vos services ne sont pas visibles par votre communauté !</h5>
                            <p>Il se peut que votre entreprise soit désactivée pour des raisons de sécurité. <br>Nous vous invitons à contacter votre conseiller pour plus d'informations. </p>
                          </div>
                      {% endif %}
                          {% if services is not empty %}
                            <div class="row">
                              {% for service in services %}
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                      <div class="company_profile_info">
                                          {% if service.isDiscovery %}
                                              <div class="badge-box">
                                                  <span class="badge badge-pill special-offer-badge">offre exclusive beevup</span>
                                              </div>
                                          {% endif %}
                                          <div class="company-up-info">
                                              <div class="company-image">
                                                  <a href="{{ path('service_show', {'id': service.id}) }}">
                                                      {% if service.filename %}
                                                          <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('service_card') }}" alt="">
                                                      {% else  %}
                                                          <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                      {% endif %}
                                                  </a>

                                                  {% include 'default/cards/infos-stickers.html.twig' with {
                                                      'item': service,
                                                  } %}

                                              </div>
                                              <div class="company-introduction-bloc">
                                                  <h3>{{ service.title|slice(0, 100) }} {% if service.title|length > 100 %}...{% endif %}</h3>
                                              </div>

                                          </div>
                                          <a href="{{ path('service_show', {'id': service.id}) }}"  title="" class="view-more-pro">Voir plus</a>
                                      </div>
                                      <!--company_profile_info end-->
                                  </div>
                              {% endfor %}
                            </div>
                          {% else %}
                              <div class="box full-width">
                                  <div class="text-center">
                                      <p><strong>Aucun service crée pour l'instant ! <a href="{{ path('service_new') }}">Je crée un service</a></strong></p>
                                  </div>
                              </div>
                          {% endif %}
                  </div>

              </div>
          </div>
      </div>
  </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modals') }}
{% endblock %}