{% if services is not empty %}
    <div class="row">
        {% for service in services %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="company_profile_info">
                    <div class="company-up-info">
                        <div class="company-image">
                            <a href="{{ path('service_show', {'id': service.id}) }}">
                                <h3>{{ service.title|slice(0, 100) }} {% if service.title|length > 100 %}...{% endif %}</h3>
                                {% if service.filename %}
                                    <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('service_card') }}" alt="">
                                {% else  %}
                                    <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                {% endif %}
                            </a>

                        </div>
                        <div class="company-introduction-bloc">
                            <h5>{{ service.introduction|slice(0, 60)}} {% if service.introduction|length > 60 %}...{% endif %}</h5>
                        </div>

                    </div>
                    <a href="{{ path('service_from_model', {'id': service.id}) }}" id="btn-select-model"  title="" class="view-more-pro">Séléctionner</a>
                </div>
                <!--company_profile_info end-->
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="box full-width">
        <div class="text-center">
            <p><strong>Aucun model pour l'instant</strong></p>
        </div>
    </div>
{% endif %}