{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}

    <section id="service" >
        <div class="container-mvp mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-image">
                        {% if service.filename %}
                            <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('square') }}" class="img-fluid" alt="">
                        {% else %}
                            <img src="/images/default/unknown_bg.png" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if service.type.name =='company' %}
                            <h4><small>Proposé par : </small>{{ service.user.company.name|capitalize }}</h4>
                            <p><a href="{{ path('company_show', {'slug': service.user.company.slug}) }}">Voir les informations de {{ service.user.company.name }}</a></p>
                        {% elseif service.type.name =='store' %}
                            <h4><small>Proposé par : </small>{{ service.user.store.name|capitalize }}</h4>
                            <p><a href="{{ path('store_show', {'slug': service.user.store.slug}) }}">Voir les informations de {{ service.user.store.name }}</a></p>
                        {% else %}
                            <h4><small>Proposé par : </small>Bureau Vallée</h4>
                        {% endif %}
                        <h6 class="mt-3"><small>Chargé du service : </small>{{ service.user.profile.firstname|capitalize }} {{ service.user.profile.lastname|capitalize }}</h6>

                        <div class="mt-3">
                            {% if service.user != app.user %}

                                        {% if service.isQuote == 1 %}
                                            <p class="mt-3">Prix :
                                               <a target="_blank"  href="{{ path('chat_private', {'id': service.user.id}) }}">Demander un devis</a>
                                            </p>
                                        {% else %}


                                                {% if storeService %}
                                                    {% if storeService.price != '' %}
                                                        <p class="mt-3">Prix :
                                                           {{ storeService.price }} €.H.T
                                                        </p>
                                                    {% endif %}
                                                {% else %}

                                                    {% if service.price != '' %}
                                                        <p class="mt-3">Prix :
                                                        {{ service.price }} €.H.T
                                                        </p>
                                                    {% endif %}
                                                {% endif %}

                                        {% endif %}

                                <p class="mt-3">Offre exclusive Beev'Up :
                                    {% if service.isDiscovery == 1 %}
                                        <strong>
                                            <span data-container="body" data-toggle="popover" data-placement="left" data-content="{{ service.discoveryContent }}" data-original-title="Desciption de l'offre exclusive" style="cursor: pointer;">Oui</span>
                                        </strong>
                                    {% else %}
                                        <strong>Non</strong>
                                    {% endif %}</p>
                                <p class="mt-3"><a target="_blank" href="{{ path('profile_show', {'id': service.user.profile.id}) }}">Voir la fiche de {{ service.user.profile.firstname|capitalize }}</a></p>
                                <p><a target="_blank" href="{{ path('chat_private', {'id': service.user.id}) }}">Discuter avec {{ service.user.profile.firstname|capitalize }}</a></p>
                            {% else %}
                                <p><a href="{{ path('profile_show', {'id': service.user.profile.id}) }}">Mes informations</a></p>
                            {% endif %}
                        </div>
                     </div>

                    <div class="box">
                        <h4 class="mb-4">Services similaires</h4>
                        {% if similarServices %}
                            <div class="similars-services">
                                {% for service in similarServices %}
                                    <a href="{{ path('service_show', {'id': service.id}) }}">
                                        <div class="similar-service">
                                            <div class="avatar">
                                                {% if service.filename %}
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
                                                {% else %}
                                                    <img src="/images/default/unknown_bg.png" class="img-fluid" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="content p-2">
                                                <strong>{{ service.title }}</strong>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-muted">Aucun service similaire pour l'instant</p>

                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4>{{ service.title }}</h4>
                                <p class="lead">{{ service.introduction|raw }}</p>
                                {% if 'ROLE_ADMIN_STORE' in service.user.roles %}
                                    <p><i class="fa fa-map-marker"></i> {{ service.user.store.city ?? 'Les clayes sous bois' |capitalize }}
                                        {% if service.user.store.country != null %}, {{ service.user.store.country|country_name}} {% endif %}</p>
                                {% elseif 'ROLE_ADMIN_COMPANY' in service.user.roles %}
                                    <p><i class="fa fa-map-marker"></i> {{ service.user.company.city ?? 'Les clayes sous bois' |capitalize }}
                                        {% if service.user.company.country != null  %}, {{ service.user.company.country|country_name}} {% endif %}</p>
                                {% endif %}
                            </div>
                            <div class="col-lg-4">
                                {% if service.user == app.user %}
                                    <a href="{{ path('service_edit', {'id': service.id}) }}" type="button" class="btn btn-design btn-1">Editer le service</a>
                                    <a href="#" type="button" class="btn btn-design btn-2 mt-3" data-toggle="modal" data-target="#confirmDelete">Supprimer le service</a>
                                {% elseif service.type.name == 'plateform' %}
                                    {% if is_granted('ROLE_ADMIN_STORE') %}
                                        {% if storeService %}
                                            <a href="{{ path('service_dissociate', {'id': service.id}) }}" type="button" class="btn btn-design btn-1">Retirer ce service</a>
                                            <a href="#" type="button" class="btn btn-design btn-2 mt-3" data-toggle="modal" data-target="#editPrice">Editer le prix</a>
                                        {% else %}
                                            <a href="{{ path('service_associate', {'service': service.id}) }}" type="button" class="btn btn-design btn-1">Ajouter ce service</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <h4 class="mb-3">Description</h4>
                        <p class="text-secondary">{{ service.description|raw }}</p>
                        {#<a href="#"><small>Voir plus ...<span class="."></span></small></a>#}
                    </div>

                    <div id="photos" class="box">
                        <h4 class="mb-3">Photos</h4>
                        {% if service.filename1 %}
                        <div class="row">
                            <div class="col-lg-8">
                                <img src="{{ vich_uploader_asset(service, 'imageFile1') }}" class="img-fluid active" alt="">
                            </div>
                            <div class="col-lg-4">
                                <img src="{{ vich_uploader_asset(service, 'imageFile2') }}" class="img-fluid second" alt="">
                                <img src="{{ vich_uploader_asset(service, 'imageFile3') }}" class="img-fluid second mt-3" alt="">
                            </div>
                        </div>
                        {% else %}
                            <p class="text-muted">Aucune image pour ce service</p>
                        {% endif %}
                    </div>

                    <div class="box">
                        <div class="row">
                            <div class="col-6">
                                <h4>Recommandations</h4>
                            </div>
                            <div class="col-lg-6 text-right add-recommandation-service">
                                {% if service.user.id != app.user.id  and app.user.profile.isCompleted == true %}
                                    <p><a href="#" type="button" class="add-recommandation btn btn-sm btn-2"  data-whatever="@getbootstrap"  data-toggle="modal" data-target="{{ path('recommandation') }}" data-service="{{service.id}}" data-company="{{companyId}}"><i class="fa fa-thumbs-up"></i> Laisser une recommandation </a></p>
                                {% endif %}
                            </div>
                        </div>
                        {% if recommandations %}
                            {% for recommandation in recommandations %}
                                <div class="recommandation">
                                    <div class="avatar">
                                        {% if recommandation.user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" class="img-fluid" alt="">
                                        {% else %}
                                            <img src="/images/default/user.png" class="img-fluid" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="content p-2">
                                        <p><strong>{{recommandation.user.profile.lastname|capitalize }} {{recommandation.user.profile.firstname|capitalize }}</strong></p>
                                        <p class="text-muted">{{recommandation.message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-muted">Aucune recommandation pour l'instant</p>
                        {% endif %}
                    </div>

                    {% if recommandationsCompany %}
                        <div class="box">
                            <h5>D'autres personnes ont recommandé {{ service.user.company|capitalize }}</h5>
                            {% for recommandationCompany in recommandationsCompany %}
                                <div class="recommandation">
                                    <div class="avatar">
                                        {% if recommandationCompany.user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(recommandationCompany.user.profile, 'imageFile') }}" class="img-fluid" alt="">
                                        {% else %}
                                            <img src="/images/default/user.png" class="img-fluid" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="content p-2">
                                        <p><strong>{{recommandationCompany.user.profile.lastname|capitalize }} {{recommandationCompany.user.profile.firstname|capitalize }}</strong></p>
                                        <p class="text-muted">{{recommandationCompany.message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
       </div>
    </section>

{% endblock %}

{% block modals %}
    <div class="modal fade"
         id="recommandation"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal" id="confirmDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Souhaitez-vous supprimer ce service ?</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('service_remove', {'id': service.id}) }}" type="button" class="btn btn-secondary">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="editPrice">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Ajouter votre propre prix</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('service_config', {'id': service.id}) }}" method="post">
                    <div class="modal-body">
                        <label for="price">Prix</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="text" name="price" required>
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Editer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

