{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}
<div class="main-section">
    <div class="container">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        <div class="user_profile">
                            <div class="user-pro-img">
                                {% if service.filename %}
                                    <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('square') }}"  alt="">
                                {% else %}
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                {% endif %}
                                <div class="user_pro_status">
                                    <ul class="flw-hr">
                                        {% if service.user == app.user %}
                                            <li>
                                                <a href="{{ path('service_edit', {'id': service.id}) }}" class="flww">
                                                    Modifier
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" type="button" class="flww" data-toggle="modal" data-target="#confirmDelete">
                                                    Supprimer
                                                </a>
                                            </li>

                                        {% elseif service.type.name == 'plateform' %}
                                            {% if is_granted('ROLE_ADMIN_STORE') %}
                                                {% if storeService %}
                                                    <a href="{{ path('service_dissociate', {'id': service.id}) }}" type="button" class="flww">Retirer</a>
                                                    <a href="#" type="button" class="flww" data-toggle="modal" data-target="#editPrice">Editer le prix</a>
                                                {% else %}
                                                    <li>
                                                      <a href="{{ path('service_associate', {'service': service.id}) }}" type="button" class="flww">Ajouter ce service</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank"  href="{{ path('chat_private', {'id': service.user.id}) }}"> Demander un devis</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    <ul class="flw-status">
                                        <li>
                                            <span><b>Prix:</b>
                                                {% if storeService %}
                                                    {% if storeService.price != '' %}
                                                         {{ storeService.price }} €.H.T
                                                    {% endif %}
                                                {% else %}
                                                   {{ service.price }} €.H.T
                                                {% endif %}
                                            </span>
                                        </li>
                                        {% if service.isDiscovery == 1 %}
                                            <li>
                                                <span>
                                                    <b> Offre exclusive Beev'Up</b>
                                                </span>
                                            </li>
                                        {% endif %}


                                    </ul>
                                </div><!--user_pro_status end-->
                            </div>
                        </div>
                        {% if similarServices %}
                            <div class="suggestions full-width">
                                <div class="sd-title page-title sign_in_sec current">
                                    <h3>Services similaires</h3>

                                </div><!--sd-title end-->

                                <div class="suggestions-list">
                                    {% for service in similarServices %}
                                        <div class="suggestion-usd">
                                           <div class="service-bloc-inf">
                                                {% if service.filename %}
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('square') }}"  alt="">
                                                {% else %}
                                                    <img src="http://via.placeholder.com/170x170" alt="">
                                                {% endif %}
                                           </div>
                                            <div class="sgt-text" style="position: relative;left: 10px;float: left;width: 193px;">
                                                <h4> <a href="{{ path('service_show', {'id': service.id}) }}" title="">{{ service.title|slice(0, 50) ~ '...'  }}</a></h4>

                                            </div>
                                        </div>
                                    {% endfor %}


                                </div><!--suggestions-list end-->
                            </div><!--suggestions end-->
                        {% endif %}




                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h3>{{ service.title }}</h3>
                            <div class="star-descp">
                                {% if service.type.name =='company' %}
                                    <p>
                                        <span>
                                         Proposé par :
                                        <a href="{{ path('company_show', {'slug': service.user.company.slug}) }}">
                                            {{ service.user.company.name|capitalize }}
                                        </a>
                                    </span>
                                    </p>
                                {% elseif service.type.name =='store' %}
                                    <p><span> Proposé par: Bureau Vallée </span></p>
                                    <p><span> Chargé du service:
                                        <a href="{{ path('profile_show', {'id': service.user.profile.id}) }}">
                                          {{ service.user.profile.firstname|capitalize }} {{ service.user.profile.lastname|capitalize }}
                                        </a>
                                    </span>
                                    </p>
                                {% endif %}


                            </div><!--star-descp end-->
                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current">
                                    <h3> A propos du service</h3>
                                     <p>{{ service.description|raw ?: 'Pas de description' }}</p>
                                 </div>
                                <div class="user-profile-ov page-title sign_in_sec current">
                                    <h3> Photos</h3>
                                    <div class="gallery_pf">
                                        <div class="row">
                                            {% if service.filename1 %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile1') }}" alt="">
                                                        <a href="#" title=""><img src="{{ vich_uploader_asset(service, 'imageFile1') }}" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile2') }}" alt="">
                                                        <a href="#" title=""><img src="{{ vich_uploader_asset(service, 'imageFile2') }}" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile3') }}" alt="">
                                                        <a href="#" title="">  <img src="{{ vich_uploader_asset(service, 'imageFile3') }}" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>

                                            {% else %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="http://via.placeholder.com/170x170" alt="">
                                                        <a href="#" title=""><img src="http://via.placeholder.com/170x170" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="http://via.placeholder.com/170x170" alt="">
                                                        <a href="#" title=""><img src="http://via.placeholder.com/170x170" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="http://via.placeholder.com/170x170" alt="">
                                                        <a href="#" title=""><img src="http://via.placeholder.com/170x170" alt=""></a>
                                                    </div><!--gallery_pt end-->
                                                </div>

                                            {% endif %}




                                        </div>
                                    </div><!--gallery_pf end-->
                                </div>








                                <div class="user-profile-ov st2 page-title sign_in_sec current">
                                    <h3>
                                        <a href="#" title="" class="exp-bx-open">La communauté a recommandé ce service </a>
                                    </h3>
                                    {% if recommandations %}
                                        {% for recommandation in recommandations %}
                                            <div class="suggestion-usd">
                                                {% if recommandation.user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" alt="">
                                                {% else %}
                                                    <img src="http://via.placeholder.com/35x35" alt="">
                                                {% endif %}

                                                <div class="sgt-text hover-info">
                                                    <h4>
                                                        <a href="{{ path('profile_show', {'id': recommandation.user.profile.id}) }}">
                                                        {{recommandation.user.profile.lastname|capitalize }} {{recommandation.user.profile.firstname|capitalize }}</a></h4>
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandation.user} %}
                                                </div>
                                                <p style="float: left;position: relative;left: 11px;top: -10px;width: 84%;" class="recommandation-message">
                                                    {{ recommandation.message  }}
                                                </p>

                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>Aucune recommandation pour l'instant</p>
                                    {% endif %}
                                </div><!--user-profile-ov end-->
                                {% if service.user.company != null %}
                                   <div class="user-profile-ov st2 page-title sign_in_sec current">
                                    <h3>
                                        <a href="{{ path('company_show', {'slug': service.user.company.slug}) }}">
                                            {{ service.user.company.name|capitalize }}
                                           D'autres personnes ont recommandé {{ service.user.company|capitalize }}
                                        </a>
                                    </h3>
                                    {% if recommandationsCompany %}
                                        {% for recommandationCompany in recommandationsCompany %}
                                            <div class="suggestion-usd">
                                                {% if recommandationCompany.user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(recommandationCompany.user.profile, 'imageFile') }}" alt="">

                                                {% else %}
                                                    <img src="http://via.placeholder.com/35x35" alt="">
                                                {% endif %}

                                                <div class="sgt-text hover-info">
                                                    <h4>
                                                        <a href="{{ path('profile_show', {'id': recommandationCompany.user.profile.id}) }}">
                                                          {{recommandationCompany.user.profile.lastname|capitalize }} {{recommandationCompany.user.profile.firstname|capitalize }}
                                                        </a>
                                                    </h4>
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationCompany.user} %}
                                                </div>
                                                <p style="float: left;position: relative;left: 11px;top: -10px;width: 84%;" class="recommandation-message">
                                                        {{recommandationCompany.message }}
                                                </p>

                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>Aucune recommandation pour l'instant</p>
                                    {% endif %}
                                </div><!--user-profile-ov end-->
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        <div class="message-btn">
                            <div class="message-btn">
                                {% if service.user.id != app.user.id  and app.user.profile.isCompleted == true %}
                                   <a href="#" type="button" class="add-recommandation btn btn-sm btn-2"  data-whatever="@getbootstrap"
                                      data-toggle="modal" data-target="{{ path('recommandation') }}" data-service="{{service.id}}"
                                      data-company="{{companyId}}"><i class="fa fa-thumbs-up"></i> Laisser une recommandation </a>
                                {% endif %}
                            </div>
                        </div>
                       <div class="widget widget-jobs">
                           <div class="user-profile-ov page-title sign_in_sec current">
                               <h3>participez à la vie de votre communauté ! </h3>
                               <p>Soyez parmi ceux qui pensent à la communauté en proposant des offres exclusives Beev'Up à vos services
                                   et gagnez en visibilité ainsi que des points Bureau Vallée !
                               </p>
                               <div class="lt-sec">
                                            <a href="{{ path('service_new') }}" title="">Je crée un service</a>
                                        </div>
                                    </div><!--user-profile-ov end-->
                                </div><!--widget-jobs end-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
    <div class="modal fade"
         id="recommandation"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal" id="confirmDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Souhaitez-vous supprimer ce service ?</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('service_remove', {'id': service.id}) }}" type="button" class="btn small-btn grey-bg p-5">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="editPrice">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Ajouter votre propre prix</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('service_config', {'id': service.id}) }}" method="post">
                    <div class="modal-body">
                        <label for="price">Prix</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="text" name="price" required>
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Editer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

