{% extends 'extern/base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('searchExtern') }}
{% endblock %}

{% block body %}
    <div class="search">
        <div class="grey-block search-bar-block">
            <div class="extern-container">

            <p class="subtitle">Ma recherche</p>

            <div class="search-form">
                {{ form_start(form) }}
                    <div class="d-flex">
                        <div class="d-flex">
                            {{ form_row(form.query) }}
                            {{ form_row(form.postalCode) }}
                        </div>
                        <span>ou</span>
                        <a type="button" class="btn-bg-white search-locate-btn js-search-locate-btn" href="#">Me localiser</a>
                        <button type="submit" class="btn-bg-orange search-submit-btn">Rechercher</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="grey-block search-items-block">
        <div class="extern-container">
            <div class="search-items-title">
                {% if query is defined %}
                    <p><span>{{ results|length }}</span> Services correspondent à la recherche « <strong>{{ query ?? '' }}</strong> »</p>
                {% else %}
                    <p><span>{{ results|length }}</span> Services</p>
                {% endif %}
            </div>

            <div class="row">
                {% for service in results %}
                    <div class="col-lg-4 col-md-6">
                    <div class="box-item">
                        {% if labeled is defined and labeled[service.id] is defined and labeled[service.id] == true %}
                            <div class="box-tag">
                                <img src="{{ asset('build/images/extern/search/label_icon.png') }}" alt="label icon">
                                <span>Labelisée</span>
                            </div>
                        {% endif %}
                        {% if service.filename is empty %}
                            <img src="{{ asset('build/images/no-available-photo.png') }}" alt="search-item">
                        {% else  %}
                            <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_card') }}" >
                        {% endif %}
                        <p class="title-item">{{ service.title }}</p>
                        <div class="box-location">
                            {% if distances is defined and distances and distances[service.id] is defined and distances[service.id] < 1000 %}
                                {% if distances[service.id] < 1  %}
                                    <span>À moins d'un kilomètre</span>
                                {% else %}
                                    <span>{{ distances[service.id]|round }} Km</span>
                                {% endif %}
                            {% else %}
                                <span>Distance non définie</span>
                            {% endif %}
                            {% if locations is defined and locations[service.id] is defined  %}
                                <span>{{ locations[service.id] }}</span>
                            {% endif %}
                        </div>
                        <div class="box-description">
                            <p>{{ service.description }}</p>
                        </div>
                        <a type="button" class="btn-bg-white" href="{{ path('extern_service', {'id': service.id}) }}">Accéder</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.js"></script>  {# yarn add devbridge-autocomplete --dev importation not working #}
    {{ encore_entry_script_tags('searchExtern') }}
{% endblock %}