{% extends 'extern/base.html.twig' %}

{% block title %}Service{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('serviceExtern') }}
{% endblock %}

{% block body %}
    <div class="service">
        <div class="extern-container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-4">
                        <a class="blue-link " href="#" onclick="history.back();">< Page de résultats</a>
                    </div>
                    <div class="box-grey">
                        <div class="mb-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="images d-flex">
                                        <div class="image-principal">
                                            {% if service.filename %}
                                                <img src="{{ vich_uploader_asset(service, 'imageFile')}}"  alt="service image">
                                            {% else %}
                                                <img src="{{ asset('build/images/no-available-photo.png') }}" alt="service image">
                                            {% endif %}
                                        </div>
                                        <div class="secondaries">
                                            {% if service.filename1 %}
                                                <div class="image-secondary">
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile1') }}" alt="">
                                                </div>
                                            {% endif %}
                                            {% if service.filename2 %}
                                                <div class="image-secondary">
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile2') }}" alt="">
                                                </div>
                                            {% endif %}
                                            {% if service.filename3 %}
                                                <div class="image-secondary">
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile3') }}" alt="">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <h1 class="">{{ service.title }}</h1>
                                    <p><small>Catégorie du service : </small><span>{{ service.category }}</span></p>
                                    <p><small>Proposé par : </small>
                                        {% if storeService %}
                                            <a class="orange-link" href="{{ path('store_show', {'slug': storeService.store.slug}) }}">
                                                {{ storeService.store.name|capitalize }}
                                            </a>
                                        {% elseif service.type.name =='store' or service.type.name == 'plateform' %}
                                            <a class="orange-link" href="{{ path('store_show', {'slug': service.user.store.slug}) }}">
                                                {{ service.user.store.name|capitalize }}
                                            </a>
                                        {% elseif service.type.name =='company' %}
                                            <a class="orange-link" href="{{ path('extern_company', {'id': expertMeeting.user.company.id}) }}">
                                                {{ service.user.company.name|capitalize }}
                                            </a>
                                        {% endif %}
                                    </p>
                                    <div class="small-blue-box">
                                        {#<p><span>100€</span> .HT</p>
                                        <p>120€ .TTC</p>#}
                                        {% if service.isQuote %}
                                            <p><span>Sur devis</span></p>
                                        {% else %}
                                            {% if storeService and storeService.price != '' %}
                                                <p><span>{{ storeService.price }}€</span> .H.T</p>
                                            {% else %}
                                                <p><span>{{ service.price }}€</span> .H.T</p>
                                            {% endif %}
                                        {% endif %}
                                        <hr>
                                        <p>Par {% if service.unity != null  %} {{ service.unity }}{% else %}prestation{% endif %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <h3>À propos du service</h3>
                            <p>{{ service.description }}.</p>
                        </div>
                        <div class="box recommandations">
                            <h3>Recommandations</h3>
                            {% if recommandations %}
                                {% for recommandation in recommandations %}
                                    <div class="d-flex">
                                        {% if recommandation.user.profile.filename %}
                                            <img class="square" src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="user image">
                                        {% else %}
                                            <img class="square" src="{{ asset('build/images/no-available-photo.png') }}" alt="user image">
                                        {% endif %}
                                        <div>
                                            <span>{{ recommandation.user.profile.firstname }} {{ recommandation.user.profile.lastname }}</span>
                                            <p><span class="orange-span"><i>{{ recommandation.user.company|capitalize }}</i></span></p>
                                            <p>« {{ recommandation.message  }} »</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <span>Aucune recommandation</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-grey side-box">
                        <div class="box">
                            <div class="d-flex">
                                {% if expertMeeting.user.profile.filename %}
                                    <img class="square" src="{{ vich_uploader_asset(expertMeeting.user.profile, 'imageFile')|imagine_filter('avatar_medium_2') }}" alt="avatar image">
                                {% else %}
                                    <img class="square" src="{{ asset('build/images/default/user.png') }}" alt="avatar image">
                                {% endif %}
                                {% if expertMeeting.user.company and expertMeeting.user.company.label and expertMeeting.user.company.label.isLabeled == true %}
                                    <div class="box-tag">
                                        <img src="{{ asset('build/images/extern/search/label_icon.png') }}" alt="label icon">
                                        <span>Labelisée</span>
                                    </div>
                                {% endif %}
                            </div>
                            <h3 class="mt-3">{{ expertMeeting.user.company.name|capitalize }}</h3>
                            <p>{{ expertMeeting.expertise }}</p>
                        </div>
                        <a type="button" class="btn-bg-orange" href="{{ path('dashboard') }}">Prendre RDV</a>
                        <a type="button" class="btn-bg-white" href="{{ path('extern_company', {'id': expertMeeting.user.company.id}) }}">Contacter l'entreprise</a>
                        <div class="box">
                            <h3>Autres services proposés</h3>

                            {% if similarServices %}
                                {% for service in similarServices %}
                                    <div class="d-flex mb-3">
                                        {% if service.filename %}
                                            <img class="mini-square mr-3" src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('miniature') }}"  alt="service image">
                                        {% else %}
                                            <img class="mini-square" src="{{ asset('build/images/no-available-photo.png') }}" alt="service image">
                                        {% endif %}
                                        <p class="pt-4"><span>{{ service.title }}</span></p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>
                                    <span>Aucun service similaire</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}