{% block body %}
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Personnes ayant aimer Votre Post</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   {% for Like in postLikes %} 
   <div class="row post-likes-list">
     <div class="col-1">
      {% if Like.user.profile.photo is empty %}
          <img class="media-object photo-profile" 
          style="float:left" 
          src="/images/default_user.png"
          width="32" 
          height="32" 
          alt="...">

      {% else %}
          <img class="media-object photo-profile" 
          style="float:left" 
          src="/images/profil/photo/{{Like.user.profile.photo}}" 
          width="32" 
          height="32" 
          alt="...">
        {% endif %}
      </div>                                            
      <div class="col-7" style="float:left">
        <p class="post-likes">
          <a class="link-to-profil"  href="{{path('profile_show', { 'id': Like.user.profile.id}) }}">
            {{Like.user.profile.firstname|capitalize}} {{Like.user.profile.lastname|capitalize}}
        </a>
        </p>
        <p class="post-likes"><a class="link-to-company"  href="{{path('company_show', { 'slug': Like.user.company.slug}) }}">{{Like.user.company.name|capitalize}}</a> </p>
        
      
      </div> 
  </div>  
  {% endfor %}
{% endblock %}




