{% block body %}
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Personnes ayant aimé Votre Post</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   {% for Like in postLikes %} 
   <div class="row post-likes-list">
     <div class="col-1">
      {% if Like.user.profile.filename is empty %}
          <img class="media-object photo-profile" 
          style="float:left" 
          src="/images/default/user.png"
          width="32" 
          height="32" 
          alt="...">

      {% else %}
          <img class="media-object photo-profile" 
          style="float:left" 
          src="/images/profile/{{Like.user.profile.filename}}"
          width="32" 
          height="32" 
          alt="...">
        {% endif %}
      </div>                                            
      <div class="col-7" style="float:left">
        <p class="post-likes">
          <a class="link-to-profil"  href="{{path('profile_show', { 'id': Like.user.profile.id}) }}">
            {{Like.user.profile.firstname}} {{Like.user.profile.lastname}}
        </a>
        </p>
          {% if Like.user.company %}
             <p class="post-likes"><a class="link-to-company"  href="{{path('company_show', { 'slug': Like.user.company.slug}) }}">{{Like.user.company.name|capitalize}}</a> </p>
         {% else %}
             <p class="post-likes"><a class="link-to-company"  href="{{path('store_show', { 'slug': Like.user.store.slug}) }}">{{Like.user.store.name|capitalize}}</a> </p>

          {% endif %}
      
      </div> 
  </div>  
  {% endfor %}
{% endblock %}




