{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="be-contacted container">
        {{ form_start(form, {'action': path('be_contacted_new', {'slug': company.slug} ), 'attr': {'id': 'beContactedForm', 'class': 'beContactedForm', 'data-redirect': path('company_show', {'slug': company.slug})}} ) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.description) }}

        <button type="submit" class="btn btn-warning be-contacted-submit">Envoyer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('extern') }}
{% endblock %}