<div class="container my-3">
    <div class="row flex-nowrap overflow-auto calendar">

        {% for date in dates %}
            <table class="table table-striped width-auto">
                <thead>
                <tr>
                    <th scope="col"><div class="text-center">{{ date }}</div></th>
                </tr>
                </thead>
                <tbody>
                    {% if date not in startTimes|keys %}
                        <tr>
                            <td>
                                <div class="text-center">
                                    <p><small>Plus de créneau disponible<br>pour cette date</small></p>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        {% for key, value in startTimes %}
                            {% if key == date %}
                                {% for keyTime, time in value %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" id="{{ keyTime }}" name="{{ keyTime }}" class="form-check-input" value="1"/>
                                                <label class="form-check-label" for="{{ keyTime }}">{{ time }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}

    </div>
</div>