<div class="main-left-sidebar">
    <div class="user_profile">
        <div class="company-pro-img">
            {% if company.filename %}
                <img class="main-img" src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('company_show') }}"  alt="">
            {% else %}
                <img class="main-img" src="{{ asset('build/images/no-available-photo.png') }}" alt="">
            {% endif %}
            {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}

                <a class="update-image upload-photo"type="button"   data-toggle="modal" data-target="#update-img-modal"  data-id ="{{ company.id  }}" data-url ="{{ path('company_update_image', {'id': company.id}) }}" title=""><i class="fas fa-camera"></i></a>

            {% endif %}
        </div><!--user-pro-img end-->

        <div class="user_pro_status pl-2 pr-2">
            {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}
                {% if app.request.attributes.get('_route') == 'company_edit' %}
                    <a href="{{ path('company_show', {'slug': company.slug}) }}" title="" class="btn white-bg">
                        Afficher mes informations
                    </a>
                {% else %}
                    <a href="{{ path('company_edit', {'id': company.id}) }}" title="" class="btn white-bg">
                        Modifier les informations
                    </a>
                {% endif %}
            {% else %}
                {% if (companyAdministrator != null) %}
                    <div class="btn white-bg">
                        <a href="{{ path('chat_private', {'id': companyAdministrator.id}) }}">
                            Contacter
                        </a>
                    </div>
                 {% endif %}
                <a href="#" title=""
                   class="add-company-favoris company-page btn white-bg add-favoris {{ isFavorit }}"
                   data-company-id="{{  company.id }}"
                   data-target="{{path('favorit_company_add', {'companyId':company.id})}}"
                   data-delete="{{path('favorit_company_delete', {'companyId': company.id})}}">
                    {% if isFavorit !="" %} Supprimer favoris {% else %} Ajouter aux favoris {% endif %}
                </a>
            {% endif %}
            <ul class="flw-status mt-3">
                <li>
                    <span>Score</span>
                    <b> {{ score ?? 0 }}Pts</b>
                </li>
                <li>
                    <span> Services </span>
                    <b>{{ countServices }} </b>
                </li>
            </ul>
        </div><!--user_pro_status end-->
        {% if company.isCompleted %}
            <ul class="social_links">
                <li><i class="fas fa-map-marker-alt p-1"></i><span class=""> {{ company.addressNumber }} {{ company.addressStreet }} {{ company.addressPostCode }}, {{ company.city }}, {{ company.country }}</span></li>
                <li><i class="fas fa-mobile-alt mt-1"></i> <span class="">  {{ company.phone ?? '<small>N° de téléphonse non renseigné</small>' }} </span></li>
                {% if company.website %}
                    <li>
                     <i class="fas fa-external-link-alt m-1"></i>
                     <a target="_blank"
                        href="{% if ('http' in company.website or 'https' in company.website ) %}{{ company.website }}
                              {% else %} //{{ company.website }} {% endif %}"> {# I added // to not concatenate website url with the plateform ulr #}
                         <span class="">Accéder au site web</span>
                     </a>
                    </li> {% endif %}
                <li><i class="fas fa-store mt-1"></i>  {{ company.store.name }} </li>
            </ul>
        {% endif %}
    </div><!--user_profile end-->
</div><!--main-left-sidebar end-->


{% include 'default/modals/upload/uploadImageModal.html.twig' %}