{% extends 'base.html.twig' %}

{% block title %}Moteur de recherche{% endblock %}

{% block body %}

    {% include 'partials/header/headerExternal.html.twig' %}

    <section class="bg-search">
        <div class="container-bv">
            <div class="row">
                <div class="col-xl-6">
                    <h1>Découvrez les services proposés par nos clients professionnels</h1>
                    <h4>Trouvez ce que vous recherchez à deux pas de chez vous</h4>
                    <div class="box-search">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.querySearch) }}
                        </div>
                        <div class="d-flex justify-content-between">
                            {% if store.reference == 'BV001' %}
                                <h5 class="pt-3"><i class="fas fa-store mr-2"></i>Vous n'avez pas séléctionné votre magasin</h5>
                                <a href="#" id="btn-choose-store" class="btn btn-search pt-3">Choisir</a>
                            {% else %}
                                <h5 class="pt-3"><i class="fas fa-store mr-2"></i>{{ store.name }}</h5>
                                <button type="submit" class="btn btn-search">Rechercher</button>
                            {% endif %}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if store.reference != 'BV001' %}
    {# Section services of store carousel#}

    <section class="pt-5 pb-5">
        <div class="container-bv container search-carousel">
            <div class="row">
                <div class="col-8">
                    <h3 class="mb-3">Nos clients professionnels vous proposent les services suivants</h3>
                </div>
                {% if services is empty %}
            </div>
            <div class="box">
                <div class="text-center">
                    <h5 class="m-0">Aucun service attaché au {{ store.name }}</h5>
                </div>
            </div>
            {% else %}
                <div class="col-4 text-right">
                    <a class="btn btn-warning mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-warning mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% set i = 0 %}
                            {% set j = 0 %}
                            {% for service in services %}
                                {% set i = i + 1 %}
                                {% set j = j + 1 %}
                                {% if i == 1 %}
                                    <div class="carousel-item {% if j == 1 %}active{% endif %}">
                                    <div class="row">
                                {% endif %}
                                <div class="col-md-3 mb-3">
                                    <div class="card service-card">
                                        <div class="card-image">
                                            {% if service.filename %}
                                                <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('service_card') }}" alt="">
                                            {% else  %}
                                                <img src="{{ asset('build/images/no-available-photo.png') }}" style="height: 220px" alt="">
                                            {% endif %}

                                            {% include 'default/cards/infos-stickers.html.twig' with {
                                                'item': service,
                                                'distances': distancesServices,
                                                'nbRecommandations': nbRecommandationsServices
                                            } %}

                                        </div>
                                        <div class="card-body">
                                            <div class="card-meta">
                                                <h4 class="card-title">{{ service.title }}</h4>
                                                <p class="card-text">{{ service.introduction }}</p>
                                                <p class="text-muted mt-3">Proposé par : {{ service.user.company.name }}</p>
                                            </div>
                                        </div>
                                        <hr>

                                        <!-- Button -->
                                        <div class="my-4 text-center card-btn">
                                            <a href="{{ path('external_company_show', {'slug': service.user.company.slug, 'id': service.user.company.id}) }}" class="btn btn-flat p-1 mx-0 mb-0">Consulter {{ service.user.company.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% if i == 4 %}
                                    </div>
                                    </div>
                                    {% set i = 0 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {# Map companies of store #}
    {% include 'default/map.html.twig' %}

    {# Section companies of store carousel #}

    <section class="search-company-carousel pt-5 pb-5">
        <div class="container-bv container search-carousel">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3">Les entreprises à proximité</h3>
                </div>
                {% if companies is empty %}
            </div>
            <div class="box">
                <div class="text-center">
                    <h5 class="m-0">Aucun entreprises rattachée au {{ store.name }} pour l'instant</h5>
                </div>
            </div>
            {% else %}
                <div class="col-6 text-right">
                    <a class="btn btn-warning mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-warning mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% set i = 0 %}
                            {% set j = 0 %}
                            {% for company in companies %}
                                {% set i = i + 1 %}
                                {% set j = j + 1 %}
                                {% if i == 1 %}
                                    <div class="carousel-item {% if j == 1 %}active{% endif %}">
                                    <div class="row">
                                {% endif %}
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <div class="view">
                                            {% if company.filename %}
                                                <img class = "card-img-top" src="{{ vich_uploader_asset(company, 'imageFile') }}" >
                                            {% else  %}
                                                <img class = "card-img-top" src="{{ asset('build/images/default/logo_soon.jpg') }}" alt="">
                                            {% endif %}
                                        </div>

                                        {% include 'default/cards/infos-stickers.html.twig' with {
                                            'item': company,
                                            'distances': distancesCompanies,
                                            'nbRecommandations': nbRecommandationsCompanies
                                        } %}

                                        <div class="card-body">
                                            <h4 class="card-title">{{ company.name }}</h4>
                                            <p class="text-muted mt-3">{{ company.otherCategory }}</p>
                                            <p class="card-text">{{ company.introduction }}</p>
                                        </div>
                                        <hr>

                                        <!-- Button -->
                                        <div class="my-4 text-center card-btn">
                                            <a href="{{ path('external_company_show', {'slug': company.slug, 'id': company.id}) }}" class="btn btn-flat p-1 mx-0 mb-0">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                {% if i == 4 %}
                                    </div>
                                    </div>
                                    {% set i = 0 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {% endif %}

{% endblock %}

{% block modals %}
    {% include 'default/modals/external/choose-store.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('extern') }}
{% endblock %}