{% extends 'base.html.twig' %}

{% block title %}{{ query }}{% endblock %}

{% block body %}

    {% include 'partials/header/headerExternal.html.twig' %}

    <section class="search-store-result">
        <div class="container-bv container-bv-search-result">
            <ul class="title-search list-unstyled list-inline pt-3 pb-3">
                {% if not results %}
                    <li class="list-inline-item mr-0"><h3>Aucune entreprise disponible pour votre recherche "{{ query }}".</h3></li>
                {% else %}
                    <li class="list-inline-item mr-0"><h3>{{ results|length }} {% if results|length == 1%} entreprise propose{% else %} entreprises proposent{% endif %}  des services correspondants à "{{ query }}".</h3></li>
                {% endif %}
                <li class="list-inline-item ml-3"><span><a class="btn big-btn orange-bg" href="{{ path("external_search", {'store': app.request.get('store')}) }}">Je modifie ma recherche</a></span></li>
            </ul>

            {% if results %}
                <div class="">
                    <div class="row">
                        {% for result in results %}
                            <div class="col-lg-3 col-md-4 mt-3">
                                <!-- Card -->
                                <div class="company-card card">
                                    <!-- Card image -->
                                    <div class="view">
                                        {% if result.filename %}
                                            <img class = "card-img-top" src="{{ vich_uploader_asset(result, 'imageFile') }}" >
                                        {% else  %}
                                            <img class = "card-img-top" src="{{ asset('build/images/default/logo_soon.jpg') }}" alt="">
                                        {% endif %}
                                    </div>

                                    {% include 'default/cards/infos-stickers.html.twig' with {
                                        'item': result,
                                        'distances': distancesCompanies,
                                        'nbRecommandations': nbRecommandationsCompanies
                                    } %}

                                    <!-- Card content -->
                                    <div class="card-body">
                                        <h4 class="card-title font-weight-bold"><a>{{ result.name }}</a></h4>
                                        <ul class="list-unstyled list-inline rating mb-0">
                                            <li class="list-inline-item mr-0"><i class="fas fa-map-pin"></i></li>
                                            <li class="list-inline-item"><p class="text-muted"> {{ result.city }}</p></li>
                                        </ul>
                                        <p class="card-text">{{ result.introduction }}</p>
                                        <hr>

                                        <!-- Button -->
                                        <div class="text-center">
                                            <a href="{{ path('external_company_show', {'slug': result.slug, 'id': result.id}) }}" class="btn btn-flat p-1 mx-0 mb-0">Voir plus</a>
                                        </div>

                                    </div>
                                </div>
                                <!-- Card -->

                            </div>
                        {% endfor %}

                    </div>

                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

