<div class="box dashboard-box">
    <div class="avatar">
        {% if app.user.profile.filename %}
            <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" class="img-fluid" alt="">
        {% else %}
            <img src="/images/default/user.png" class="img-fluid dashboard-profil-img" alt="">
        {% endif %}
    </div>
    <div class="info mt-3">
        <p class="text-muted">{{ app.user.profile.lastname|capitalize ?: 'Profil incomplet'}} {{ app.user.profile.firstname|capitalize }}</p>
        <a href="{{ path('profile_edit', {'id': app.user.profile.id }) }}">Modifier mon profile</a>
    </div>
</div>

{% if is_granted('ROLE_ADMIN_COMPANY') %} 
  <div class="aside-box">

      <div class="row logo-company">
      {% if app.user.company.logo %}
          <img src="/images/logos/{{ app.user.company.logo }}" class="img-fluid" alt="">
      {% else %}
          <img src="/images/no-available-company-photo.png" class="img-fluid" alt="">
      {% endif %}
      </div>
      <div class="company-informations">
          {% if app.user.company.category %}
              <p class="company-category"><i class="fa fa-tags margin-r-10" aria-hidden="true"></i> {{ app.user.company.category.name }}</p>
          {% endif %}
          <p><i class="fa fa-envelope-o margin-r-10" aria-hidden="true"></i> {{ app.user.company.email }}</p>
          {% if app.user.company.isCompleted %}
            <p class="company-tel"><i class="fa fa-phone margin-r-10" aria-hidden="true"></i>{{ app.user.company.phone }}</p>
            <p class="company-tel"><i class="fa fa-map-marker margin-r-10" aria-hidden="true"></i> {{ app.user.company.addressNumber }} {{ app.user.company.addressStreet }} {{ app.user.company.addressPostCode }}</p>
          {% endif %}
          {% if app.user.company.website %}
              <p class="company-tel"><i class="fa fa-globe margin-r-10" aria-hidden="true"></i>{{ app.user.company.website }}</p>
          {% endif %}

      </div>

  </div>
{% endif %}
{% if is_granted('ROLE_ADMIN_STORE') %}
<div class="box">
  <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}"><h4>Mon magasin</h4></a>
  <p class="lead">{{ app.user.store.name|capitalize }}</p>
  <p><small>{{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }}</small></p>
  <p class="mb-3"><small>{{ app.user.store.addressPostCode }} {{ app.user.store.city }}</small></p>
  <a href="#">Contacter mon conseillé</a>
</div>
{% endif %}