{% include 'default/boxes/avatar-box.html.twig' %}

{% if is_granted('ROLE_ADMIN_COMPANY') %} 
  <div class="box aside-box">

      <div class="row logo-company">
      {% if app.user.company.filename %}
          <img src="{{ vich_uploader_asset(app.user.company, 'imageFile')|imagine_filter('card') }}" class="img-fluid" alt="">
      {% else %}
          <img src="/images/no-available-company-photo.png" class="img-fluid" alt="">
      {% endif %}
      </div>
      <div class="company-informations">
          {% if app.user.company.category %}
              <p class="company-category"><i class="fa fa-tags margin-r-10" aria-hidden="true"></i> {{ app.user.company.category.name }}</p>
          {% endif %}
          {% if app.user.company %}
              <p><i class="fa fa-envelope-o margin-r-10" aria-hidden="true"></i> {{ app.user.company.email }}</p>
              {% if app.user.company.isCompleted %}
                  {% if app.user.company.phone %}
                      <p class="company-tel"><i class="fa fa-phone margin-r-10" aria-hidden="true"></i>{{ app.user.company.phone }}</p>
                  {% endif %}
                  <p class="company-tel"><i class="fa fa-map-marker margin-r-10" aria-hidden="true"></i> {{ app.user.company.addressNumber }} {{ app.user.company.addressStreet }} {{ app.user.company.addressPostCode }}</p>
              {% endif %}
          {% endif %}
          {% if app.user.company.website %}
              <p class="company-tel"><i class="fa fa-globe margin-r-10" aria-hidden="true"></i>{{ app.user.company.website }}</p>
          {% endif %}

      </div>

  </div>
{% endif %}
{% if is_granted('ROLE_ADMIN_STORE') %}
    {% include 'default/boxes/store-box.html.twig' %}
{% endif %}