{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div class="container">

            {# Notice warning#}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="alert alert-dismissible alert-secondary">
                <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Abus</h4>
                <p class="mb-0">Vous avez des abus à gérer <a href="{{ path('abuses') }}" class="alert-link">cliquer ici</a>.</p>
            </div>
           {% endif %}

            {% if is_granted('ROLE_ADMIN_COMPANY') and (untreatedRecommandationsNumber > 0) %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Recommandations</h4>
                <p class="mb-0">Vous avez des recommandations à gérer <a href="{{ path('recommandations') }}" class="alert-link">cliquer ici</a>.</p>
            </div>
           {% endif %}

            {% if is_granted('ROLE_ADMIN_COMPANY') and app.user.company.isCompleted == false %}
                <div class="alert alert-dismissible alert-danger">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Entreprise non visible !</h4>
                    <p class="mb-0">Vous devez compléter votre fiche entreprise pour que les autres utilisateurs puissent la consulter. <a href="{{ path('company_edit', {'id': app.user.company.id}) }}" class="alert-link">Mon entreprise</a>.</p>
                </div>
            {% endif %}

            {% if app.user.profile.isCompleted == false %}
                <div class="alert alert-dismissible alert-primary">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Profile non visible !</h4>
                    <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté. <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" class="alert-link">Mon profile</a>.</p>
                </div>
            {% endif %}

            <div class="row page">
                <div class="col-lg-3 col-md-6">
                    <div class="box dashboard-box">
                        <div class="row avatar">
                        {% if app.user.profile.photo %}
                            <img src="/images/profil/photo/{{ app.user.profile.photo }}" class="img-fluid dashboard-profil-img" alt="">
                         {% else %}
                            <img src="/images/default_user.png" class="img-fluid dashboard-profil-img" alt="">
                        {% endif %}
                        </div>
                        <p class="text-muted">{{ app.user.profile.lastname|capitalize ?: 'Profil incomplet'}} {{ app.user.profile.firstname|capitalize }}</p>
                        <a href="{{ path('profile_edit', {'id': app.user.profile.id }) }}">Modifier mon profile</a>
                    </div>

                    {% if is_granted('ROLE_ADMIN_COMPANY') %} 
                        <div class="box">
                            <h4>Mon entreprise</h4>
                            <div class="row logo-company">
                            {% if app.user.company.logo %}
                                <img src="/images/logos/{{ app.user.company.logo }}" class="img-fluid" alt="">
                            {% else %}
                                <img src="/images/unknow-company.jpg" class="img-fluid" alt="">
                            {% endif %}
                            </div>
                            <p class="lead">{{ app.user.company.name|capitalize }}</p>
                            <p class="text-muted">{{ app.user.company.phone }}</p>
                            <p class="text-muted">{{ app.user.company.email }}</p>
                            <p class="text-muted mb-3">{{ app.user.company.website }}</p>
                            {% if is_granted('ROLE_ADMIN_COMPANY') %} 
                            <a href="{{ path('company_edit', {'id': app.user.company.id}) }}">Modifier ma fiche</a>
                            {% endif %}

                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_STORE') or is_granted('ROLE_PATRON') %} 
                    <div class="box">
                        <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}"><h4>Mon magasin</h4></a>
                        <p class="lead">{{ app.user.store.name|capitalize }}</p>
                        <p><small>{{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }}</small></p>
                        <p class="mb-3"><small>{{ app.user.store.addressPostCode }} {{ app.user.store.city }}</small></p>
                        <a href="#">Contacter mon conseillé</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="box dashboard-header">
                        <div class="row">
                            <div>
                               {% if  app.user.profile.isCompleted == true %}
                                    <button type="button" 
                                            class="btn btn-primary btn-sm btn-radius add-post"
                                            data-toggle="modal-add-post"
                                            data-target="{{ path('post_create') }}"
                                            data-whatever="create-post" >
                                        <i class="fa fa-pencil-square-o"></i> Commencer un post
                                    </button>
                                {% else %}
                                <button type="button" 
                                            class="btn btn-primary btn-sm btn-radius add-post"
                                            disabled=true >
                                        <i class="fa fa-pencil-square-o"></i> Commencer un post
                                    </button>    
                                {% endif %}
                                <div class="modal modal-add-post fade" id="add-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content modal-post-content">
                                            <div class="text-center">
                                                <div class="spinner-grow" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-header-buttons">
                               <a href="#" class="notification dashboard-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-notif="{{notificationNumber}}">
                                    <span><i class="fa fa-bell notification-icon" aria-hidden="true"></i></span>
                                    {% if notificationNumber > 0 %}
                                      <span class="badge bell-badge">{{notificationNumber}}</span>
                                    {% endif %}
                                </a>
                                {% if notificationNumber > 0 %}
                                    <div class="dropdown-menu notification-dropdown">
                                        {% for notification in dashboardNotifications %} 
                                            <div class="notification-item clearfix">
                                                <div class="user-photo">
                                                    <img style="float:left" src="/images/profil/photo/{{ notification.user.profile.photo }}" class="user-profil-sm" alt="">
                                                </div>
                                                <div class="notification-text">
                                                    <a href="{{path('profile_show', { 'id': notification.user.profile.id}) }}">
                                                      {{ notification.user.profile.firstname|capitalize }} {{ notification.user.profile.lastName|capitalize }} 
                                                    </a> 
                                                    {% if notification.type ==  'comment' %} 
                                                        {% if notification.post.distinctUserCommentNumber > 1  %}
                                                           et {{notification.post.distinctUserCommentNumber }} autres personnes ont commenté un <a href="#post-id-{{notification.post.id}}">post </a>que vous avez partagé
                                                        {% else %}
                                                           a commenté un <a href="#post-id-{{notification.post.id}}">post </a>que vous avez partagé
                                                        {% endif %} 
                                                    {% else %} 
                                                    a aimé un <a href="#post-id-{{notification.post.id}}">post </a> que vous avez partagé
                                                    {% endif %} 
                                                </div>
                                            </div>
                                        {% endfor %}
                                    
                                    </div>
                                {% endif %}
                                <a href="#" class="notification">
                                    <span><i class="fa fa-envelope message-icon" aria-hidden="true"></i></span>
                                    <span class="badge">10</span>
                                </a>
                                <a href="#" class="notification">
                                    <i class="fa fa-file-text recommandation-icon" aria-hidden="true"></i>
                                    <span class="badge">3</span>
                                </a>

                            </div>

                            
                        </div>
                    </div>
                    {% if posts and postNumber > 0 %}
                    <div class="box">
                        <div class="row col-12">
                            <h4 class="col-8">Fil d'actualité</h4>
                            <div class="col-3">
                                <div class="filter-dropdown">
                                
                                    <select id="news-filter">
                                        <option value="All">Tous</option>
                                        <option value="Informations">Informations</option>
                                        <option value="LastPublished">Derniers arrivés</option>
                                        <option value="Opportunities">Opportunités</option>
                                        <option value="Recommendations">Recommandations</option>
                                        <option value="Employment">Emploi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% include 'dashboard/posts.html.twig' %}
                        

                     </div>   
                    {% endif %}                   
                    <div class="box">
                        <h4>Mon activité</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="activity">Score BV</div>
                                <div class="activity">Impact environnemental</div>
                                <div class="activity">Nombre de recommandations</div>
                            </div>
                            <div class="col-6">
                                <div class="activity">Mes stats</div>
                            </div>
                        </div>
                    </div>
                    <div class="services">
                        <div class="box">
                            <h4>Mes services</h4>
                            {% if services is empty %}
                            <p>Vous n'avez pas créé de service.</p>
                            <p><a href="{{ path('service_create') }}">Créer un service</a></p>
                            {% else %}
                                <div class="row">
                                    {% for service in services %}
                                        <div class="col-4">
                                            <a href="#">
                                                <div class="info">
                                                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                                    <p class="title service-title">
                                                        <a href="{{ path('service_show', {'id': service.id}) }}">
                                                            {{ service.title }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row float-right">
                                    <a href="{{ path('service') }}">Voir plus ...</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'dashboard/recommandations.html.twig'%}
            </div>
        </div>
    </section>
{% endblock %}
