{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-bv">
{#        <div id="onboarding" data-url="{{ path('onboarding') }}" data-onboarding="{{ app.user.profile.isOnboarding }}" data-session-onboarding="{{ app.session.get('popup')['isShowed'] ?? null }}" data-session-onboarding-url="{{ path('welcomepopup') }}"></div>#}
        <div class="row">
            <div class="warnings">
                {% include 'partials/warning.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-12 order-sm-2">
                <div class="box-social-media {#min-col m-center#}">

                    {% include 'default/boxes/only-mobile/adviser-and-special-offer.html.twig' %}

                    <div id="postpublish" class="new-post">
                        <div class="box shadow">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    {% if app.user.profile.filename %}
                                        <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('avatar_medium_2') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% else %}
                                        <img src="{{ asset('build/images/default/user.png') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% endif %}
                                    <div class="meta">
                                        <p><strong>{{ app.user.profile.firstname|capitalize }}</strong></p>
                                        {% if app.user.company %}
                                          <small>{{ app.user.company.name|capitalize }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="vertical-center">
                                    {% if app.user.profile.isCompleted == true %}
                                        <button class="btn big-btn orange-bg  add-post" data-target="{{ path('post_create') }}">Publier un post</button>
                                    {% else %}
                                        <button type="button" class="btn big-btn orange-bg" data-toggle="tooltip" data-placement="top" title="Vous devez compléter votre profile">Publier un post</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'default/boxes/only-mobile/filter-categories.html.twig' %}

                    {% include 'default/posts/posts.html.twig' %}
                </div>
            </div>

            <div class="col-lg-3 col-md-12 order-sm-1">

                {% include 'default/boxes/charter-box.html.twig' %}

                {% include 'default/boxes/filter-post.html.twig' %}

                {% include 'default/boxes/adviser-box.html.twig' %}

                {% include 'default/boxes/company-box.html.twig' %}

                <!-- Tutorial button -->
                <div id="tutorial" class="d-sm-none d-lg-block">
                    <small class="greyed">Besoin d'aide ?</small>
                    <div>
                        <button class="btn grey-bg-white full-width" onclick="tutorialDashboard()"><i class="fas fa-question mr-2"></i>Tutoriel</button>
                    </div>
                </div>
            </div>

            {#<div class="col-lg-3 col-md-12 order-sm-3">
                {% include 'default/boxes/add-sponsorship.html.twig' %}
                {% include 'dashboard/boxes/social-media-buttons.html.twig' %}
                <div class="box-advertising clearfix">
                    {% if publicity is not null %}
                        {% include 'default/boxes/advertising-box.html.twig' %}
                    {% endif %}

                    {% if lastSpecialOffer is not null %}
                        {% include 'default/boxes/specialOffer-box.html.twig' %}
                    {% endif %}

                </div>
            </div>#}

        </div>
    </div>
{% endblock %}

{% block modals %}

    <!-- Dashboard modals  -->
    {% include 'default/modals/dashboard-modals.html.twig' %}

    <!-- Welcome modals  -->
    {% include 'default/modals/call-modals.html.twig' %}

    <!-- Charter -->
    {% include 'default/modals/base.html.twig' with {'idModal' : 'charterModal'} %}
    <!-- kbis form -->
    {% include 'default/modals/base.html.twig' with {'idModal' : 'kbisFormModal'} %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modals') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
