{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div id="onboarding" data-url="{{ path('onboarding') }}" data-onboarding="{{ app.user.profile.isOnboarding }}"></div>
        <div class="container-mvp">

            {# Notice warning#}
            {% if is_granted('ROLE_ADMIN_PLATEFORM') %}
                <div class="alert alert-dismissible alert-secondary">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Abus</h4>
                    <p class="mb-0">Vous avez des abus à gérer <a href="{{ path('abuses') }}" class="alert-link">cliquer ici</a>.</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN_COMPANY') and (untreatedRecommandationsNumber > 0) %}
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Recommandations</h4>
                    <p class="mb-0">Vous avez des recommandations à gérer <a href="{{ path('recommandations') }}" class="alert-link">cliquer ici</a>.</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN_COMPANY') and app.user.company.isCompleted == false %}
                <div class="alert alert-dismissible alert-danger">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Votre entreprise n’est pas encore visible</h4>
                    <p class="mb-0">Vous devez compléter votre fiche entreprise pour que les autres utilisateurs puissent la consulter. <a href="{{ path('company_edit', {'id': app.user.company.id}) }}" class="alert-link">Mon entreprise</a>.</p>
                </div>
            {% endif %}

            {% if app.user.profile.isCompleted == false %}
                <div class="alert alert-dismissible alert-primary">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Votre profil n’est pas encore visible</h4>
                    <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté. <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" class="alert-link">Mon profil</a>.</p>
                </div>
            {% endif %}

            <div class="row page">
                <div class="col-lg-6 col-md-12 order-sm-2">
                    {% include 'default/boxes/only-mobile/adviser-and-special-offer.html.twig' %}
                    <div class="box dashboard-header">
                        <div class="dashboard-header-buttons">
                            <div id="postpublish" class="add" style="float: right">

                                {% if app.user.profile.isCompleted == true %}
                                    <button type="button"
                                            class="btn  btn-sm btn-radius add-post"
                                            data-toggle="modal-add-post"
                                            data-target="{{ path('post_create') }}"
                                            data-whatever="create-post" >
                                        <i class="fa fa-pencil-square-o"></i> Publier un post
                                    </button>
                                {% else %}
                                    <button type="button"
                                            class="btn  btn-sm btn-radius"
                                            data-toggle="tooltip" data-placement="top" title="Vous devez compléter votre profile" >
                                        <i class="fa fa-pencil-square-o"></i> Publier un post
                                    </button>
                                {% endif %}

                            </div>
                            <div class="notifs">
                                    <a href="#" class="notification dashboard-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-notif="{{notificationNumber}}">
                                        <i id="notificon1" class="fa fa-bell notification-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Notifications relatives à vos posts"></i>
                                        {% if notificationNumber > 0 %}
                                            <span class="badge bell-badge">{{notificationNumber}}</span>
                                        {% endif %}
                                    </a>

                                <div class="dropdown-menu notification-dropdown notification-box">
                                    {% if notificationNumber > 0 %}
                                        {% for notification in dashboardNotifications %}
                                            <div class="row notification-item clearfix">
                                                <div class="user-photo col-2">
                                                    <img src="{{ vich_uploader_asset(notification.user.profile, 'imageFile') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="notification-text col-10">
                                                    <a href="{{path('profile_show', { 'id': notification.user.profile.id}) }}">
                                                        {{ notification.user.profile.firstname|capitalize }} {{ notification.user.profile.lastName|capitalize }}
                                                    </a>
                                                    {% if notification.type ==  'comment' %}
                                                        {% if notification.post.distinctUserCommentNumber > 1  %}
                                                            et {{notification.post.distinctUserCommentNumber }} autres personnes ont commenté un <a href="#post-id-{{notification.post.id}}">post </a>que vous avez partagé
                                                        {% else %}
                                                            a commenté un <a href="#post-id-{{notification.post.id}}">post </a>que vous avez partagé
                                                        {% endif %}
                                                    {% else %}
                                                        {% if notification.post.likesNumber > 1 %}
                                                            et {{ notification.post.likesNumber }} autres personnes ont aimé un <a href="#post-id-{{notification.post.id}}">post </a> que vous avez partagé
                                                        {% else %}
                                                            a aimé un <a href="#post-id-{{notification.post.id}}">post </a> que vous avez partagé
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        <p class="text-muted p-3">Aucune notification pour l'instant</p>
                                    {% endif %}
                                </div>


                                <div class="nav-item dropdown notification messages-notifications">
                                    <a href="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                        <span><i id="notificon2" class="fa fa-envelope message-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Notifications de vos messages chat"></i></span>
                                        <span class="badge">{% if notificationMessages|length != 0 %}{{ notificationMessages|length }}{% endif %}</span>
                                    </a>
                                    <div class="dropdown-menu notification-box" style="">
                                        {% if notificationMessages %}
                                            {% for message in notificationMessages %}
                                                <a class="dropdown-item" target="_blank" {% if message.receiver %}href="{{ path('chat_private', {'id': message.receiver.id}) }}"{% else %}href="{{ path('chat_topic', {'name': message.topic.name}) }}"{% endif %}>
                                                    <div class="message">
                                                        <div class="avatar message-avatar">
                                                            {% if message.receiver %}
                                                                {% if message.receiver.profile.filename %}
                                                                    <img src="{{ vich_uploader_asset(message.receiver.profile, 'imageFile') }}" class="img-fluid" alt="">
                                                                {% else %}
                                                                    <img src="/images/default/user.png" class="img-fluid" alt="">
                                                                {% endif %}
                                                            {% else %}
                                                                <img src="/images/default/channel.png" class="img-fluid" alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="message-content">
                                                            <p class="text-muted">
                                                                {% if message.receiver %}
                                                                    {{ message.receiver.profile.firstname|capitalize }} {{ message.receiver.profile.lastname|capitalize }} vous a envoyé {{ message.nbMessages }} messages
                                                                {% else %}
                                                                    Vous avez {{ message.nbMessages }} messages dans #{{ message.topic.name }}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                            <p class="text-center"><a target="_blank" href="{{ path('chat_topic', {'name': 'general'}) }}"><small>Voir plus ...</small></a></p>
                                        {% else %}
                                            <p class="text-muted p-3">Aucune notification pour l'instant</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="nav-item dropdown notification opportunity-notifications">
                                        <a id ="{% if opportunityPostNb > 0   %}opportunity-notification{% else  %}no-opportunity-notification{% endif %}"
                                               href="#"
                                               data-toggle="dropdown"
                                               data-target="{{ path('opportunityNotification_add') }}">

                                            <i id="notificon3" class="fa fa-eur recommandation-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nouvelles opportunités commerciales"></i>
                                            {% if opportunityPostNb > 0 %}
                                                <span class="badge opportunity-badge">{{ opportunityPostNb }}</span>
                                            {%  endif %}
                                        </a>
                                    <div class="dropdown-menu opportunity-notification notification-box"  aria-labelledby="opportunity-notification">
                                        {% if opportunityPostNb %}

                                            Nous avons trouvé {{ opportunityPostNb }} opportunité(s) commerciale(s)
                                            <p class="text-center">
                                                <button id="display-opportunity-offer" > voir tous  les offres  </button>
                                            </p>
                                        {% else  %}
                                            <p class="text-muted p-3">Aucune notification pour l'instant</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="postsbox" class="box post-box">
                        <div class="row mb-3">
                            <h4 class="news-bloc col-8">Votre réseau {{ app.user.store.name }}</h4>
                            <div class="col-4">
                                <div class="filter-dropdown">
                                    <select id="news-filter" class="form-control">
                                        <option value="All">Tous</option>
                                        <option value="information">Informations</option>
                                        <option value="Derniers arrivés">Derniers arrivés</option>
                                        <option value="Opportunité commerciale">Opportunité commerciale</option>
                                        <option value="Emploi">Emploi</option>
                                        <option value="Événement">Événement</option>
                                        <option value="Question à la communauté">Question à la communauté</option>
                                        <option value="Autre">Autre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% if posts and postNumber > 0 %}
                            {% include 'dashboard/posts.html.twig' %}
                        {% else %}
                            <p>Aucun post pour l'instant</p>
                        {% endif %}
                    </div>

                </div>

                <div class="col-lg-3 col-md-12 order-sm-1">
                    {% include 'default/dashboard-aside.html.twig' %}
                </div>

                <div class="col-lg-3 col-md-12 order-sm-3">
                    {% if publicity is not null %}
                        {% include 'default/boxes/advertising-box.html.twig' %}
                    {% endif %}
                    <div class="special-offer">
                        {% include 'default/boxes/specialOffer-box.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Tutorial button -->
        <button id="tutorialButton" type="button" class="btn btn-secondary" onclick="tutorialDashboard()"><i class="fa fa-question-circle fs-big u-mr1"></i> Tutoriel</button>
    </section>
{% endblock %}


{% block modals %}
    {% include 'default/modals/call-modals.html.twig' %}

    <div class="modal modal-add-post fade" id="add-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-post-content">
                <div class="text-center">
                    <div class="spinner-grow" role="status">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade LikesList" id="LikesList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-likes-list">

                <div class="modal-body">
                    <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/modals.js"></script>
{% endblock %}
