{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div class="container">
            <div class="alert alert-dismissible alert-danger">
                <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Entreprise non visible !</h4>
                <p class="mb-0">Vous devez compléter votre fiche entreprise pour que les autres utilisateurs puissent la consulter. <a href="#" class="alert-link">Mon entreprise</a>.</p>
            </div>
            <div class="alert alert-dismissible alert-primary">
                <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Profile non visible !</h4>
                <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté. <a href="#" class="alert-link">Mon profile</a>.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="box">
                        <div class="row avatar">
                            <img src="/images/default_user.png" class="img-fluid" alt="">
                        </div>
                        <p class="text-muted mb-3">{{ app.user.profile.lastname|capitalize ?: 'Profil incomplet'}} {{ app.user.profile.firstname|capitalize }}</p>
                        <a href="{{ path('profile_edit', {'id': app.user.profile.id }) }}">Modifier mon profile</a>
                    </div>
                    <div class="box">
                        <h4>Mon entreprise</h4>
                        <div class="row logo-company">
                            <img src="/images/company1.png" class="img-fluid" alt="">
                        </div>
                        <p class="lead">{{ app.user.company.name|capitalize }}</p>
                        <p class="text-muted">{{ app.user.company.phone }}</p>
                        <p class="text-muted">{{ app.user.company.email }}</p>
                        <p class="text-muted mb-3">{{ app.user.company.website }}</p>
                        <a href="#">Modifier ma fiche</a>
                    </div>
                    <div class="box">
                        <h4>Mon magasin</h4>
                        <p class="lead">{{ app.user.store.name|capitalize }}</p>
                        <p><small>{{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }}</small></p>
                        <p class="mb-3"><small>{{ app.user.store.addressPostCode }} {{ app.user.store.city }}</small></p>
                        <a href="#">Contacter mon conseillé</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="box">
                        <h4>Mon activité</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="activity">Score BV</div>
                                <div class="activity">Impact environnemental</div>
                                <div class="activity">Nombre de recommandations</div>
                            </div>
                            <div class="col-6">
                                <div class="activity">Mes stats</div>
                            </div>
                        </div>
                    </div>
                    <div class="services">
                        <div class="box">
                            <h4>Mes services</h4>
                            <div class="row">
                                <div class="col-4">
                                    <a href="#">
                                        <div class="info">
                                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                            <h4 class="title">Service titre</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="#">
                                        <div class="info">
                                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                            <h4 class="title">Service titre</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="#">
                                        <div class="info">
                                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                            <h4 class="title">Service titre</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommandations">
                        <div class="box">
                            <h4>Mes recommandations</h4>
                            <div class="row">
                                <div class="col-2">
                                    <div class="avatar">
                                        <img src="/images/default_user.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <p><strong>Nicolas Strugarek</strong></p>
                                    <p class="text-muted">Je recommande vivement cette personne pour sa qualité de travail en tant que développeur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
