{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-bv">
        <div class="row">
            <div class="col-lg-3">
                <div id="news-filter" class="box-navigation-items min-col">
                    <ul>
                        <li value="All"><i class="fa fa-clone"></i><a href="{{ path('dashboard') }}">  Tout</a></li>
                        <li value="informations"><i class="fa fa-newspaper"></i><a href="{{ path('dashboard_category', {'category': 1}) }}">  Informations</a></li>
                        <li value="Derniers arrivés"><i class="fa fa-comment-alt"></i><a href="{{ path('dashboard_category', {'category': 7}) }}">  Derniers arrivés</a></li>
                        <li value="Opportunité commerciale"><i class="fa fa-chart-line"></i><a href="{{ path('dashboard_category', {'category': 2}) }}">  Opportunité commerciale</a></li>
                        <li value="Emploi"><i class="fa fa-user-friends"></i><a href="{{ path('dashboard_category', {'category': 4}) }}">  Emploi</a></li>
                        <li value="Événement"><i class="fa fa-calendar-alt"></i><a href="{{ path('dashboard_category', {'category': 5}) }}">  Evénement</a></li>
                        <li value="Question à la communauté"><i class="fa fa-question"></i><a href="{{ path('dashboard_category', {'category': 3}) }}">  Question à la communauté</a></li>
                        <li value="Autre"><i class="fa fa-plus"></i><a href="{{ path('dashboard_category', {'category': 6}) }}">  Autre</a></li>
                    </ul>
                </div>

                <div id="advisorbox" class="box-advisor min-col">
                    <small class="greyed">Votre conseiller</small>
                    <div class="box mt-0">
                        {% if  app.user.store != null %}
                            {% if  app.user.store.defaultAdviser != null %}
                                {% if  app.user.store.defaultAdviser.profile != null %}
                                    <div class="d-flex">
                                        <a href="#">
                                            {% if app.user.store.defaultAdviser.profile.filename %}
                                                <img src="{{ vich_uploader_asset(app.user.store.defaultAdviser.profile, 'imageFile')|imagine_filter('miniature') }}" class="rounded-circle medium-avatar" alt="avatar image">
                                            {% else %}
                                                <img src="/images/default/user.png" class="rounded-circle medium-avatar" alt="avatar image">
                                            {% endif %}
                                        </a>
                                        <div>
                                            <p>{{ app.user.store.defaultAdviser.profile.firstname }} {{ app.user.store.defaultAdviser.profile.lastname }}</p>
                                            <small>{{ app.user.store.defaultAdviser.store }}</small>
                                        </div>
                                    </div>
                                    <div class="d-flex pt-3">
                                        <a type="button" href="{{ path('chat_private', {'id': app.user.store.defaultAdviser.id}) }}" class="btn small-btn orange-bg mr-2">Contacter</a>
                                        <a type="button" href="{{ path('profile_show', {'id': app.user.store.defaultAdviser.id}) }}" class="btn small-btn white-bg">Voir la fiche</a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p>Aucun conseiller défini</p>
                            {% endif %}
                        {% else %}
                            <p>Aucun conseiller défini</p>
                        {% endif %}
                    </div>
                </div>

                {% if app.user.company  %}
                <div class="box-company mt-3 min-col">
                    <small class="greyed">Votre entreprise</small>
                    <div class="box mt-0">
                        <div class="d-flex">
                            <a href="#">
                                {% if app.user.company.filename %}
                                    <img src="{{ vich_uploader_asset(app.user.company, 'imageFile')|imagine_filter('card') }}" class="rounded-circle medium-avatar" alt="avatar image">
                                {% else %}
                                    <img src="/images/no-available-company-photo.png" class="rounded-circle medium-avatar" alt="avatar image">
                                {% endif %}
                            </a>
                            <div class="pb-3">
                                <p>{{ app.user.company.name|capitalize }}</p>
                                <small>{{ app.user.company.city }}, {{ app.user.company.country }}</small>
                            </div>
                        </div>
                        <a type="button" href="{{ path('company_show', {'slug': app.user.company.slug}) }}" class="btn small-btn white-bg">Voir la fiche</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-lg-6">
                <div class="box-social-media min-col m-center">
                    <div class="new-post">
                        <div class="box">
                            <div class="d-flex">
                                {% if app.user.profile.filename %}
                                    <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" class="rounded-circle z-depth-0 medium-avatar" alt="avatar image">
                                {% else %}
                                    <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
                                {% endif %}
                                <a href="#" class="mt-3 ml-3 add-post" data-target="{{ path('post_create') }}"><span>Que voulez-vous partager {{ app.user.profile.firstname }} ?</span></a>
                            </div>
                            <hr>
                            <div class=" d-flex justify-content-between">
                                <div class="d-flex">
                                    <i class="fa fa-newspaper p-2 orange"></i>
                                    <i class="fa fa-chart-line p-2 orange"></i>
                                    <i class="fa fa-user-friends p-2 orange"></i>
                                    <i class="fa fa-calendar-alt p-2 orange"></i>
                                    <i class="fa fa-question p-2 orange"></i>
                                    <i class="fa fa-plus p-2 orange"></i>
                                </div>
                                <button class="btn small-btn grey-bg  add-post" data-target="{{ path('post_create') }}">Publier</button>
                            </div>
                        </div>
                    </div>

                    <div class="posts">
                        {% if posts|length %}
                            {% for post in posts %}

                                {% set difference = date(post.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}

                                {% if difference.days == 0 %}
                                    {% set time = post.createdAt|date("h:i") %}
                                {% elseif difference.days == 1 %}
                                    {% set time =  'Il y a 1 jour' %}
                                {% else %}
                                    {% set time =  'Il y a ' ~ difference.days ~ ' jours' %}
                                {% endif %}

                                <div class="box post">
                                    <div class="mb-3">
                                        <div class=" d-flex justify-content-between">
                                            <div class="d-flex">
                                                {% if post.user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(post.user.profile, 'imageFile') }}" class="rounded-circle medium-avatar" alt="avatar image">
                                                {% else %}
                                                    <img src="/images/default/user.png" class="rounded-circle medium-avatar" alt="avatar image">
                                                {% endif %}
                                                <div class="hover-info">
                                                    <p>{{ post.user.profile.firstname|capitalize }} {{ post.user.profile.lastname|capitalize }}</p>
                                                    <small>{{ post.user.company|capitalize }}</small>
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': post.user} %}
                                                </div>
                                            </div>
                                            <div>
                                                <div class="hover-btn-post text-right">
                                                    {% if post.user == app.user %}
                                                        <a type="button"
                                                           class="btn post-delete p-0 update-post-btn"
                                                           data-post = "{{ post.id }}"
                                                           data-toggle="modal"
                                                           data-url="{{ path('post_edit',{'id':post.id}) }}"
                                                           data-target="#update-post-modal"
                                                        >
                                                            <small>Modifier |</small></a>
                                                        <a type="button" class="btn post-delete p-0"
                                                           href="{{ path('post_remove', {'id': post.id}) }}"
                                                           >
                                                            <small>Supprimer</small></a>

                                                    {% else %}
                                                        {% if post.isreportedByUser(app.user) == false %}
                                                                <a type="button"
                                                                   data-post = "{{ post.id }}"
                                                                   class="btn post-delete report-abuse-btn p-0"
                                                                   data-toggle="modal"
                                                                   data-url="{{ path('abuse_add',{'postId':post.id, 'commentId':0}) }}"
                                                                   data-target="#add-abus-modal"> <small>Signaler</small>

                                                                </a>
                                                            {% endif %}
                                                    {% endif %}
                                                </div>
                                                {% if     post.category.id == 1 %}{% set badge = 'badge-green' %}{% set fa = 'fa-newspaper' %}
                                                {% elseif post.category.id == 2 %}{% set badge = 'badge-orange' %}{% set fa = 'fa-chart-line' %}
                                                {% elseif post.category.id == 3 %}{% set badge = 'badge-yellow' %}{% set fa = 'fa-question' %}
                                                {% elseif post.category.id == 4 %}{% set badge = 'badge-purple' %}{% set fa = 'fa-user-friends' %}
                                                {% elseif post.category.id == 5 %}{% set badge = 'badge-blue' %}{% set fa = 'fa-calendar-alt' %}
                                                {% elseif post.category.id == 6 %}{% set badge = 'badge-grey' %}{% set fa = 'fa-plus' %}
                                                {% endif %}
                                                <small class="d-block al-r">{{ time }}</small>
                                                <span class="badge {{ badge }} float-right">
                                                    <i class="fa {{ fa }}"></i> {{ post.category|capitalize }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <p><strong>{{ post.title }}</strong></p>
                                        <span>{{ post.description ?? null }}</span>
                                    </div>
                                    <div class="media-post mb-2">
                                        {% if post.urlYoutube is not null %}
                                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/{{ post.urlYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        {% elseif post.filename %}
                                            <img src="{{ vich_uploader_asset(post, 'imageFile')|imagine_filter('post') }}" class="img-fluid" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="comments">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <div class="likes-info {% if post.likes|length == 0 %}d-none{% endif %}"
                                                     data-post="{{post.id}}"
                                                     data-toggle="modal"
                                                     data-target="#LikesList"
                                                     data-path="{{path('post_likes', { 'id': post.id})}}">
                                                    <i class="fa fa-thumbs-up p-1 orange"></i>
                                                    <small>
                                                        <span id="{{ 'nblikespost' ~ post.id }}">{{post.likes|length}}</span>
                                                        {% if post.likes|length > 1 %}
                                                            j'aimes
                                                        {% else %}
                                                            j'aime
                                                        {% endif %}
                                                    </small>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="comments-info {% if post.comments|length == 0 %}d-none{% endif %}">
                                                    <small>
                                                        <span id="{{ 'nbcommentspost' ~ post.id }}">{{post.comments|length }}</span>
                                                        {% if post.comments|length > 1 %}
                                                            commentaires
                                                        {% else %}
                                                            commentaire
                                                        {% endif %}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <button class="btn updateLike" data-id="{{ post.id }}" data-url="{{ path("post_like", {'id': post.id}) }}">
                                                {% if post.isLikedByUser(app.user) %}
                                                    <i class="fa fa-thumbs-up"></i>
                                                {% else %}
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                {% endif %}
                                                J'aime
                                            </button>
                                            <button class="btn comment"><i class="fa fa-commenting-o ml-5 "></i> Commenter</button>
                                        </div>
                                        <hr>
                                        <div class="post-interaction" data-id="{{ post.id }}">
                                            <div class="box-comment-input d-flex mb-3">
                                                {% if app.user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" class="rounded-circle small-avatar" alt="avatar image">
                                                {% else %}
                                                    <img src="/images/default/user.png" class="rounded-circle small-avatar" alt="avatar image">
                                                {% endif %}
                                                <div class="text-comment-box">
                                                    <textarea placeholder="Que voulez-vous dire {{ app.user.profile.firstname|capitalize }} ?"></textarea>
                                                </div>
                                                <button class="submit-comment-box btn" data-url="{{ path('comment_post', {'id': post.id}) }}"><i class="fa fa-send-o"></i></button>
                                            </div>
                                            {% for comment in post.comments|reverse %}
                                                <div class="box-comment d-flex">
                                                    <div class="d-flex mb-2">
                                                        {% if post.user.profile.filename %}
                                                            <img src="{{ vich_uploader_asset(comment.user.profile, 'imageFile') }}" class="rounded-circle small-avatar" alt="avatar image">
                                                        {% else %}
                                                            <img src="/images/default/user.png" class="rounded-circle small-avatar" alt="avatar image">
                                                        {% endif %}
                                                        <div class="comment-content">
                                                            <span>{{ comment.description }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="hover-btn">
                                                        {% if comment.user == app.user %}
                                                            <button class="btn delete-comment" data-url="{{ path('remove_comment', {'id': comment.id}) }}"><small>supprimer</small></button>
                                                        {% else %}
                                                            {% if comment.isreportedByUser(app.user) == false %}
                                                                <a class="btn abuse-comment report-abuse-btn"
                                                                        data-comment = "{{ comment.id }}"
                                                                        data-toggle="modal"
                                                                        data-url="{{ path('abuse_add',{'postId':0, 'commentId':comment.id}) }}"
                                                                        data-target="#add-abus-modal"
                                                                ><small>signaler</small></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="box">
                                <div class="text-center">
                                    <p><strong>Nous n'avons pas trouvé de post dans cette catégorie</strong></p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box-advertising min-col float-right">
                    {% if publicity is not null %}
                        {% include 'default/boxes/advertising-box.html.twig' %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}


    <!-- Post Modal -->
    <div class="modal modal-add-post fade" id="add-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-post-content">
                <!-- html injected by js -->
                <div class="text-center">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to update post  -->


    <!-- Modal -->
    <div class="modal modal-update-post fade" id="update-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-update-post">
                <div class="text-center">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to report abuse  -->


    <!-- Modal -->
    <div class="modal modal-report-post fade" id="add-abus-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-report-abus">
                <div class="text-center">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to get the likes list  -->

    <div class="modal fade LikesList" id="LikesList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-likes-list">

                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-border text-warning" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>





    <!-- Modal -->
{% endblock %}

{% block javascripts %}
    <script src="/js/dashboard.js"></script>
{% endblock %}
