{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div class="container">

            {# Notice warning#}
            {% if app.user.company.isCompleted == false %}
                <div class="alert alert-dismissible alert-danger">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Entreprise non visible !</h4>
                    <p class="mb-0">Vous devez compléter votre fiche entreprise pour que les autres utilisateurs puissent la consulter. <a href="{{ path('company_edit', {'id': app.user.company.id}) }}" class="alert-link">Mon entreprise</a>.</p>
                </div>
            {% endif %}

            {% if app.user.profile.isCompleted == false %}
                <div class="alert alert-dismissible alert-primary">
                    <h4 class="alert-heading"><i class="fa fa-eye-slash"></i> Profile non visible !</h4>
                    <p class="mb-0">Vous devez compléter vos informations pour être visible par votre communauté. <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" class="alert-link">Mon profile</a>.</p>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="box">
                        <div class="row avatar">
                        {% if app.user.profile.photo %}
                            <img src="/images/profil/photo/{{ app.user.profile.photo }}" class="img-fluid" alt="">
                         {% else %}
                            <img src="/images/default_user.png" class="img-fluid" alt="">
                        {% endif %}
                        </div>
                        <p class="text-muted">{{ app.user.profile.lastname|capitalize ?: 'Profil incomplet'}} {{ app.user.profile.firstname|capitalize }}</p>
                        {#<p class="mb-3"> {{ app.user.profile.function.name|capitalize }}</p>#}
                        <a href="{{ path('profile_edit', {'id': app.user.profile.id }) }}">Modifier mon profile</a>
                    </div>
                    <div class="box">
                        <h4>Mon entreprise</h4>
                        <div class="row logo-company">
                         {% if app.user.company.logo %}
                            <img src="/images/logos/{{ app.user.company.logo }}" class="img-fluid" alt="">
                         {% else %}
                            <img src="/images/unknow-company.jpg" class="img-fluid" alt="">
                         {% endif %}
                        </div>
                        <p class="lead">{{ app.user.company.name|capitalize }}</p>
                        <p class="text-muted">{{ app.user.company.phone }}</p>
                        <p class="text-muted">{{ app.user.company.email }}</p>
                        <p class="text-muted mb-3">{{ app.user.company.website }}</p>
                        <a href="{{ path('company_edit', {'id': app.user.company.id}) }}">Modifier ma fiche</a>
                    </div>
                    <div class="box">
                        <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}"><h4>Mon magasin</h4></a>
                        <p class="lead">{{ app.user.store.name|capitalize }}</p>
                        <p><small>{{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }}</small></p>
                        <p class="mb-3"><small>{{ app.user.store.addressPostCode }} {{ app.user.store.city }}</small></p>
                        <a href="#">Contacter mon conseillé</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="box">
                        <h4>Mon activité</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="activity">Score BV</div>
                                <div class="activity">Impact environnemental</div>
                                <div class="activity">Nombre de recommandations</div>
                            </div>
                            <div class="col-6">
                                <div class="activity">Mes stats</div>
                            </div>
                        </div>
                    </div>
                    <div class="services">
                        <div class="box">
                            <h4>Mes services</h4>
                            {% if services is empty %}
                                <p>Vous n'avez pas crée de service.</p>
                                <p><a href="{{ path('service_create') }}">Créer un service</a></p>
                            {% else %}
                                <div class="row">
                                    {% for service in services %}
                                        <div class="col-4">
                                            <a href="#">
                                                <div class="info">
                                                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                                    <p class="title service-title">
                                                        <a href="{{ path('service_show', {'id': service.id}) }}">
                                                            {{ service.title }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row float-right mt-3">
                                    <a href="{{ path('service') }}">Voir plus ...</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="recommandations">
                        <div class="box">
                            <h4>Mes recommandations</h4>
                            <div class="row">
                                <div class="col-2">
                                    <div class="avatar">
                                        <img src="/images/default_user.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <p><strong>Nicolas Strugarek</strong></p>
                                    <p class="text-muted">Je recommande vivement cette personne pour sa qualité de travail en tant que développeur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
