{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-bv">
        <div id="onboarding" data-url="{{ path('onboarding') }}" data-onboarding="{{ app.user.profile.isOnboarding }}" data-session-onboarding="{{ app.session.get('popup')['isShowed'] ?? null }}" data-session-onboarding-url="{{ path('welcomepopup') }}"></div>
        <div class="row">
            <div class="warnings">
                {% include 'partials/warning.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 order-sm-2">
                <div class="box-social-media min-col m-center">

                    {% include 'default/boxes/only-mobile/adviser-and-special-offer.html.twig' %}

                    <div id="postpublish" class="new-post">
                        <div class="box shadow">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    {% if app.user.profile.filename %}
                                        <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('avatar_medium_2') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% else %}
                                        <img src="/images/default/user.png" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% endif %}
                                    <div class="meta">
                                        <p><strong>{{ app.user.profile.firstname|capitalize }}</strong></p>
                                        {% if app.user.company %}
                                          <small>{{ app.user.company.name|capitalize }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="vertical-center">
                                    {% if app.user.profile.isCompleted == true %}
                                        <button class="btn big-btn orange-bg  add-post" data-target="{{ path('post_create') }}">Publier un post</button>
                                    {% else %}
                                        <button type="button" class="btn big-btn orange-bg" data-toggle="tooltip" data-placement="top" title="Vous devez compléter votre profile">Publier un post</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'default/boxes/only-mobile/filter-categories.html.twig' %}

                    {% include 'default/posts/posts.html.twig' %}
                </div>
            </div>

            <div class="col-lg-3 col-md-12 order-sm-1">
                <div id="news-filter" class="box-navigation-items">
                    <small class="greyed">Filtrez votre actualité</small>
                    <ul>
                        <li class="{% if category is null %}active{% endif %}"value="All"><i class="fa fa-clone mr-2"></i><a href="{{ path('dashboard') }}">  Tout</a></li>
                        <li class="{% if category == 1 %}active{% endif %}" value="informations"><i class="far fa-newspaper mr-2"></i><a href="{{ path('dashboard_category', {'category': 1}) }}">  Informations</a></li>
                        <li class="{% if category == 7 %}active{% endif %}" value="Derniers arrivés"><i class="fas fa-users mr-2"></i><a href="{{ path('dashboard_category', {'category': 7}) }}">  Derniers arrivés</a></li>
                        <li class="{% if category == 2 %}active{% endif %}" value="Opportunité commerciale"><i class="far fa-handshake mr-2"></i>
                            <a href="{{ path('dashboard_category', {'category': 2}) }}" onclick="setSeenOpportunityNotification(this)" data-url="{{ path('opportunity_notification_set') }}">  Opportunité commerciale</a>
                            {% if opportunities|length > 0 %}
                                <span class="badge bell-badge">{{ opportunities|length }}</span>
                            {% endif %}
                        </li>
                        <li class="{% if category == 4 %}active{% endif %}" value="Emploi"><i class="fas fa-business-time mr-2"></i><a href="{{ path('dashboard_category', {'category': 4}) }}">  Emploi</a></li>
                        <li class="{% if category == 5 %}active{% endif %}" value="Événement"><i class="fa fa-calendar-alt mr-2"></i><a href="{{ path('dashboard_category', {'category': 5}) }}">  Evénement</a></li>
                        <li class="{% if category == 3 %}active{% endif %}" value="Question à la communauté"><i class="fa fa-question mr-2"></i><a href="{{ path('dashboard_category', {'category': 3}) }}">  Question à la communauté</a></li>
                        <li class="{% if category == 6 %}active{% endif %}" value="Autre"><i class="fa fa-plus mr-2"></i><a href="{{ path('dashboard_category', {'category': 6}) }}">  Autre</a></li>
                    </ul>
                </div>

                    <div id="advisorebox" class="box-advisor">
                        <small class="greyed">Votre conseiller</small>
                        <div class="box mt-0">
                            {% if  app.user.store != null %}
                                {% if  app.user.store.defaultAdviser != null %}
                                    {% if  app.user.store.defaultAdviser.profile != null %}
                                        <div class="d-flex">
                                            <a href="#">
                                                {% if app.user.store.defaultAdviser.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(app.user.store.defaultAdviser.profile, 'imageFile')|imagine_filter('miniature') }}" class="rounded-circle medium-avatar" alt="avatar image">
                                                {% else %}
                                                    <img src="/images/default/user.png" class="rounded-circle medium-avatar" alt="avatar image">
                                                {% endif %}
                                            </a>
                                            <div>
                                                <p>{{ app.user.store.defaultAdviser.profile.firstname }} {{ app.user.store.defaultAdviser.profile.lastname }}</p>
                                                <small>{{ app.user.store.defaultAdviser.store }}</small>
                                            </div>
                                        </div>
                                        <div class="d-flex pt-3">
                                            <a type="button" href="{{ path('chat_private', {'id': app.user.store.defaultAdviser.id}) }}" class="btn small-btn orange-bg mr-2">Contacter</a>
                                            <a type="button" href="{{ path('profile_show', {'id': app.user.store.defaultAdviser.id}) }}" class="btn small-btn white-bg">Voir la fiche</a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <p>Aucun conseiller défini</p>
                                {% endif %}
                            {% else %}
                                <p>Aucun conseiller défini</p>
                            {% endif %}
                        </div>
                    </div>

                {% if app.user.company   %}
                <div id="companybox" class="box-company mt-3">
                    <small class="greyed">Votre entreprise</small>
                    <div class="box mt-0">
                        <div class="d-flex">
                            <a href="#">
                                {% if app.user.company.filename %}
                                    <img src="{{ vich_uploader_asset(app.user.company, 'imageFile')|imagine_filter('miniature') }}" class="rounded-circle medium-avatar" alt="avatar image">
                                {% else %}
                                    <img src="/images/no-available-photo.png" class="rounded-circle medium-avatar" alt="avatar image">
                                {% endif %}
                            </a>
                            <div class="pb-3">
                                <p>{{ app.user.company.name|capitalize }}</p>
                                <small>{{ app.user.company.city }}, {{ app.user.company.country }}</small>
                            </div>
                        </div>
                        <a type="button" href="{{ path('company_show', {'slug': app.user.company.slug}) }}" class="btn small-btn white-bg">Voir la fiche</a>
                    </div>
                </div>
                {% endif %}

                <!-- Tutorial button -->
                <div id="tutorial" class="d-sm-none d-lg-block">
                    <small class="greyed">Besoin d'aide ?</small>
                    <div>
                        <button class="btn grey-bg-white full-width" onclick="tutorialDashboard()"><i class="fas fa-question mr-2"></i>Tutoriel</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 order-sm-3">
                <div class="box-advertising">
                    {% if publicity is not null %}
                        {% include 'default/boxes/advertising-box.html.twig' %}
                    {% endif %}

                    {% if lastSpecialOffer is not null %}
                        {% include 'default/boxes/specialOffer-box.html.twig' %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block modals %}

    <!-- Dashboard modals  -->
    {% include 'default/modals/dashboard-modals.html.twig' %}

    <!-- Welcome modals  -->
    {% include 'default/modals/call-modals.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="/js/dashboard.js"></script>
    <script src="/js/modals.js"></script>
{% endblock %}
