{% extends 'base.html.twig' %}
{% form_theme RegistrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

    <div id ="inscription" class="landing-page-container">

        <div style="position:relative">
           <div class="landing-page-first-bloc">
               <div class="landign-page-bloc1">
                    <header id="landing-page-header">
                        <div class="row">
                            <div class="col-lg-10 logo">
                                <a href="{{ path('dashboard') }}">
                                    <img class="landing-page-logo" src="/images/default/Logo-beevup&bv2.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-2 connexion-btn">
                                <button type="submit" class="white-btn cnx-btn" method="post">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a class="landing-page-connexin-link" href="{{ path('dashboard') }}">
                                            Accueil</a>
                                    {% else %}
                                    <a class="landing-page-connexin-link" href="{{ path('security_login') }}">
                                    Se connecter</a>
                                    {% endif %}
                                </button>
                             </div>
                        </div>
                    </header>
                    <section  class="m-5">
                       <div class="row">
                           <div class="col-lg-8">
                               <h1 class="landign-page-slogan">
                                   Le mouvement dédié <br/> aux entreprises locales
                               </h1>
                              <p class="landign-page-description">
                                  Échangez facilement avec toutes les entreprises locales<br/> et partagez des opportunités commerciales.
                              </p>
                           </div>
                           <div class="col-lg-4">
                               {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                   <div class="home-page-authentificated-user"></div>
                               {% else %}
                                  <div class="landing-page-registration-form">
                                      {{ form_start(RegistrationForm, {'attr': {'id': 'registration-form'}}) }}
                                      {{ form_errors(RegistrationForm.name) }}
                                      {{ form_widget(RegistrationForm.name) }}
                                      {{ form_errors(RegistrationForm.company) }}
                                      {{ form_widget(RegistrationForm.company) }}
                                      {{ form_errors(RegistrationForm.store) }}
                                      {{ form_widget(RegistrationForm.store) }}
                                      {{ form_errors(RegistrationForm.email) }}
                                      {{ form_widget(RegistrationForm.email) }}
                                      {{ form_errors(RegistrationForm.password) }}
                                      {{ form_widget(RegistrationForm.password) }}
                                      {{ form_errors(RegistrationForm.acceptConditions) }}
                                      {{ form_widget(RegistrationForm.acceptConditions) }}
                                      <div class="form-actions form-group">
                                          <button id ="inscription-btn" type="submit" class="col-12 orange-btn" disabled>Rejoindre</button>
                                      </div>
                                      {{ form_end(RegistrationForm) }}
                                  </div>
                               {% endif %}

                           </div>
                       </div>

                       <div class="landing-page-dashboard-img">
                           <div class="landing-page-section2">
                               <img class="landing-page-man" src="images/homePage/landingPage-man.png"/>
                               <div class="landing-page-dashbord d-none d-lg-block">
                                   <img class="landing-page-dashboard-screenshot" src="images/homePage/landingPage-dashboard-new.png"/>
                               </div>
                           </div>
                       </div>
                    </section>
               </div>
           </div>
           <svg version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1920.000000 110.000000"
                preserveAspectRatio="xMidYMid meet">
               <g transform="translate(0.000000,110.000000) scale(0.100000,-0.100000)"
                   fill="#FFF"
                   stroke="none">
                    <path d="M0 548 l0 -548 9600 0 9600 0 0 408 0 409 -177 -29 c-692 -110 -1225
                        -182 -1428 -193 -296 -16 -1327 -101 -2405 -200 -252 -23 -413 -35 -965 -70
                        -132 -9 -316 -21 -410 -27 -165 -11 -1427 -5 -4815 22 l-1065 9 -430 35 c-236
                        20 -486 41 -555 46 -69 6 -408 33 -755 60 -346 28 -826 66 -1065 85 -239 20
                        -489 40 -555 45 -503 39 -764 60 -790 65 -16 3 -151 18 -300 35 -358 40 -492
                        55 -790 90 -137 16 -554 64 -925 106 -642 72 -944 106 -1360 154 -102 12 -236
                        27 -297 34 l-113 12 0 -548z"/>
                </g>
          </svg>
        </div>
        <div class="landing-page-second-bloc">

            <div class="landing-page-map">
                <h2 class="bloc-title mb-3">
                    Un réseau de <span class="orange-txt"> 285 entreprises </span> proches de vous
                </h2>
                {% include 'homePage/map.html.twig' %}
            </div>

            <div class="row landing-page-section3 mt-3">
                <div class="col-lg-5">
                    <img class="landing-page-section3-img" src="/images/homePage/bureau-vallee-img1.png" alt=""></a>
                </div>
                <div class="col-lg-7 landing-page-section3-description">
                    <h2 class="bloc-title no-mobile">
                        Rejoignez Beev’Up, dès <br/> maintenant ...
                    </h2>
                    <h2 class="bloc-title only-mobile">
                        Rejoignez Beev’Up, dès maintenant ...
                    </h2>
                    <ul class="landing-page-list">
                        <li> Échangez facilement avec toutes les entreprises locales  </li>
                        <li> Partagez des opportunités commerciales </li>
                        <li> Proposez vos services </li>
                        <li> Accédez à des offres spéciales dédiées à la communauté <br/>Beev’Up </li>
                    </ul>
                </div>
            </div>

            <div class="row landing-page-section4">
                <h2 class="col-12 bloc-title no-mobile" style="width:100%">
                    Participez à la création d’une communauté locale<br/> d’entrepreneurs engagés
                </h2>
                <h2 class="col-12 bloc-title only-mobile" style="width:100%">
                    Participez à la création <br/> d’une communauté locale<br/> d’entrepreneurs engagés
                </h2>
                <div class="col-lg-3 col-md-6 col-sm-12 bloc landing-page-section4-first-bloc">
                    <div class="landing-page-section4-bloc">
                        <div class="landing-page-section4-bloc-image">
                            <img class="landing-page-section4-img" src="/images/homePage/beevup-img-man.png" alt="">
                        </div>
                        <p class="list-item"> Développement du tissu économique local</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 bloc">
                    <div class="landing-page-section4-bloc">
                        <div class="landing-page-section4-bloc-image">
                            <img class="landing-page-section4-img" src="/images/homePage/beevup-img2.png" alt="">
                        </div>
                        <p class="list-item"> Développement d’activité à impact positif sur la société</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 bloc">
                    <div class="landing-page-section4-bloc">
                        <div class="landing-page-section4-bloc-image">
                            <img class="landing-page-section4-img" src="/images/homePage/beevup-img4.png" alt="">
                        </div>
                        <p class="list-item"> Dans la préservation de l’environnement</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 bloc landing-page-section4-last-bloc">
                    <div class="landing-page-section4-bloc">
                        <div class="landing-page-section4-bloc-image">
                            <img class="landing-page-section4-img" src="/images/homePage/beevup-img3.png" alt="">
                        </div>
                        <p class="list-item"> Pour leurs clients </p>
                    </div>
                </div>
             </div>
        </div>

        <div class="landing-page-join-beevup-bloc">
            <h2 class="landing-page-join-beevup-title">
                Rejoignez le mouvement
            </h2>
            <div>
               <button id ="inscription-btn" type="submit" class="landing-page-join-beevup-btn sm-orange-btn mt-3" disabled>
                   <a href="#inscription" class="rejoindre-link">Rejoindre</a>
               </button>
            </div>
        </div>

        <div class="logo_footer">
            <img class="landing-page-logo" src="/images/logo_bv_main.png" alt="">
        </div>

    </div>

    {#dispaly cookies message #}
    {% include 'partials/cookies.html.twig' %}
{% endblock %}