{% extends 'base.html.twig' %}
{% form_theme RegistrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div id ="inscription" class="landing-page-container">
        <div class="position-relative">
           <div class="landing-page-first-bloc">
               <div class="landign-page-bloc1 header-padding">
                    <section>
                       <div class="row">
                           <div class="col-lg-8 mt-5">
                               <img class="landing-page-logo" src="{{ asset('build/images/default/logo-beevup-blue.png') }}" alt="">
                               <h1 class="landign-page-slogan">
                                   La plateforme des professionnels<br> pour développer votre entreprise
                               </h1>
                              <p class="landign-page-description">
                                  <strong>Artisans, Commerçants, Professions Libérales, Indépendants, TPE/PME</strong><br><br>
                                  <span class="text-muted">Inscrivez-vous gratuitement pour commencer à développer votre activité !</span>
                              </p>
                           </div>
                           <div class="col-lg-4">
                               {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                   <div class="home-page-authentificated-user"></div>
                               {% else %}
                                  <div class="landing-page-registration-form">
                                      {{ form_start(RegistrationForm, {'attr': {'id': 'registration-form'}}) }}

                                          <div class="d-flex justify-content-between">
                                              <div class="mr-1">
                                                  {{ form_errors(RegistrationForm.lastname) }}
                                                  {{ form_widget(RegistrationForm.lastname) }}
                                              </div>
                                              <div>
                                                  {{ form_errors(RegistrationForm.firstname) }}
                                                  {{ form_widget(RegistrationForm.firstname) }}
                                              </div>
                                          </div>

                                          {{ form_errors(RegistrationForm.name) }}
                                          {{ form_widget(RegistrationForm.name) }}

                                          <div id ='box-get-siret'>
                                              {{ form_errors(RegistrationForm.get_siret_from_api) }}
                                              {{ form_widget(RegistrationForm.get_siret_from_api) }}
                                          </div>

                                          {{ form_errors(RegistrationForm.company) }}
                                          {{ form_widget(RegistrationForm.company) }}
                                          {{ form_errors(RegistrationForm.store) }}
                                          {{ form_widget(RegistrationForm.store) }}
                                          {{ form_errors(RegistrationForm.email) }}
                                          {{ form_widget(RegistrationForm.email) }}
                                          {{ form_errors(RegistrationForm.password) }}
                                          {{ form_widget(RegistrationForm.password) }}
                                          {{ form_errors(RegistrationForm.acceptConditions) }}
                                          {{ form_widget(RegistrationForm.acceptConditions) }}
                                          <div class="form-actions form-group">
                                              <button id ="inscription-btn" type="submit" class="col-12 orange-btn" disabled>S'inscrire</button>
                                          </div>
                                      {{ form_end(RegistrationForm) }}
                                      <div class="text-center mt-3">
                                          <p>Ou <a href="{{ path('security_login') }}">Se connecter</a> </p>
                                      </div>
                                  </div>
                               {% endif %}
                           </div>
                       </div>

                       {#<div class="landing-page-dashboard-img">
                           <div class="landing-page-section2">
                               <img class="landing-page-man" src="{{ asset('build/images/homePage/landingPage-man.png') }}"/>
                               #}{#<div class="landing-page-dashbord d-none d-lg-block">
                                   <img class="landing-page-dashboard-screenshot" src="{{ asset('build/images/homePage/landingPage-dashboard.png') }}"/>
                               </div>#}{#
                           </div>
                       </div>#}
                    </section>
               </div>
           </div>

            <div class="container-bv container-landing-page-boxes">
                <h3>Nos outils pour vous accompagner :</h3>
                {# case information boxes#}
                <div class="landing-page-boxes p-0">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="text-center">
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/search.png') }}" alt="">
                                </div>
                                <h4>Référencement sur le <br> moteur de recherche Beev'Up</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="text-center">
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/people.png') }}" alt="">
                                </div>
                                <h4>Visibilité en ligne et dans <br> votre magasin Bureau Vallée</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="text-center">
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/label.png') }}" alt="">
                                </div>
                                <h4>Label Beev'Up <br>gage de qualité</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="landing-page-section-mission">
                <div class="container-bv text-center">
                    <h3>Notre mission</h3>
                </div>
            </div>

            <div class="container-bv container-landing-page-boxes our-mission">
                <div class="">
                    <p><strong>Beev’Up est un outil au service des entreprises</strong> désireuses de trouver de nouveaux clients.</p>
                    <p>Nous faisons <strong>votre promotion</strong> tant en <strong>magasin</strong> par de l'affichage dynamique et la promotion par nos vendeurs, que sur le digital avec <strong>notre site beevup.fr</strong> et bientôt par le relais de notre site e-commerce <u>bureau-vallee.com</u> qui accueille plus de 15 millions de visiteurs par an.</p>
                    <p>La plateforme permet aux entreprises locales de s’entraider, d’échanger, de proposer leurs services et d’étendre leur réseau professionnel.</p>
                </div>
                <div class="text-center">
                    <button type="button" class="scrollToTop orange-btn landing-page-inscription-btn mt-3">S'inscrire</button>
                </div>
            </div>

            <div class="container-bv our-value">
                <h3>Nos valeurs :</h3>
                {# case information boxes#}
                <div class="landing-page-boxes p-0">
                    <div class="row row-equal">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="landing-page-section4-bloc">
                                <h4>Proximité</h4>
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/local.jpg') }}" alt="">
                                </div>
                                <div class="box-text mt-2">
                                    <p>Vous êtes accompagnés par l’un de nos 350 magasins Bureau Vallée pour développer votre portefeuille client localement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="landing-page-section4-bloc">
                                <h4>Qualité</h4>
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/quality.jpg') }}" alt="">
                                </div>
                                <div class="box-text mt-2 mb-3">
                                    <p>Vous êtes reconnus par le Label Beev’Up* et vous rejoignez un groupe de professionnels qualifiés et à l’écoute de ses clients.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="landing-page-section4-bloc">
                                <h4>Éthique</h4>
                                <div class="landing-page-section4-bloc-image">
                                    <img class="landing-page-section4-img" src="{{ asset('build/images/homePage/boxes/ethique.jpg') }}" alt="">
                                </div>
                                <div class="box-text mt-2">
                                    <p>Vous faites partie d’une communauté engagée dans le développement durable et la transition écologique.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#<svg version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1920.000000 110.000000"
                preserveAspectRatio="xMidYMid meet">
               <g transform="translate(0.000000,110.000000) scale(0.100000,-0.100000)"
                   fill="#FFF"
                   stroke="none">
                    <path d="M0 548 l0 -548 9600 0 9600 0 0 408 0 409 -177 -29 c-692 -110 -1225
                        -182 -1428 -193 -296 -16 -1327 -101 -2405 -200 -252 -23 -413 -35 -965 -70
                        -132 -9 -316 -21 -410 -27 -165 -11 -1427 -5 -4815 22 l-1065 9 -430 35 c-236
                        20 -486 41 -555 46 -69 6 -408 33 -755 60 -346 28 -826 66 -1065 85 -239 20
                        -489 40 -555 45 -503 39 -764 60 -790 65 -16 3 -151 18 -300 35 -358 40 -492
                        55 -790 90 -137 16 -554 64 -925 106 -642 72 -944 106 -1360 154 -102 12 -236
                        27 -297 34 l-113 12 0 -548z"/>
                </g>
            </svg>
            <div class="block-background-white"></div>#}
        </div>

        <div class="landing-page-section-how-work">
            <div class="container-bv text-center">
                <h3>Comment ça marche ?</h3>
            </div>
        </div>

        <div class="container-bv container-landing-page-boxes how-it-work">
            <div class="">
                <ul>
                    <li><strong>1</strong> - Inscrivez vous gratuitement sur le formulaire en indiquant vos Nom, Prénom et la Raison Sociale de votre entreprise. Cliquez sur "Recherchez votre SIRET" et choisissez le dans la liste.</li>
                    <li><strong>2</strong> - Vous recevez un e-mail avec un lien. Cliquez dessus pour valider votre e-mail.</li>
                    <li><strong>3</strong> - Complétez votre profil. N’oubliez pas d’ajouter votre photo et le logo de votre entreprise.</li>
                    <li><strong>4</strong> - Ajoutez un service pour compléter la présentation de votre entreprise.</li>
                </ul>
                <div class="text-center">
                    <p><strong>Bravo, vous êtes visible en magasin et sur notre site internet.</strong></p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="scrollToTop orange-btn landing-page-inscription-btn mt-3">S'inscrire</button>
            </div>
        </div>

        <div class="landing-page-map no-mobile">
            <h2 class="bloc-title mb-3">
                Rejoignez les entreprises locales
            </h2>
            {% include 'default/map.html.twig' %}
        </div>

        <div class="landing-page-second-bloc">
            {# Testimonial #}
            <div class="landing-page-testimonials ">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card-testimonial d-flex">
                                <img class="no-mobile" src="{{ asset('build/images/homePage/testimonials/testimonial2.png') }}" alt="">
                                <div class="meta">
                                    <i class="fas fa-quote-left"></i>
                                    <h4>"J’apprécie de pouvoir faire connaitre mes différents services aux autres clients de Bureau Vallée et de pouvoir échanger avec eux"</h4>
                                    <strong class="mt-5">Benjamin, BS Elec</strong>
                                    <em>Electricien, Mézieres(78)</em>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-testimonial d-flex">
                                <img class="no-mobile" src="{{ asset('build/images/homePage/testimonials/testimonial1.png') }}" alt="">
                                <div class="meta">
                                    <i class="fas fa-quote-left"></i>
                                    <h4>"Très belle plateforme, simple d’utilisation. L’équipe est à l’écoute de ses clients pour faire évoluer les fonctionnalités de cet outil"</h4>
                                    <strong class="mt-5">Lucien, Assuractis</strong>
                                    <em>Courtier en assurance et conseil pour les entreprises, Mougins (06)</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="landing-page-dashbord">
            {# Video #}
            <div class="landing-page-video">
                <video autoplay controls muted loop>
                    <source src="{{ asset('build/images/homePage/videos/beevup_introduction.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="landing-page-join-beevup-bloc">
            <h2 class="landing-page-join-beevup-title">
                Nous contacter
            </h2>
            <div>
                <a href="mailto:beevup@bureau-vallee.com" target="_blank" class="mt-5"><h4>beevup@bureau-vallee.com</h4></a>
            </div>
        </div>

        <div class="text-center mb-5">
            <p><small>*sous conditions d’éligibilité (Le Label Beev’Up est attribué aux entreprises qui s’engagent à signer la charte Beev’Up, ont rencontré le référent Beev’Up de leur magasin de rattachement et mis à disposition les documents demandés)</small></p>
        </div>

        <div class="logo_footer">
            <img class="" src="{{ asset('build/images/logo_bv_main.png') }}" alt="">
        </div>

    </div>

    {#dispaly cookies message #}
    {% include 'partials/cookies.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}