<div class="user_profile">
    <div class="company-pro-img">
        {% if store.filename %}
            <img class="main-img"src="{{ vich_uploader_asset(store, 'imageFile') }}"  alt="">
        {% else %}
            <img class="main-img" src="{{ asset('build/images/no-available-photo.png') }}" alt="">
        {% endif %}
        {% if is_granted('ROLE_ADMIN_STORE') and store.id == app.user.store.id %}

            <a class="update-image upload-photo"type="button"   data-toggle="modal" data-target="#update-img-modal"  data-id ="{{ store.id  }}" data-url ="{{ path('store_update_image', {'id': store.id}) }}" title=""><i class="fas fa-camera"></i></a>

        {% endif %}
    </div><!--user-pro-img end-->
    <div class="user_pro_status">
        {% if is_granted('ROLE_ADMIN_STORE') and store.id == app.user.store.id %}
            <div class="btn white-bg">
                {% if app.request.attributes.get('_route') == 'store_edit' %}
                    <a class="" href="{{ path('store_show', {'slug': store.slug}) }}">
                        Voir les informations
                    </a>
                {% else %}
                    <a class="" href="{{ path('store_edit', {'id': store.id}) }}">
                        Modifier les informations
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div><!--user_pro_status end-->
    <ul class="social_links">
        <li><i class="fas fa-map-marker-alt"></i> <span class="">{{ store.addressNumber }} {{ store.addressStreet }} {{ store.addressPostCode }}, {{ store.city }}, {{ store.country }}</span></li>
        <li><i class="fas fa-mobile-alt"></i> <span class="">  {{ store.phone ?? '<small>N° de téléphonse non renseigné</small>' }} </span></li>
    </ul>
</div><!--user_profile end-->


{% include 'default/modals/upload/uploadImageModal.html.twig' %}