<div id="postsbox" class="posts">
    {% if posts|length %}
    {% for post in posts %}

    {% set difference = date(post.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}

    {% if difference.days == 0 %}
    {% set time = post.createdAt|date("H:i") %}
    {% elseif difference.days == 1 %}
    {% set time =  'Il y a 1 jour' %}
    {% else %}
    {% set time =  'Il y a ' ~ difference.days ~ ' jours' %}
    {% endif %}

    <div class="box post">
        <div class="mb-3">
            <div class=" d-flex justify-content-between">
                <div class="d-flex">
                    {% if post.category.id == 7 %}
                    <img src="/images/default/favicon-beevup.png" class="rounded-circle medium-avatar" alt="avatar image">
                    <div>
                        <p>Administrateur Beevup</p>
                        <small>Beevup</small>
                    </div>
                    {% else %}
                    {% if post.user.profile.filename %}
                        <img src="{{ vich_uploader_asset(post.user.profile, 'imageFile')|imagine_filter('avatar_small') }}"  class="rounded-circle medium-avatar" alt="avatar image">
                    {% else %}
                        <img src="/images/default/user.png" class="rounded-circle medium-avatar" alt="avatar image">
                    {% endif %}
                        <div class="hover-info">
                            <p>{{ post.user.profile.firstname }} {{ post.user.profile.lastname }}</p>
                            <small>{{ post.user.company|capitalize }}</small>
                            {% include 'default/modals/hoverUserPopin.html.twig' with {'user': post.user} %}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <div class="hover-btn-post text-right">
                        {% if post.user == app.user and post.category.id != 7%}
                        <a type="button"
                           class="btn post-delete p-0 update-post-btn"
                           data-post = "{{ post.id }}"
                           data-toggle="modal"
                           data-url="{{ path('post_edit',{'id':post.id}) }}"
                           data-target="#update-post-modal">
                            <small>Modifier |</small>
                        </a>
                        <a type="button" class="btn post-delete p-0"
                           href="{{ path('post_remove', {'id': post.id}) }}">
                            <small>Supprimer</small>
                        </a>
                        {% else %}
                        {% if post.isreportedByUser(app.user) == false and post.category.id != 7%}
                        <a type="button"
                           data-post = "{{ post.id }}"
                           class="btn post-delete report-abuse-btn p-0"
                           data-toggle="modal"
                           data-url="{{ path('abuse_add',{'postId':post.id, 'commentId':0}) }}"
                           data-target="#add-abus-modal"> <small>Signaler</small>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% if     post.category.id == 1 %}{% set badge = 'badge-green' %}{% set fa = 'far fa-newspaper' %}
                    {% elseif post.category.id == 2 %}{% set badge = 'badge-orange' %}{% set fa = 'far fa-handshake' %}
                    {% elseif post.category.id == 3 %}{% set badge = 'badge-yellow' %}{% set fa = 'fa fa-question' %}
                    {% elseif post.category.id == 4 %}{% set badge = 'badge-purple' %}{% set fa = 'fas fa-business-time' %}
                    {% elseif post.category.id == 5 %}{% set badge = 'badge-blue' %}{% set fa = 'fa fa-calendar-alt' %}
                    {% elseif post.category.id == 6 %}{% set badge = 'badge-grey' %}{% set fa = 'fa fa-plus' %}
                    {% elseif post.category.id == 7 %}{% set badge = 'badge-blue-dark' %}{% set fa = 'fas fa-users' %}
                    {% elseif post.category.id == 8 %}{% set badge = 'badge-black' %}{% set fa = 'fas fa-info-circle' %}
                    {% endif %}
                    <small class="d-block al-r">{{ time }}</small>
                    <span class="badge {{ badge }} float-right">
                        <a href="{{ path('dashboard_category', {'category': post.category.id}) }}"><i class="{{ fa }}"></i> {{ post.category|capitalize }}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <div class="post-title">
                {% if post.relatedToType != null and post.relatedToType == 'Recommandation'%}
                    <h5>
                        {% if post.relatedToRecommandation != null %}
                            <a target="_blank" href="{{ path('profile_show',{'id':post.relatedToRecommandation.user.profile.id}) }}">
                             {{ post.relatedToRecommandation.user.profile.firstname }} {{ post.relatedToRecommandation.user.profile.lastname }}
                            </a>
                            a recommandé

                             {% if post.relatedToRecommandation.store != null %}
                                     {% if post.relatedToRecommandation.service != null %}
                                       le service  <a target="_blank" href="{{path('service_show',{'id':post.relatedToRecommandation.service.id})}}">{{ post.relatedToRecommandation.service.title }}</a>
                                         du magasin  <a target="_blank" href="{{path('store_show',{'slug':post.relatedToRecommandation.store.slug})}}">{{ post.relatedToRecommandation.store.name }}</a>
                                     {% else %}
                                       le magasin  <a target="_blank" href="{{path('store_show',{'slug':post.relatedToRecommandation.store.slug})}}">{{ post.relatedToRecommandation.store.name }}</a>
                                     {% endif %}

                             {% else  %}
                                 {% if post.relatedToRecommandation.service != null %}
                                     le service <a target="_blank" href="{{path('service_show',{'id':post.relatedToRecommandation.service.id})}}">{{ post.relatedToRecommandation.service.title }}</a>
                                     de l'entreprise  <a target="_blank" href="{{path('company_show',{'slug':post.relatedToRecommandation.company.slug})}}">{{ post.relatedToRecommandation.company.name }}</a>
                                 {% else %}
                                     l'entreprise   <a target="_blank" href="{{path('company_show',{'slug':post.relatedToRecommandation.company.slug})}}">{{ post.relatedToRecommandation.company.name }}</a>
                                 {% endif %}
                             {% endif %}

                        {% endif %}
                    </h5>
                {% else  %}
                    {% if post.urlLink %}<a href="{{ post.urlLink }}" target="_blank">{% endif %}
                    {% if post.toCompany != null %}<a href="/company/{{ post.toCompany.slug }}" target="_blank">{% endif %}
                    {% if post.relatedTo != null and post.relatedToType == 'Service'%}<a href="/service/{{ post.relatedTo }}" target="_blank">{% endif %}
                    {% if post.relatedToType != null and post.relatedToType == 'User'   %}<a href="/account/{{ post.relatedTo }}" target="_blank">{% endif %}

                                    <h5>{{ post.title }}</h5>
                        {% if post.urlLink %}</a>{% endif %}
                        {% if post.toCompany %}</a>{% endif %}
                        {% if post.relatedTo %}</a>{% endif %}
                        {% if post.relatedToType %}</a>{% endif %}
                {% endif %}
            </div>
            <span>{{ post.description|raw }}</span>
            {% if post.urlLink %}<p><a href="{{ post.urlLink }}" target="_blank">Voir le lien complet</a></p>{% endif %}
        </div>
        <div class="media-post mb-2">
            {% if post.urlYoutube is not null %}
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/{{ post.urlYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% elseif post.imageLink %}
            <img src="{{ post.imageLink }}" width="100%" alt="">
            {% elseif post.filename %}
            <img src="{{ vich_uploader_asset(post, 'imageFile')}}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="comments">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="likes-info {% if post.likes|length == 0 %}d-none{% endif %}"
                         data-post="{{post.id}}"
                         data-toggle="modal"
                         data-target="#LikesList"
                         data-path="{{path('post_likes', { 'id': post.id})}}">
                        <i class="fa fa-thumbs-up p-1 orange"></i>
                        <small>
                            <span id="{{ 'nblikespost' ~ post.id }}">{{post.likes|length}}</span>
                            {% if post.likes|length > 1 %}
                            j'aimes
                            {% else %}
                            j'aime
                            {% endif %}
                        </small>
                    </div>
                </div>
                <div>
                    <div class="comments-info {% if post.comments|length == 0 %}d-none{% endif %}">
                        <small>
                            <span id="{{ 'nbcommentspost' ~ post.id }}">{{post.comments|length }}</span>
                            {% if post.comments|length > 1 %}
                            commentaires
                            {% else %}
                            commentaire
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <button class="btn updateLike" data-id="{{ post.id }}" data-url="{{ path("post_like", {'id': post.id}) }}">
                {% if post.isLikedByUser(app.user) %}
                <i class="fa fa-thumbs-up"></i>
                {% else %}
                <i class="fa fa-thumbs-o-up"></i>
                {% endif %}
                J'aime
                </button>
                <button class="btn comment"><i class="fa fa-commenting-o ml-5 "></i> Commenter</button>
            </div>
            <hr>
            <div class="post-interaction" data-id="{{ post.id }}">
                <div class="box-comment-input d-flex mb-3">
                    {% if app.user.profile.filename %}
                    <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('avatar_small') }}" class="rounded-circle small-avatar" alt="avatar image">
                    {% else %}
                    <img src="/images/default/user.png" class="rounded-circle small-avatar" alt="avatar image">
                    {% endif %}
                    <div class="text-comment-box">
                        <textarea placeholder="Ajouter un commentaire"></textarea>
                    </div>
                    <button class="submit-comment-box btn" data-url="{{ path('comment_post', {'id': post.id}) }}"><i class="fa fa-send-o"></i></button>
                </div>
                {% for comment in post.comments|reverse %}
                <div class="box-comment d-flex">
                    <div class="d-flex mb-2">
                        {% if comment.user.profile.filename %}
                        <img src="{{ vich_uploader_asset(comment.user.profile, 'imageFile')|imagine_filter('avatar_small') }}" class="rounded-circle small-avatar" alt="avatar image">
                        {% else %}
                        <img src="/images/default/user.png" class="rounded-circle small-avatar" alt="avatar image">
                        {% endif %}
                        <div class="comment-content">
                            <span>{{ comment.description }}</span>
                        </div>
                    </div>
                    <div class="hover-btn">
                        {% if comment.user == app.user %}
                        <button class="btn delete-comment" data-url="{{ path('remove_comment', {'id': comment.id}) }}"><small>supprimer</small></button>
                        {% else %}
                        {% if comment.isreportedByUser(app.user) == false %}
                        <a class="btn abuse-comment report-abuse-btn"
                           data-comment = "{{ comment.id }}"
                           data-toggle="modal"
                           data-url="{{ path('abuse_add',{'postId':0, 'commentId':comment.id}) }}"
                           data-target="#add-abus-modal"
                        ><small>signaler</small></a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
        <div class="load-more-posts-section" data-first-post="{{minPostId}}">
            Voir plus
        </div>
    {% else %}
    <div class="box">
        <div class="text-center">
            <p><strong>Nous n'avons pas trouvé de post dans cette catégorie</strong></p>
        </div>
    </div>
    {% endif %}
</div>