<div class="banner text-center">
    <h1>La charte du professionnel Beev’Up</h1>
</div>
<section class="container">
    <div class="mt-5">
        <div class="mt-3">
            <p>Beev'Up est une plateforme qui unit les professionnels dans le développement économique local et durable.
                <br>Autrement dit, elle permet à chacun de développer l'activité de votre entreprise en s’appuyant sur l’adhésion à nos valeurs : Proximité, Qualité, Ethique.
            </p>
        </div>
        <div class="mt-3">
            <h5>Pourquoi la charte du professionnel Beev’Up est-elle importante ?</h5>
            <p>Pour que notre communauté puisse attirer les meilleurs services, nous avons publié cette charte destinée à tous les professionnels de Beev’Up. Elle participe aux engagements de la plateforme.
                <br><br>Elle vise à regrouper un ensemble de bonnes pratiques pour aider les professionnels de la communauté Beev'Up à mieux comprendre les attentes de chacun.
                <br>En signant la charte, votre adhésion aux valeurs de Beev’Up permet de rassurer les clients et les inciter à vous contacter. Un espace "Mon label" est créé vous permettant d’enregistrer les documents nécessaires afin d’obtenir une meilleure visibilité sur le site. Ainsi, vous participez au développement de la communauté Beev’Up à votre niveau.
                <br><br>Le respect de cette charte est essentiel car elle vous protège, en tant que professionnel, ainsi que ses clients. En effet, Beev’Up s’engage aussi à prendre des mesures pour faire respecter ces principes auprès des clients, qu’ils soient de confiance pour le bien de la communauté. ​
                Nous nous réservons la possibilité de suspendre les comptes des utilisateurs ne respectant pas les éléments de la charte, tels que les litiges répétés, les échanges irrespectueux ou non professionnels.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="mt-3 text-center">
                <img class="" src="{{ asset('build/images/dashboard/insigne.png') }}" alt="">
                <h5 class="mt-2">Je m’engage à fournir des informations exactes et complètes</h5>
            </div>
            <p class="text-justify">Je donne des informations exactes sur mon identité, mon entreprise ainsi que les services qu’elle propose. Il est évidemment interdit d’usurper l’identité de quelqu’un, d’estamper le SIRET d’une entreprise qui ne serait pas la vôtre ou encore de proposer des services que vous ne faites pas réellement.
                <br>Un extrait Kbis vous sera demandé pour valider ces informations.
            </p>
        </div>
        <div class="col-4">
            <div class="mt-3 text-center">
                <img class="" src="{{ asset('build/images/dashboard/insigne.png') }}" alt="">
                <h5 class="mt-2">Je m’engage à effectuer un travail de qualité</h5>
            </div>
            <p class="text-justify">Je réponds rapidement aux propositions reçues de mes potentiels clients et je tiens mes promesses. De fait, je veille à la qualité de mes services, tout en assurant une bonne communication.
                <br>J'étudie et je valide les recommandations qui me sont transmises. J'accepte que Beev'Up sollicite l'avis des clients proposés.
            </p>
        </div>
        <div class="col-4">
            <div class="mt-3 text-center">
                <img class="" src="{{ asset('build/images/dashboard/insigne.png') }}" alt="">
                <h5 class="mt-2">Je m’engage à être à proximité du magasin Bureau Vallée que j’ai choisi</h5>
            </div>
            <p class="text-justify">La volonté de Beev'Up est de vous aider à développer votre activité localement.
                <br>C’est pourquoi, je m’engage à choisir le magasin Bureau Vallée le plus proche de mon lieu de travail. Les clients potentiels trouveront de la légitimité à vous rencontrer si vous êtes proche de notre magasin. Aussi, vous contribuez à l’environnement en travaillant localement.
                <br>Nous vous proposerons un rendez-vous au magasin choisi pour confirmer votre proximité et commencer à promouvoir votre entreprise.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mt-3 text-center">
                <img class="" src="{{ asset('build/images/dashboard/insigne.png') }}" alt="">
                <h5 class="mt-2">Je m’engage à être responsable</h5>
            </div>
            <p class="text-justify">Beev’Up possède une dimension responsable et durable car elle travaille sur le respect de l’écologie et souhaite valoriser les entreprises sensibles à l‘environnement.
                <br>Je m’engage à être responsable en faisant des actions pour diminuer ma consommation d'énergie (LED, véhicules électriques, etc.), en triant mes déchets au sein de mon entreprise et en adoptant une politique RH basée sur la diversité et le bien-être des salariés.
                <br>Je favorise l'emploi local et je me fournis dans les entreprises proches de mon lieu d'activité.
                <br>NB : Il est possible de demander à un prestataire de certifier votre entreprise de responsable comme Bureau Vallée.
            </p>
        </div>
        <div class="col-4">
            <div class="mt-3 text-center">
                <img class="" src="{{ asset('build/images/dashboard/insigne.png') }}" alt="">
                <h5 class="mt-2">Je m’engage à développer l'entraide sur Beev’Up</h5>
            </div>
            <p class="text-justify">Pour développer l’activité de tous les professionnels de la plateforme Beev’Up, je m’engage à la faire vivre de quelque manière que ce soit. Par exemple, je parraine un professionnel, j'apporte une affaire à la communauté, en créant un événement, en menant une animation...
                <br>Toute action est récompensée par un système de points que nous avons instauré sur la plateforme, et permet aux autres de se développer et vous permet de gagner des points pour être visible de vos potentiels clients.
            </p>
        </div>
    </div>

    <div class="my-5">
        <form>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="acceptCharter">
                <label class="form-check-label" for="acceptCharter">Je certifie avoir lu la charte du professionnel Beev'Up et je respecte les engagements de celle-ci.</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn orange-bg" id="signCharterBtn" data-user="{{ app.user.id }}">Signer et enregistrer</button>
            </div>
        </form>
    </div>
</section>

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}