{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

    {% include 'partials/flashes.html.twig' %}

    <section>
        <div class="company-header">
            <div class="container-bv">
                <div class="d-md-flex d-lg-flex">
                    <div class="company-pro-img">
                        {% if company.filename %}
                            <img class="main-img" src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('company_show') }}"  alt="">
                        {% else %}
                            <img class="main-img" src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="company-pro-meta p-4">
                        <h3>{{ company.name }}</h3>
                        {% if company.category %}
                            {% if  company.category.name != 'Autre' %}
                                <span><strong>{{ company.category.name  }}</strong></span>
                            {% else  %}
                                <span><strong>{{ company.otherCategory }}</strong></span>
                            {% endif %}
                        {% endif %}
                        <p>{{ company.introduction|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="company-nav">
            <div class=" pt-0 pb-0">
                <nav id="company-content">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#company-presentation">Présentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#company-services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#company-access">Informations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#company-recommandations-services">Recommandations</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="company-content" data-spy="scroll" data-target="#company-content" data-offset="0">
        <div class="container-bv">
            <div class="row">
                <div class="col-lg-2">
                    <a href="{{ path('external_search', {'store': app.session.get('store-reference')}) }}" title="" class="btn white-bg float-right mb-3">
                        Nouvelle recherche
                    </a>
                </div>
                <div class="col-lg-7">
                    <div class="company-content-presentation">
                        <div class="user-profile-ov page-title sign_in_sec current" id="company-presentation">
                            <h5>Présentation de {{ company.name }}</h5>
                            <p>{{ company.description|raw ?: 'Pas de description' }}</p>
                        </div>
                    </div>
                    <div class="company-content-services">
                        <div class="user-profile-ov page-title sign_in_sec current" id="company-services">
                            <h5>{{ company.name }} vous propose les services suivants</h5>
                            {% if  countServices > 0 %}
                                <div class="page-title sign_in_sec current">
                                    <div class="profiles-slider">
                                        {% for service in services %}
                                            <div class="user-profy">
                                                {% if service.filename %}
                                                    <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_show_services_card') }}"  alt="">
                                                {% else %}
                                                    <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                {% endif %}
                                                <p style="height: 70px;padding: 20px 0;"><strong>{{ service.title}}</strong></p>
                                                {#<a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>#}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <p>Aucun service saisi pour le moment. Contacter directement {{ company.name }} pour en savoir plus.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="company-content-access">
                        <div class="user-profile-ov page-title sign_in_sec current" id="company-access">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h5 class="mb-5">Carte et informations</h5>
                                    <strong>{{ company.name }}</strong>
                                    <p>{{ company.addressNumber }}, {{ company.addressStreet }}, {{ company.addressPostCode }} {{ company.city }}</p>
                                </div>
                                <div class="col-lg-5 map" data-lat="{{ company.latitude }}" data-lon="{{ company.longitude }}">
                                    {% include 'default/map.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-content-recommandations-services">
                        <div class="user-profile-ov page-title sign_in_sec current st2" id="company-recommandations-services">
                            <h5>
                                <a href="#" title="" class="exp-bx-open">La communauté a recommandé les services de {{ company.name|capitalize }} </a>
                            </h5>

                            {% if recommandationsServices %}
                                {% for recommandationsService in recommandationsServices %}
                                    <div class="suggestion-usd">
                                        {% if recommandationsService.user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(recommandationsService.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                        {% endif %}
                                        <div class="">
                                            <p>{{ recommandationsService.user.profile.firstname }} {{ recommandationsService.user.profile.lastname }}</p>
                                            <small>{{ recommandationsService.user.company|capitalize }}</small>
                                            {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationsService.user} %}
                                        </div>
                                        <p class="recommandation-message">
                                            {{ recommandationsService.message  }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Soyez le premier à proposer une recommandation</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="company-content-recommandations-company">
                        <div class="user-profile-ov page-title sign_in_sec current st2" id="">
                            <h5>
                                <a href="#" title="" class="exp-bx-open">La communauté a recommandé {{  company.name|capitalize }} </a>
                            </h5>
                            {% if recommandationsCompany %}
                                {% for recommandationCompany in recommandationsCompany %}
                                    <div class="suggestion-usd">
                                        {% if recommandationCompany.user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(recommandationCompany.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                        {% endif %}
                                        <div class="">
                                            <p>{{ recommandationCompany.user.profile.firstname }} {{ recommandationCompany.user.profile.lastname }}</p>
                                            <small>{{ recommandationCompany.user.company|capitalize }}</small>
                                            {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationCompany.user} %}
                                        </div>
                                        <p class="recommandation-message">
                                            {{ recommandationCompany.message  }}
                                        </p>
                                    </div>

                                {% endfor %}
                            {% else %}
                                <p>Soyez le premier à proposer une recommandation</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="company-be-contacted">
                        <div class="user-profile-ov">
                            <div class="company-be-contacted-title">
                                <strong>Envoyez une demande de contact</strong>
                                <p>Renseignez les informations suivantes</p>
                            </div>
                            <div class="company-be-contacted-admin text-center">
                                <div class="company-be-contacted-admin-avatar">
                                    {% if admin and admin.profile.filename %}
                                        <img src="{{ vich_uploader_asset(admin.profile, 'imageFile')|imagine_filter('avatar_medium_2') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% else %}
                                        <img src="{{ asset('build/images/default/user.png') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                                    {% endif %}
                                    <p><strong>{{ admin.profile.firstname }} {{ admin.profile.lastname }}</strong></p>
                                </div>
                            </div>
                            <hr>
                            <div class="company-be-contacted-form">
                                <div class="be-contacted">
                                    {{ form_start(formBeContacted) }}
                                    {{ form_row(formBeContacted.email) }}
                                    {{ form_row(formBeContacted.phone) }}
                                    {{ form_row(formBeContacted.description) }}
                                    {{ form_row(formBeContacted.acceptConditions) }}

                                    <button type="submit" class="btn btn-warning be-contacted-submit" disabled>Envoyer</button>
                                    {{ form_end(formBeContacted) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block modals %}
    <div class="modal fade" id="beContacted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% include 'partials/spinner.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('extern') }}
{% endblock %}