{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}
    <section id="search-page">
        <div class="container-bv">
            <div class="row">
                <div class="col-lg-3">
                    {# display this bloc only in mobile#}
                    <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                        {% include 'search/boxes/search-description.html.twig' %}
                    </div>

                   <div class="d-none d-sm-block d-md-none d-lg-block d-xl-block">
                       {% include 'search/boxes/favorites.html.twig' %}
                   </div>
                </div>

                <div class="col-lg-9">
                    <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        {% include 'search/boxes/search-description.html.twig' %}

                        {% include 'search/boxes/filter.html.twig' %}
                    </div>

                    {% if items %}
                        <div class="row">
                            {% for item in items %}
                                {% if item is instanceOf('App\\Entity\\Service') %}
                                    {% set service = item %}
                                    <div class="col-lg-3 col-md-3 col-sm-6">

                                        {% include 'search/boxes/badges.html.twig' with {'item': item} %}

                                        <div class="company_profile_info">
                                            <div class="company-up-info up-info result-company">
                                                <div class="result-company-image">
                                                    <a href="{{path('service_show', {'id': service.id}) }}">
                                                        {% if service.filename is empty %}
                                                            <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                        {% else  %}
                                                            <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_card') }}" >
                                                        {% endif %}
                                                    </a>

                                                    {% include 'default/cards/infos-stickers.html.twig' with {
                                                        'item': service,
                                                    } %}

                                                </div>

                                                <div class="company-up-meta">
                                                    <a href="{{path('service_show', { 'id': service.id}) }}"><h5>{{ service.title }}</h5></a>
                                                    <h6>{{ service.category }}</h6>
                                                </div>
                                            </div>
                                            <a href="{{path('service_show', {'id': service.id}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                        </div><!--company_profile_info end-->
                                    </div>
                                {% elseif item is instanceOf('App\\Entity\\Company') %}
                                    {% set company = item %}
                                    <div class="col-lg-3 col-md-3 col-sm-6">

                                        {% include 'search/boxes/badges.html.twig' with {'item': item} %}

                                        <div class="company_profile_info">
                                            <div class="company-up-info up-info result-company">
                                                <div class="result-company-image">
                                                    <a href="{{path('company_show', { 'slug': company.slug, 'id': company.id}) }}">
                                                        {% if company.filename is empty %}
                                                            <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                        {% else  %}
                                                            <img src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('company_card') }}" >
                                                        {% endif %}
                                                    </a>

                                                    {% include 'default/cards/infos-stickers.html.twig' with {
                                                        'item': company,
                                                    } %}

                                                </div>

                                                <div class="company-up-meta">
                                                    <a href="{{path('company_show', { 'slug': company.slug, 'id': company.id}) }}"><h5>{{company.name }}</h5></a>
                                                    <h6>{{ company.otherCategory }}</h6>
                                                </div>
                                                <ul>
                                                    <li data-toggle="tooltip" data-placement="top" title="Ajouter aux favoris">
                                                        <i id="result-company-item-{{ company.id }}"
                                                           class="{% if company in favoritesCompanies %} fas text-warning {% else %} far text-muted {% endif %} fa-star add-company-favoris"
                                                           aria-hidden="true"
                                                           data-company-id ="{{ company.id }}"
                                                           data-company-name="{{ company.name }}"
                                                           data-target="{{path('favorit_company_add', {'companyId':company.id})  }}"
                                                           data-delete="{{path('favorit_company_delete', {'companyId': company.id})  }}"
                                                           data-company-administrator-id ="{% if  company.getCompanyAdministrator() != null  %}{{ company.getCompanyAdministrator().id }}{% endif %}"
                                                           data-company-administrator-profile-id ="{% if  company.getCompanyAdministrator() != null  %}{{ company.getCompanyAdministrator().profile.id }}{% endif %}"
                                                           data-company-administrator-name ="{% if  company.getCompanyAdministrator() != null  %} {{ company.getCompanyAdministrator().profile.firstName }} {{ company.getCompanyAdministrator().profile.lastName }} {% endif %}"
                                                           data-company-administrator-img ="{% if  company.getCompanyAdministrator() != null  %}{% if company.getCompanyAdministrator().profile.filename %}{{ vich_uploader_asset(company.getCompanyAdministrator().profile, 'imageFile') }}{% else %}{{ asset('build/images/no-available-photo.png') }}{% endif %}{% endif %}"
                                                        ></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="{{path('company_show', { 'slug': company.slug, 'id': company.id}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                        </div><!--company_profile_info end-->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="page-title sign_in_sec">
                            <div class="page-description">
                                <P style="background-color:#fff;padding:10px">
                                    Aucun résulat</p>
                            </div>
                        </div>
                    {% endif %}
                    {#display only on mobile #}
                    <div class="d-block d-sm-block d-md-block d-lg-none">
                        {% include 'search/boxes/favorites.html.twig' %}
                    </div>
                    {# end #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('favoris') }}
    {{ encore_entry_script_tags('service') }}
{% endblock %}