{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}
<section id="search-page">
    <div class="container-mvp mt-5">
        <div class="col-12">
        <div class="row">

            <div class="col-lg-4 col-md-12">
                {% include 'default/aside.html.twig' %}
            </div>

            <div class="col-lg-8 search-filter">
                <div class="filter">
                    <h4 class="box-title">Communauté locale</h4>
                    <div class="search-description">
                        Recherchez des membres ou des entreprises de la communauté locale pour entrer en contact et développer
                        votre business ou agrandir votre carnet d'adresse.
                        Utilisez les filtres pour affiner votre recherche
                    </div>
                    {{ form_start(SearchForm) }}
                    <div class="row">
                        <div class="col-lg-3">
                            {{ form_row(SearchForm.type) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(SearchForm.name) }}
                        </div>

                        <div class="communaute-search-btn">
                            <button type="submit" class="btn mvp-btn search-btn btn-radius">
                                Chercher
                            </button>
                        </div>
                    </div>
                    {{ form_end(SearchForm) }}

                    {%  if favorits is defined and favoritsNb > 0 %}
                        <a class="disaply-favorits-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Afficher la liste des favoris
                        </a>
                    {% endif %}
                </div>


                <div>
                    <div class="favorits col-12">
                        {%  if favorits is defined %}
                            <div class="collapse" id="collapseExample">
                                <div class="row">
                                    {% for favorit in favorits %}
                                        <div class="col-lg-4 col-md-6 wow bounceInUp result-item" data-wow-duration="1.4s">
                                            <div class="box">
                                                    <div class="portfolio-wrap dashboard-service-image">
                                                        {% if favorit.favoritUser.profile.filename is empty %}
                                                            <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                                <img src="/images/default/user.png" class="img-fluid" alt="">
                                                            </a>
                                                        {% else %}
                                                            <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                                <img src="{{ vich_uploader_asset(favorit.favoritUser.profile, 'imageFile') }}" class="img-fluid" alt="">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="user-information">
                                                        <p class="company-user">
                                                            <a class="company-user" href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                                {{ favorit.favoritUser.profile.firstname|capitalize }} {{ favorit.favoritUser.profile.lastname|capitalize }}
                                                            </a>
                                                        </p>
                                                        <div class="Add-favoris">
                                                            <i id="result-user-item-{{ favorit.favoritUser.id }}"
                                                               class="fa fa-star {% if favorit.favoritUser.id in favoritUserIds %}  text-warning {% else %} text-muted {% endif %}  add-favoris"
                                                               aria-hidden="true"
                                                               data-user-id ="{{ favorit.favoritUser.id }}"
                                                               data-target="{{path('favorit_add', {'userId':favorit.favoritUser.id})  }}"
                                                               data-delete="{{path('favorit_delete', {'userId': favorit.favoritUser.id})  }}"
                                                            ></i>
                                                        </div>
                                                        {% if favorit.favoritUser.profile.function  %}
                                                            <p class="company-user-job">{{ favorit.favoritUser.profile.function.name|capitalize }}
                                                                chez
                                                                {% if favorit.favoritUser.company %}
                                                                    <a class="user-company-name text-primary" href="{{path('company_show', { 'slug': favorit.favoritUser.company.slug}) }}">
                                                                        {{favorit.favoritUser.company.name|capitalize }}
                                                                    </a>
                                                                {% else %}
                                                                <a class="user-company-name text-primary" href="{{path('store_show', { 'slug': favorit.favoritUser.store.slug}) }}">
                                                                    {{favorit.favoritUser.store.name|capitalize }}
                                                                </a>
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                        <p class="user-contact">
                                                            <span class="user-action btn-radius"><a class="user-link" href="{{ path('chat_private', {'id': favorit.favoritUser.id}) }}">Contacter</a></span>
                                                            <span class="user-action btn-radius"><a class="user-link" href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">Voir fiche</a></span>
                                                        </p>
                                                     </div>
                                             </div>
                                         </div>
                                     {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="search-result col-12">
                        {% if usersCount is defined  %}
                            {% if usersCount > 0 %}
                                {{ usersCount }} resultats
                            {% elseif usersCount == 0 %}
                                <div class="no-result">
                                    Aucun résultat trouvé.
                                </div>
                            {%  endif %}
                        {%  endif %}
                    </div>
                    {% if users %}
                    <div class="col-12">
                       <div class="row">
                            {% for user in users %}
                               <div class="col-lg-4 col-md-6 wow bounceInUp result-item" data-wow-duration="1.4s">
                                   <div class="box">

                                       <div class="portfolio-wrap dashboard-service-image company-contact-img">
                                           {% if user.profile.filename is empty %}

                                                <a href="{{path('profile_show', { 'id': user.profile.id}) }}">
                                                    <img src="/images/no-available-photo.png" class="img-fluid" alt="">
                                                </a>
                                           {% else %}
                                                <a href="{{path('profile_show', { 'id': user.profile.id}) }}">
                                                    <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('card') }}" class="img-fluid" alt="">
                                                </a>
                                           {% endif %}
                                       </div>
                                       <div class="user-information">
                                           <p class="company-user">
                                               <a class="company-user" href="{{path('profile_show', { 'id': user.profile.id}) }}">
                                                   {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}
                                                </a>
                                           </p>
                                           <div class="Add-favoris">
                                               <i id="result-user-item-{{ user.id }}"
                                                       class="fa fa-star {% if user.id in favoritUserIds %}  text-warning {% else %} text-muted {% endif %}  add-favoris"
                                                       aria-hidden="true"
                                                       data-user-id ="{{ user.id }}"
                                                       data-target="{{path('favorit_add', {'userId':user.id})  }}"
                                                       data-delete="{{path('favorit_delete', {'userId': user.id})  }}"
                                               ></i>
                                           </div>
                                           {% if user.profile.function  %}
                                               <p class="company-user-job">{{ user.profile.function.name|capitalize }}
                                                  chez
                                                   {% if user.company %}
                                                       <a class="user-company-name text-primary" href="{{path('company_show', { 'slug': user.company.slug}) }}">
                                                           {{user.company.name|capitalize }}
                                                       </a>
                                                   {% else %}
                                                      <a class="user-company-name text-primary" href="{{path('store_show', { 'slug': user.store.slug}) }}">
                                                          {{user.store.name|capitalize }}
                                                      </a>
                                                   {% endif %}
                                                </p>
                                           {% endif %}
                                           <p class="user-contact">
                                               <span class="user-action btn-radius"><a class="user-link" href="{{ path('chat_private', {'id': user.id}) }}">Contacter</a></span>
                                               <span class="user-action btn-radius"><a class="user-link" href="{{path('profile_show', { 'id': user.profile.id}) }}">Voir fiche</a></span>
                                           </p>
                                       </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </div>
                    {% endif %}
                    <div class="search-result col-12">
                        {% if companiesCount is defined  %}
                            {% if companiesCount > 0 %}
                                {{ companiesCount }} resultas
                            {% elseif companiesCount == 0 %}
                              <div class="no-result">
                                Aucun résultat trouvé.
                              </div>
                            {%  endif %}
                        {%  endif %}
                    </div>
                    {% if companies %}
                        <div class="row">
                            {% for company in companies %}
                                <div class="col-lg-4 col-md-6 wow bounceInUp result-item" data-wow-duration="1.4s">
                                    <div class="box">
                                        <div class="portfolio-wrap search-company-img">
                                                {% if company.filename is empty %}
                                                    <a href="{{path('company_show', { 'slug': company.slug}) }}">
                                                        <img src="/images/no-available-photo.png" class="img-fluid search-company-photo" alt="">
                                                    </a>
                                                {% else %}
                                                    <a href="{{path('company_show', { 'slug': company.slug}) }}">
                                                       <img src="{{ vich_uploader_asset(company, 'imageFile') }}" class="img-fluid search-company-photo" alt="">
                                                    </a>
                                                {% endif %}
                                        </div>
                                        <div class="user-information">
                                            <a class="company-user" href="{{path('company_show', { 'slug': company.slug}) }}">
                                               <p>{{company.name|capitalize }}</p>
                                             </a>
                                            <div class="Add-company-favoris" style="text-align: center">
                                                <i id="result-company-item-{{ company.id }}"
                                                   class="fa fa-star {% if company.id in favoritsCompanyIds %}  text-warning {% else %} text-muted {% endif %}  add-company-favoris"
                                                   aria-hidden="true"
                                                   data-company-id ="{{ company.id }}"
                                                   data-target="{{path('favorit_company_add', {'companyId':company.id})  }}"
                                                   data-delete="{{path('favorit_company_delete', {'companyId': company.id})  }}"
                                                ></i>
                                            </div>
                                            <p class="user-contact">
                                                <span class="user-action btn-radius">
                                                    <a class="user-link" href="{{path('company_show', { 'slug': company.slug}) }}"> Voir fiche</a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}
