{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}
    <section id="search-page">
        <div class="container-mvp mt-5">
            <div class="col-12 page-content">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="filter-secs">
                            <div class="page-title sign_in_sec current">
                                <h3>Filtres</h3>
                            </div><!--filter-heading end-->
                            {{ form_start(SearchForm) }}
                            <div class="paddy">

                                {{ form_end(SearchForm) }}
                                <div class="filter-dd">
                                    <div class="col-12 form-actions form-group">
                                        <button  type="submit" class="m-orange-btn">Chercher</button>
                                    </div>
                                </div>
                            </div>

                        </div><!--filter-secs end-->

                        {%  if favorits is defined %}
                        <div class="page-title sign_in_sec current">
                            <h3>Favoris</h3>
                            <div class="suggestions full-width">

                                <div class="suggestions-list">
                            {% for favorit in favorits %}

                                        <div class="suggestion-usd">
                                            <div class="" style="float:left">
                                                <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                    {% if favorit.favoritUser.profile.filename is empty %}
                                                      <img src="http://via.placeholder.com/35x35" alt="">
                                                    {% else  %}
                                                        <img src="{{ vich_uploader_asset(favorit.favoritUser.profile, 'imageFile')|imagine_filter('card') }}" style="width: 35px;height:35px">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="sgt-text">
                                                <h4>
                                                    <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                      {{ favorit.favoritUser.profile.firstname|capitalize }} {{ favorit.favoritUser.profile.lastname|capitalize }}
                                                    </a>
                                                </h4>

                                                {% if favorit.favoritUser.company %}
                                                    <span class="company-link">

                                                        <a href="{{path('company_show', { 'slug': favorit.favoritUser.company.slug}) }}">   {{favorit.favoritUser.company.name|capitalize }}  </a>

                                                    </span>


                                                {% else %}
                                                    <span class="company-link">
                                                            <a href="{{path('store_show', { 'slug': favorit.favoritUser.store.slug}) }}"> {{favorit.favoritUser.store.name|capitalize }}</a>
                                                         </span>
                                                {% endif %}

                                            </div>

                                        </div>




                            {% endfor %}
                                    </div><!--suggestions-list end-->
                                </div><!--suggestions end-->
                            <!-- <div class="view-more">
                                <a href="#" title="">Voir plus</a>
                            </div>-->
                        </div>
                        {% endif %}


                    </div>

                    <div class="row col-lg-9">

                        <div class="page-title sign_in_sec current">
                            <h3>Communauté locale</h3>
                            <P style="background-color:#fff;padding:10px">
                                Recherchez des membres ou des entreprises de la communauté locale pour entrer en contact et développer votre business
                                ou agrandir votre carnet d'adresse. Utilisez les filtres pour affiner votre recherche
                            </p>
                            <div class="search-result col-12">
                                {% if usersCount is defined  %}
                                    {% if usersCount > 0 %}
                                        {{ usersCount }} resultat(s)
                                    {% elseif usersCount == 0 %}
                                        <div class="no-result">
                                            Aucun résultat trouvé.
                                        </div>
                                    {%  endif %}
                                {%  endif %}
                                {% if companiesCount is defined  %}
                                    {% if companiesCount > 0 %}
                                        {{ companiesCount }} resultat(s)
                                    {% elseif companiesCount == 0 %}
                                        <div class="no-result">
                                            Aucun résultat trouvé.
                                        </div>
                                    {%  endif %}
                                {%  endif %}
                            </div>
                        </div>

                        {% if users %}
                            {% for user in users %}
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="company_profile_info">
                                    <div class="company-up-info">
                                        <a href="{{path('profile_show', { 'id': user.profile.id}) }}">
                                        {% if user.profile.filename is empty %}
                                            <img src="http://via.placeholder.com/90x90" alt="">
                                        {% else  %}

                                            <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('card') }}" >

                                        {% endif %}
                                        </a>
                                        <h3>  <a class="company-user" href="{{path('profile_show', { 'id': user.profile.id}) }}"> {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}</a></h3>

                                        {% if user.profile.function  %}
                                            {% if user.company %}
                                                <h4>{{ user.profile.function.name|capitalize }} chez
                                                    <a  href="{{path('company_show', { 'slug': user.company.slug}) }}">
                                                        {{user.company.name|capitalize }}
                                                    </a>
                                                </h4>
                                            {% else %}
                                                <h4>{{ user.profile.function.name|capitalize }} chez
                                                    <a href="{{path('store_show', { 'slug': user.store.slug}) }}">
                                                        {{user.store.name|capitalize }}
                                                    </a>
                                                </h4>
                                            {% endif %}
                                        {% endif %}
                                        <ul>
                                            <li>
                                                <i  id="result-user-item-{{ user.id }}"
                                                        class="fa {% if user.id in favoritUserIds %} fa-star text-warning {% else %} fa-star-o text-muted {% endif %}  add-favoris"
                                                        data-user-id ="{{ user.id }}"
                                                        data-target="{{path('favorit_add', {'userId':user.id})  }}"
                                                        data-delete="{{path('favorit_delete', {'userId': user.id})  }}">
                                                    </i>
                                            </li>
                                            <li>
                                                <a href="{{ path('chat_private', {'id': user.id}) }}" title="" class="message-us">
                                                    <i class="fa fa-comments search-contact"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="{{path('profile_show', { 'id': user.profile.id}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                </div><!--company_profile_info end-->
                            </div>
                        {% endfor %}
                        {% endif %}


                        {% if companies %}
                            {% for company in companies %}
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="company_profile_info">
                                        <div class="company-up-info">
                                            <a href="{{path('company_show', { 'slug': company.slug}) }}">
                                                {% if company.filename is empty %}
                                                    <img src="http://via.placeholder.com/90x90" alt="">
                                                {% else  %}

                                                       <img src="{{ vich_uploader_asset(company, 'imageFile') }}" class="img-fluid search-company-photo" alt="">

                                                {% endif %}
                                            </a>
                                            <h3> <a href="{{path('company_show', { 'slug': company.slug}) }}">  {{company.name|capitalize }}</a></h3>
                                            <ul>
                                                <li>
                                                        <i id="result-company-item-{{ company.id }}"
                                                           class="fa  {% if company.id in favoritsCompanyIds %} fa-star text-warning {% else %} fa-star-o text-muted {% endif %}  add-company-favoris"
                                                           aria-hidden="true"
                                                           data-company-id ="{{ company.id }}"
                                                           data-target="{{path('favorit_company_add', {'companyId':company.id})  }}"
                                                           data-delete="{{path('favorit_company_delete', {'companyId': company.id})  }}"
                                                        ></i>
                                                </li>

                                            </ul>
                                        </div>
                                        <a href="{{path('company_show', { 'slug': company.slug}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                    </div><!--company_profile_info end-->
                                </div>
                            {% endfor %}
                        {% endif %}




                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
