{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}
    <section id="search-page">
        <div class="container-mvp mt-5">
            <div class="col-12 page-content">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="filter-secs">
                            <div class="page-title sign_in_sec current">
                                <h3>Filtres</h3>
                            </div>
                            {{ form_start(SearchForm) }}
                            <div class="paddy">
                                <div class="filter-dd">
                                    <div class="form-actions form-group">
                                        {{ form_widget(SearchForm.name) }}
                                    </div>
                                    <div class="form-actions form-group">
                                        {{ form_widget(SearchForm.type) }}
                                    </div>
                                    <div class="form-actions form-group">
                                        <button  type="submit" class="m-orange-btn">Chercher</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(SearchForm) }}
                        </div>

                        <div class="page-title sign_in_sec current">
                            <h3>Favoris</h3>
                            <div class="suggestions full-width">
                                <div class="suggestions-list">
                                    {%  if favoris  %}
                                        {% for favorit in favoris %}
                                            <div class="suggestion-usd favorit-user-{{ favorit.favoritUser.profile.id }}">
                                                <div class="" style="float:left">
                                                    <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                        {% if favorit.favoritUser.profile.filename is empty %}
                                                          <img src="http://via.placeholder.com/35x35" alt="">
                                                        {% else  %}
                                                            <img src="{{ vich_uploader_asset(favorit.favoritUser.profile, 'imageFile')|imagine_filter('miniature')}}" style="width: 35px;height:35px">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="sgt-text hover-info">
                                                    <h4>
                                                        <a href="{{path('profile_show', { 'id': favorit.favoritUser.profile.id}) }}">
                                                          {{ favorit.favoritUser.profile.firstname|capitalize }} {{ favorit.favoritUser.profile.lastname|capitalize }}
                                                        </a>
                                                    </h4>
                                                    {% if favorit.favoritUser.company %}
                                                        <span class="company-link">
                                                            <a href="{{path('company_show', { 'slug': favorit.favoritUser.company.slug}) }}">   {{favorit.favoritUser.company.name|capitalize }}  </a>
                                                        </span>
                                                    {% else %}
                                                        <span class="company-link">
                                                            <a href="{{path('store_show', { 'slug': favorit.favoritUser.store.slug}) }}"> {{favorit.favoritUser.store.name|capitalize }}</a>
                                                         </span>
                                                    {% endif %}
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': favorit.favoritUser} %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="p-3">
                                            <p>Aucun favori</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-9">
                        <div class="page-title sign_in_sec current search-page-title">
                            <div class="page-description">
                                <h3>Communauté locale</h3>
                                <P style="background-color:#fff;padding:10px">
                                    Recherchez des membres ou des entreprises de la communauté locale pour entrer en contact et développer votre business
                                    ou agrandir votre carnet d'adresse. Utilisez les filtres pour affiner votre recherche
                                </p>
                            </div>
                        </div>

                        {% if items %}
                            {% if isUser %}
                                {% set users = items %}
                                {% for user in users %}
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="company_profile_info  user-profile-{{user.profile.id  }}">
                                        <div class="company-up-info">
                                            <a href="{{path('profile_show', { 'id': user.profile.id}) }}">
                                            {% if user.profile.filename is empty %}
                                                <img class = "company-user-profile-img-{{ user.profile.id }}" src="http://via.placeholder.com/90x90" alt="">
                                            {% else  %}
                                                <img class = "company-user-profile-img-{{ user.profile.id }}" src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('card') }}" >
                                            {% endif %}
                                            </a>
                                           <h3><a class="company-user company-user-profile-{{ user.profile.id }}" href="{{path('profile_show', { 'id': user.profile.id}) }}"> {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}</a></h3>
                                            {% if user.profile.function  %}
                                                {% if user.company %}
                                                    <h4>{{ user.profile.function.name|capitalize }} chez
                                                        <a  class ="user-companyName-{{ user.profile.id }}" href="{{path('company_show', { 'slug': user.company.slug}) }}">
                                                            {{user.company.name|capitalize }}
                                                        </a>
                                                    </h4>
                                                {% else %}
                                                    <h4>{{ user.profile.function.name|capitalize }} chez
                                                        <a href="{{path('store_show', { 'slug': user.store.slug}) }}">
                                                            {{user.store.name|capitalize }}
                                                        </a>
                                                    </h4>
                                                {% endif %}
                                            {% endif %}
                                            <ul>
                                                <li>
                                                    <i  data-toggle="tooltip" data-placement="top" title="Ajouter aux favoris"  id="result-user-item-{{ user.id }}"
                                                            class="fa {% if user.id in favorisUsersIds %} fa-star text-warning {% else %} fa-star-o text-muted {% endif %}  add-favoris"
                                                            data-user-id ="{{ user.id }}"
                                                            data-profile-id ="{{ user.profile.id }}"
                                                            data-target="{{path('favorit_add', {'userId':user.id})  }}"
                                                            data-delete="{{path('favorit_delete', {'userId': user.id})  }}">
                                                        </i>
                                                </li>
                                                <li>
                                                    <a href="{{ path('chat_private', {'id': user.id}) }}" class="message-us">
                                                        <i  data-toggle="tooltip" data-placement="top" title="Converser avec {{ user.profile.firstname }}" class="fa fa-comments search-contact"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="company-infos-bloc">
                                                {% if distances and distances[user.company.id] and distances[user.company.id] < 1000 %}
                                                    <small>à {{ distances[user.company.id]|round }}Km</small>
                                                {% endif %}
                                                {% if nbRecommandations and nbRecommandations[user.company.id] > 0 %}
                                                    <small>{{ nbRecommandations[user.company.id] }}{% if nbRecommandations[user.company.id] == 1 %} Recommndation{% else %} Recommandations{% endif %}</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <a href="{{path('profile_show', { 'id': user.profile.id}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                    </div><!--company_profile_info end-->
                                </div>
                                {% endfor %}
                            {% else %}
                            {% set companies = items %}
                                {% for company in companies %}
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="company_profile_info">
                                            <div class="company-up-info ">
                                                <a href="{{path('company_show', { 'slug': company.slug}) }}">
                                                    {% if company.filename is empty %}
                                                        <img src="http://via.placeholder.com/90x90" alt="">
                                                    {% else  %}
                                                        <img src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('card') }}" >

                                                    {% endif %}
                                                </a>
                                                <h3> <a href="{{path('company_show', { 'slug': company.slug}) }}">  {{company.name|capitalize }}</a></h3>
                                                <ul>
                                                    <li data-toggle="tooltip" data-placement="top" title="Ajouter aux favoris">
                                                        <i id="result-company-item-{{ company.id }}"
                                                           class="fa  {% if company.id in favorisCompaniesIds %} fa-star text-warning {% else %} fa-star-o text-muted {% endif %}  add-company-favoris"
                                                           aria-hidden="true"
                                                           data-company-id ="{{ company.id }}"
                                                           data-company-name="{{ company.name }}"
                                                           data-target="{{path('favorit_company_add', {'companyId':company.id})  }}"
                                                           data-delete="{{path('favorit_company_delete', {'companyId': company.id})  }}"
                                                           data-company-administrator-id ="{% if  company.getCompanyAdministrator() != null  %}{{ company.getCompanyAdministrator().id }}{% endif %}"
                                                           data-company-administrator-profile-id ="{% if  company.getCompanyAdministrator() != null  %}{{ company.getCompanyAdministrator().profile.id }}{% endif %}"
                                                           data-company-administrator-name ="{% if  company.getCompanyAdministrator() != null  %} {{ company.getCompanyAdministrator().profile.firstName }} {{ company.getCompanyAdministrator().profile.lastName }} {% endif %}"
                                                           data-company-administrator-img ="{% if  company.getCompanyAdministrator() != null  %}{{ vich_uploader_asset(company.getCompanyAdministrator().profile, 'imageFile')}}{% endif %}"
                                                        ></i>
                                                    </li>
                                                </ul>
                                                <div class="company-infos-bloc">
                                                    {% if distances and distances[company.id] and distances[company.id] < 1000 %}
                                                        <small>à {{ distances[company.id]|round }}Km</small>
                                                    {% endif %}
                                                    {% if nbRecommandations and nbRecommandations[company.id] > 0 %}
                                                        <small>{{ nbRecommandations[company.id] }}{% if nbRecommandations[company.id] == 1 %} Recommndation{% else %} Recommandations{% endif %}</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <a href="{{path('company_show', { 'slug': company.slug}) }}" title="" class="view-more-pro">Voir la fiche</a>
                                        </div><!--company_profile_info end-->
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <div class="page-title sign_in_sec current search-page-title">
                                <div class="page-description">
                                    <P style="background-color:#fff;padding:10px">
                                        Aucun résulat</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
