{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

<div class="main-section">
    <div class="container">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">

                        <div class="user_profile">

                            <div class="user-pro-img">
                                {% if company.filename %}
                                    <img src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('square') }}"  alt="">
                                {% else %}
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}
                                   <a  href="{{ path('company_edit', {'id': company.id}) }}" title=""><i class="fa fa-camera"></i></a>
                                {% endif %}
                            </div><!--user-pro-img end-->

                            <div class="user_pro_status">
                                <ul class="flw-hr">
                                    {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}
                                        <li>
                                            <a href="{{ path('company_edit', {'id': company.id}) }}" title="" class="flww">
                                                Modifier les informations
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="#" title="" class="flww"> Ajouter au favoris</a>
                                        </li>
                                    {% endif %}

                                </ul>
                                <ul class="flw-status">
                                    <li>
                                        <span>Score</span>
                                        <b> {{ score ?? 0 }}</strong> Pts</b>
                                    </li>
                                    <li>
                                        <span> Services </span>
                                        <b>{{ countServices }} </b>
                                    </li>
                                </ul>

                            </div><!--user_pro_status end-->
                            {% if company.isCompleted %}
                                <ul class="social_links">
                                   <li><i class="fas fa-map-marker-alt"></i><span class="social-links-span"> {{ company.addressNumber }} {{ company.addressStreet }} {{ company.addressPostCode }}</span></li>
                                    {% if company.phone %}<li><i class="fas fa-mobile-alt"></i><span class="social-links-span">   {{ company.phone }}</span></li> {% endif %}
                                    {% if company.website %}<li><i class="fas fa-external-link-alt"></i><a href="{{ company.website }}"><span class="social-links-span">Accéder au site web</span> </a></li>{% endif %}

                                </ul>
                            {% endif %}
                        </div><!--user_profile end-->

                    </div><!--main-left-sidebar end-->
                </div>

                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h3>{{ company.name }}</h3>
                            {% if company.category %}
                                <div class="star-descp">
                                    {% if  company.category.name != 'Autre' %}
                                       <span>{{ company.category.name  }}</span>
                                    {% else  %}
                                        <span>{{ company.otherCategory }}</span>
                                    {% endif %}
                                </div><!--star-descp end-->
                            {% endif %}

                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current">
                                    <h3>
                                        {{ company.name }} en quelques mots
                                    </h3>
                                    <p>{{ company.description|raw ?: 'Pas de description' }}</p>

                                </div><!--company description end-->

                                {% if  countServices > 0 %}
                                    <div class="top-profiles">
                                        <div class="pf-hd page-title sign_in_sec current">
                                            <h3>{{ company.name }} vous propose les services suivants</h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div>
                                        <div class="profiles-slider">
                                            {% for service in services %}
                                                <div class="user-profy">

                                                    {% if service.filename %}
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile') }}"  alt="">
                                                    {% else %}
                                                        <img src="http://via.placeholder.com/57x57" alt="">
                                                    {% endif %}
                                                    <p style="min-height: 76px">{{ service.description|slice(0, 50) ~ '...' }}</p>
                                                    <a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>
                                                </div><!--user-profy end-->
                                            {% endfor %}
                                            {% if  countServices > 3 %}
                                                <div class="user-profy">



                                                     <div class="lt-sec">
                                                         <i style="font-size: 57px" class="fas fa-folder-plus"></i>

                                                        <p style="min-height: 72px;text-align: center"><a href="">Voir tous les services de {{ company.name }}</a></p>
                                                    </div>

                                                </div><!--user-profy end-->
                                            {% endif %}

                                        </div><!--profiles-slider end-->
                                    </div><!--top-profiles end-->

                                {% endif %}

                            </div>

                            <div class="user-profile-ov st2 page-title sign_in_sec current">
                                <h3>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé les services de {{ company.name|capitalize }} </a>
                                </h3>
                                {% if recommandations %}
                                    {% for recommandation in recommandations %}
                                        <div class="suggestion-usd">
                                            {% if recommandation.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile') }}" alt="">
                                            {% else %}
                                                <img src="http://via.placeholder.com/35x35" alt="">
                                            {% endif %}

                                            <div class="sgt-text">
                                               <div class="hover-info">
                                                <h4>{{recommandation.user.profile.lastname|capitalize }} {{recommandation.user.profile.firstname|capitalize }}</h4>
                                                   {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandation.user} %}
                                               </div>

                                             </div>
                                            <p style="float: left;position: relative;left: 11px;top: -10px;width: 84%;" class="recommandation-message">
                                                {{ recommandation.message  }}
                                            </p>

                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Aucune recommandation pour l'instant</p>
                                {% endif %}




                            </div><!--user-profile-ov end-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        {% if company != null and app.user.company != null %}
                          {% if company.id != app.user.company.id and app.user.profile.isCompleted == true %}
                                <div class="message-btn">
                                    <a class="add-recommandation" title=""
                                       data-toggle="modal"
                                       data-target="{{ path('recommandation') }}"
                                       data-whatever="@getbootstrap"
                                       data-company="{{company.id}}">
                                       <i class="fas fa-thumbs-up"></i> Proposer une recommandation
                                    </a>
                                </div>
                          {% endif %}
                        {% endif %}
                        <div class="suggestions-list">
                            {% if users %}
                                <div class="sd-title page-title sign_in_sec current">
                                    <h3>Contacts</h3>

                                </div><!--sd-title end-->
                                {% for user in users %}
                                    {% if user.profile.isCompleted %}
                                    <div class="suggestion-usd">

                                        {% if user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(user.profile, 'imageFile') }}"  alt="">
                                        {% else %}
                                            <img src="http://via.placeholder.com/170x170" alt="">
                                        {% endif %}
                                        <div class="sgt-text hover-info">
                                            <h4> {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}</h4>
                                            {% if user.profile.function != null %}
                                                <span>{{ user.profile.function.name|capitalize }}</span>
                                            {% endif %}
                                            {% include 'default/modals/hoverUserPopin.html.twig' with {'user': user} %}
                                        </div>
                                    </div>
                                      {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div><!--suggestions-list end-->
                    </div><!--suggestions end-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block modals %}
    <div class="modal fade" id="recommandation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% include 'default/spinner.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
