{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">

                        <div class="user_profile">

                            <div class="user-pro-img">
                                {% if company.filename %}
                                    <img src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('square') }}"  alt="">
                                {% else %}
                                    <img src="/images/no-available-photo.png" alt="">
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}
                                   <a  href="{{ path('company_edit', {'id': company.id}) }}" title=""><i class="fa fa-camera"></i></a>
                                {% endif %}
                            </div><!--user-pro-img end-->

                            <div class="user_pro_status">
                                    {% if is_granted('ROLE_ADMIN_COMPANY') and company.id == app.user.company.id %}
                                        <a href="{{ path('company_edit', {'id': company.id}) }}" title="" class="btn white-bg">
                                            Modifier les informations
                                        </a>
                                    {% else %}
                                         <a href="#" title=""
                                               class="btn white-bg add-favoris add-company-favoris {{ isFavorit }}"
                                               data-company-id="{{  company.id }}"
                                               data-target="{{path('favorit_company_add', {'companyId':company.id})}}"
                                               data-delete="{{path('favorit_company_delete', {'companyId': company.id})}}">
                                                {% if isFavorit !="" %} Favoris {% else %} Ajouter au favoris {% endif %}
                                         </a>
                                    {% endif %}
                                <ul class="flw-status mt-3">
                                    <li>
                                        <span>Score</span>
                                        <b> {{ score ?? 0 }}Pts</b>
                                    </li>
                                    <li>
                                        <span> Services </span>
                                        <b>{{ countServices }} </b>
                                    </li>
                                </ul>

                            </div><!--user_pro_status end-->
                            {% if company.isCompleted %}
                                <ul class="social_links">
                                    <li><i class="fas fa-map-marker-alt p-1"></i><span class="social-links-span"> {{ company.addressNumber }} {{ company.addressStreet }} {{ company.addressPostCode }}, {{ company.city }}</span></li>
                                    {% if company.phone %}<li><i class="fas fa-mobile-alt p-1"></i><span class="social-links-span">   {{ company.phone }}</span></li> {% endif %}
                                    {% if company.city or company.country %}<li><i class="fas fa-flag p-1"></i>  {% if company.city %} <span>   {{ company.city }}</span> {% endif %}{% if company.country %}<span> {{ company.country }}</span> {% endif %}</li> {% endif %}
                                    {% if company.website %}<li><i class="fas fa-external-link-alt p-1"></i><a target="_blank" href="//{{ company.website }}"><span class="social-links-span">Accéder au site web</span> </a></li>{% endif %}
                                </ul>
                            {% endif %}
                        </div><!--user_profile end-->
                        {% include 'default/boxes/add-service-component.html.twig' %}

                    </div><!--main-left-sidebar end-->
                </div>

                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h3>{{ company.name }}</h3>
                            {% if company.category %}
                                <div class="star-descp">
                                    {% if  company.category.name != 'Autre' %}
                                       <span>{{ company.category.name  }}</span>
                                    {% else  %}
                                        <span>{{ company.otherCategory }}</span>
                                    {% endif %}

                                    <p>{{ company.introduction|raw }}</p>
                                </div><!--star-descp end-->

                            {% endif %}

                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current">
                                    <h3>
                                        {{ company.name }} en quelques mots
                                    </h3>

                                    <p>{{ company.description|raw ?: 'Pas de description' }}</p>

                                </div><!--company description end-->

                                {% if  countServices > 0 %}
                                    <div class="top-profiles">
                                        <div class="pf-hd page-title">
                                            <h3>{{ company.name }} vous propose les services suivants</h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div>
                                        <div class="row">
                                            {% for service in services %}
                                                <div class="col-4">
                                                    <div class="user-profy">
                                                        {% if service.filename %}
                                                            <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                        {% else %}
                                                            <img src="/images/no-available-photo.png" alt="">
                                                        {% endif %}
                                                        <p style="min-height: 76px">{{ service.description|slice(0, 50) ~ '...' }}</p>
                                                        <a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>
                                                    </div><!--user-profy end-->
                                                </div>
                                            {% endfor %}
                                            {% if  countServices > 3 %}
                                                <div class="user-profy">
                                                     <div class="lt-sec">
                                                         <i style="font-size: 57px" class="fas fa-folder-plus"></i>

                                                        <p style="min-height: 72px;text-align: center"><a href="{{ path('service_company', {'company': company.id}) }}">Voir tous les services de {{ company.name }}</a></p>
                                                    </div>
                                                </div><!--user-profy end-->
                                            {% endif %}
                                        </div><!--profiles-slider end-->
                                    </div><!--top-profiles end-->
                                {% endif %}

                            </div>

                            {% if company.store.isAdmin != true %}
                                <div class="right">
                                    {% if company != null and app.user.company != null %}
                                        {% if company.id != app.user.company.id and app.user.profile.isCompleted == true %}
                                            <div class="message-btn">
                                                <a href="#" class="add-recommandation" title=""
                                                   data-toggle="modal"
                                                   data-target="{{ path('recommandation') }}"
                                                   data-whatever="@getbootstrap"
                                                   data-company="{{company.id}}">
                                                    <i class="fas fa-thumbs-up"></i> Proposer une recommandation
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="user-profile-ov page-title sign_in_sec current st2">
                                <h3>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé les services de {{ company.name|capitalize }} </a>
                                </h3>

                                {% if recommandationsServices %}
                                    {% for recommandationsService in recommandationsServices %}
                                        <div class="suggestion-usd">
                                            {% if recommandationsService.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationsService.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="/images/no-available-photo.png" alt="">
                                            {% endif %}
                                            <div class="hover-info">
                                                <p>{{ recommandationsService.user.profile.firstname|capitalize }} {{ recommandationsService.user.profile.lastname|capitalize }}</p>
                                                <small>{{ recommandationsService.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationsService.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationsService.message  }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>

                            <div class="user-profile-ov page-title sign_in_sec current st2">
                                <h3>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé {{  company.name|capitalize }} </a>
                                </h3>
                                {% if recommandationsCompany %}
                                    {% for recommandationCompany in recommandationsCompany %}
                                        <div class="suggestion-usd">
                                            {% if recommandationCompany.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationCompany.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="/images/no-available-photo.png" alt="">
                                            {% endif %}
                                            <div class="hover-info">
                                                <p>{{ recommandationCompany.user.profile.firstname|capitalize }} {{ recommandationCompany.user.profile.lastname|capitalize }}</p>
                                                <small>{{ recommandationCompany.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationCompany.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationCompany.message  }}
                                            </p>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        {% if users %}
                            <div class="suggestions-list">
                                <div class="sd-title">
                                    <h3>Contacts</h3>
                                </div><!--sd-title end-->
                                {% for user in users %}
                                    {% if user.profile%}
                                        {% if user.profile.isCompleted %}
                                            <div class="suggestion-usd">
                                                {% if user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                {% else %}
                                                    <img src="/images/no-available-photo.png" alt="">
                                                {% endif %}
                                                <div class="sgt-text hover-info">
                                                    <h4> {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}</h4>
                                                    {% if user.profile.function != null %}
                                                        <span>{{ user.profile.function.name|capitalize }}</span>
                                                    {% endif %}
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': user} %}
                                                </div>
                                            </div>
                                         {% endif %}
                                     {% endif %}
                                {% endfor %}
                            </div><!--suggestions-list end-->
                        {% endif %}
                    </div><!--suggestions end-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="recommandation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% include 'default/spinner.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
