{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'company/boxes/infoCompany.html.twig' %}
                </div>

                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h3>{{ company.name }}</h3>
                            {% if company.category %}
                                <div class="star-descp">
                                    {% if  company.category.name != 'Autre' %}
                                       <span>{{ company.category.name  }}</span>
                                    {% else  %}
                                        <span>{{ company.otherCategory }}</span>
                                    {% endif %}

                                    <p>{{ company.introduction|raw }}</p>
                                </div><!--star-descp end-->

                            {% endif %}

                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov page-title sign_in_sec current">
                                    <h5>
                                        {{ company.name }} en quelques mots
                                    </h5>

                                    <p>{{ company.description|raw ?: 'Pas de description' }}</p>

                                </div><!--company description end-->


                                {% if  countServices > 0 %}
                                    <div class="top-profiles ">
                                        <div class="page-title sign_in_sec current">
                                            <h5>{{ company.name }} vous propose les services suivants</h5>
                                            <i class="la la-ellipsis-v"></i>
                                            <div class="profiles-slider">
                                                {% for service in services %}
                                                    <div class="user-profy">
                                                        {% if service.filename %}
                                                            <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_show_services_card') }}"  alt="">
                                                        {% else %}
                                                            <img src="/images/no-available-photo.png" alt="">
                                                        {% endif %}
                                                        <p style="height: 70px;padding: 20px 0;"><strong>{{ service.title}}</strong></p>
                                                        <a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>
                                                    </div><!--user-profy end-->
                                                {% endfor %}
                                                {% if  countServices > 3 %}
                                                    <div class="user-profy">
                                                        <div class="lt-sec">
                                                            <a href="{{ path('service_company', {'company': company.id}) }}">
                                                                <i style="font-size: 57px" class="fas fa-folder-plus"></i>
                                                                <p>Voir tous les services de {{ company.name }}</p>
                                                            </a>
                                                        </div>
                                                    </div><!--user-profy end-->
                                                {% endif %}
                                            </div><!--profiles-slider end-->
                                            {% if app.user.company != null %}
                                                {% if app.user.company.id == company.id %}
                                                       <a id="createservicebox" type="button"  href="{{ path('service_new') }}" class="btn small-btn orange-bg full-width mt-3">Créer un service</a>
                                                    {% endif %}
                                            {% endif %}
                                        </div>
                                    </div><!--top-profiles end-->
                                {% endif %}

                            </div>

                            {% if company.store.isAdmin != true %}
                                <div class="right">
                                    {% if company != null and app.user.company != null %}
                                        {% if company.id != app.user.company.id and app.user.profile.isCompleted == true %}
                                            <div class="">
                                                <a href="#" class="add-recommandation btn white-bg float-right mb-1" title=""
                                                   data-toggle="modal"
                                                   data-target="{{ path('recommandation') }}"
                                                   data-whatever="@getbootstrap"
                                                   data-company="{{company.id}}">
                                                    <i class="fas fa-thumbs-up"></i> Proposer une recommandation
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="user-profile-ov page-title sign_in_sec current st2">
                                <h5>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé les services de {{ company.name|capitalize }} </a>
                                </h5>

                                {% if recommandationsServices %}
                                    {% for recommandationsService in recommandationsServices %}
                                        <div class="suggestion-usd">
                                            {% if recommandationsService.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationsService.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="/images/no-available-photo.png" alt="">
                                            {% endif %}
                                            <div class="hover-info">
                                                <p>{{ recommandationsService.user.profile.firstname }} {{ recommandationsService.user.profile.lastname }}</p>
                                                <small>{{ recommandationsService.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationsService.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationsService.message  }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>

                            <div class="user-profile-ov page-title sign_in_sec current st2">
                                <h5>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé {{  company.name|capitalize }} </a>
                                </h5>
                                {% if recommandationsCompany %}
                                    {% for recommandationCompany in recommandationsCompany %}
                                        <div class="suggestion-usd">
                                            {% if recommandationCompany.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationCompany.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="/images/no-available-photo.png" alt="">
                                            {% endif %}
                                            <div class="hover-info">
                                                <p>{{ recommandationCompany.user.profile.firstname }} {{ recommandationCompany.user.profile.lastname }}</p>
                                                <small>{{ recommandationCompany.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationCompany.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationCompany.message  }}
                                            </p>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        {% if users %}
                            <div class="contact-lists">
                                <div class="user-profile-ov page-title sign_in_sec current mb-0">
                                    <h5>Contacts</h5>
                                    {% for user in users %}
                                        {% if user.profile%}
                                            {% if user.profile.isCompleted %}
                                                <div class="suggestion-usd">
                                                    {% if user.profile.filename %}
                                                        <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                    {% else %}
                                                        <img src="/images/no-available-photo.png" alt="">
                                                    {% endif %}
                                                    <div class="sgt-text hover-info">
                                                        <h4> {{ user.profile.firstname }} {{ user.profile.lastname }}</h4>
                                                        {% if user.profile.function != null %}
                                                            <span>{{ user.profile.function.name|capitalize }}</span>
                                                        {% endif %}
                                                        {% include 'default/modals/hoverUserPopin.html.twig' with {'user': user} %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div><!--sd-title end-->
                            </div><!--suggestions-list end-->
                        {% endif %}
                    </div><!--suggestions end-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="recommandation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% include 'partials/spinner.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}


