{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main>
    <div class="main-section">
        <div class="container-bv">
            <div class="main-section-data page-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    {% if app.user.profile.filename %}
                                        <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('card') }}"  alt="">
                                    {% else %}
                                        <img src="/images/no-available-photo.png" alt="">
                                    {% endif %}
                                </div>
                                <div class="user_pro_status">
                                    <div class="btn white-bg">
                                            <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" title="" class="">
                                                    Modifier profil
                                            </a>
                                    </div>

                                </div><!--user_pro_status end-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <h4>Mes recommandations</h4>
                            {% if recommandations %}
                                {% for recommandation in recommandations %}
                                    <div id ="recommandation-{{recommandation.id}}" class="box">
                                        <div class="row">
                                            <div class="suggestion-usd" style="float: left">
                                                {% if recommandation.user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(recommandation.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                                {% else %}
                                                    <img src="/images/no-available-photo.png" alt="">
                                                {% endif %}
                                                <div style="margin-left: 50px;">
                                                    <p><strong>{{recommandation.user.profile.firstname|capitalize }} {{recommandation.user.profile.lastname|capitalize }}</strong></p>
                                                    <p class="text-muted">{{recommandation.message }}</p>
                                                    <p class="text-muted"><strong class="text-dark">Date:</strong> {{recommandation.createAt|date("d/m/Y") }}</p>
                                                </div>
                                                <div class="float-right">

                                                    <button type="submit"
                                                            style="color:#3FB618"
                                                            class="btn recommandation-approve"
                                                            data-recommandation-id="{{recommandation.id}}">
                                                    <span id = "spinner-approve-{{recommandation.id}}"
                                                          class="spinner-grow spinner-grow-sm spinner-hidden"
                                                          role="status"
                                                          aria-hidden="true">
                                                    </span>
                                                        <span  class="sr-only text-success"></span>
                                                        Valider
                                                    </button>
                                                    <button type="submit"
                                                            style="color:red"
                                                            class="btn recommandation-reject"
                                                            data-recommandation-id="{{recommandation.id}}">
                                                    <span id = "spinner-reject-{{recommandation.id}}"
                                                          class="spinner-grow spinner-grow-sm spinner-hidden"
                                                          role="status"
                                                          aria-hidden="true">
                                                    </span>
                                                        <span  class="sr-only text-danger"></span>
                                                        Rejeter
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="box">
                                    <div class="row">
                                        <p>Il n'y a pas de données</p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-lg-3">
                        {% include 'default/boxes/add-service-component.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}
