{% extends '/emails/baseEmail.html.twig' %}
 {% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                    <p style="color:#000;font-size:12px">Bonjour, </p>
                                    <p style="color:#000;font-size:12px">
                                        Plus qu'une étape pour accéder à votre espace Beev'Up.
                                        Cliquez sur le lien de confirmation ci dessous, et commencez l'expérience Beev'Up.
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        <a style="color:#000;font-size:12px;text-decoration: underline;" href="{{ url }}">{{ url }}</a>
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        En cas de problème, n'hésitez pas à nous envoyer un mail à<a style="font-weight: bold" href="mailto:beevup@bureau-vallee.com">
                                            beevup@bureau-vallee.com
                                        </a>
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        A bientôt sur la plateforme Beev'Up
                                        {%  if storePatron != null  %}
                                        {%  if storePatron.profile != null  %}
                                    <p style="color:#132644;font-size:13px">
                                        {%  if storePatron != null  %}
                                            {%  if storePatron.profile != null  %}
                                                {{storePatron.profile.firstname}}  {{ storePatron.profile.lastname}}
                                            {% endif %}
                                        {% endif %}



                                    </p>
                                    {% endif %}
                                    {% endif %}
                                    <p style="color:#132644;">
                                        {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
 {% endblock %}
