{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">



                                    <p style="color:#000;font-size:12px">Bonjour, </p>

                                    <p style="color:#000;font-size:12px">
                                        Je suis ravi(e) de vous inviter au sein de la communauté Beev'Up
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        Beev'Up est la première plateforme locale dédiée aux professionnels, entrepreneurs et entreprises.
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        En devenant un membre actif de la communauté locale Beev'Up nous allons pouvoir échanger facilement avec toutes les entreprises locales, partager des opportunités commerciales,
                                        proposer nos services ,
                                        accéder à des offres spéciales et apporter de l'aide et des conseils aux professionnels de notre entourage.
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        Pour commencer à utiliser ce service, merci de cliquer sur le lien suivant :
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        <a style="color:#132644;font-size:12px;" href="{{ url }}">{{ url }}</a>
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        Ce service est proposé par le Magasin {{user.store.name}}
                                        </a>
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        A bientôt sur la plateforme Beev'Up
                                    <p style="color:#132644;font-size:13px">

                                        {{app.user.profile.firstname}}  {{ app.user.profile.lastname}}
                                        {%  if app.user.company != null %}
                                            -  {{ app.user.company.name }}
                                        {%  else  %}
                                            -  {{ app.user.store.name }}
                                        {% endif  %}

                                    </p>




                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}

