{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table style="margin: 0 !important">
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                    {%   if user.profile != null %}
                                        {% if user.profile.firstname != null and user.profile.lastname != null %}
                                            <p style="color:#000;font-size:12px">Bonjour {{ user.profile.firstname }} {{ user.profile.lastname }},</p>
                                        {% else %}
                                            <p style="color:#000;font-size:12px">Bonjour, </p>
                                        {% endif %}
                                    {% endif %}
                                    {% if  notificationNumber !=1 %}
                                      <p style="color:#000">Vous avez {{ notificationNumber }} nouveaux  message non lus.</p>
                                    {% else %}
                                      <p style="color:#000">Vous avez {{ notificationNumber }} nouveau  message non lu.</p>
                                    {% endif %}
                                    <p style="width:85px;padding: 5px;border: 1px solid orange;background-color: #FF7F50;color: #fff !important;text-align: center;border-radius:5px">
                                        <a style="color:#fff" href="  {{ url }}">Voir les messages</a>
                                    </p>
                                    <p style="color:#132644;">
                                        A bientôt sur la plateforme Beev'Up
                                    <p style="color:#132644;">

                                    </p>
                                    <p style="color:#132644">
                                        {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}