{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
<tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                    {%   if user.profile != null %}
                                        {% if user.profile.firstname != null and user.profile.lastname != null %}
                                            <p style="color:#000;font-size:12px">Bonjour {{ user.profile.firstname }} {{ user.profile.lastname }},</p>
                                        {% else %}
                                            <p style="color:#000;font-size:12px">Bonjour, </p>
                                        {% endif %}
                                    {% endif %}
                                    <p style="color:#000;font-size:12px">
                                        vous avez reçu un nouveau message de  {{ currentUser.profile.firstname }} {{ currentUser.profile.lastname }}
                                        {% if currentUser.company != null %}
                                            , {{ currentUser.company.name }}
                                        {% endif %}
                                        dans votre espace Beev'Up.
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        Rendez vous sur
                                        <a style="color:#000;font-size:12px;font-weight:bold" href="{{ url('chat_private', {'id': currentUser.id}) }}">
                                            {{ url('chat_private', {'id': currentUser.id}) }}
                                        </a>
                                        pour accéder à vos messages.
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                        En cas de problème, n'hésitez pas à nous envoyer un mail à<a style="font-weight: bold" href="mailto:beevup@bureau-vallee.com">
                                            beevup@bureau-vallee.com
                                        </a>
                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        A bientôt sur la plateforme Beev'Up
                                        {%  if storePatron != null  %}
                                        {%  if storePatron.profile  %}
                                    <p style="color:#132644;font-size:13px">

                                        {{storePatron.profile.firstname}}  {{ storePatron.profile.lastname}}

                                    </p>
                                    {% endif %}
                                    {% endif %}
                                    <p style="color:#132644;">
                                        {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}

