<div style="background-color:#eee;border:1px solid #eee;padding:20px">
<h1 style="color:#15377a;font-weight:bold;font-size:18px">Réinitialisation du mot de passe </h1>
<p style="color:#000;font-size:15px">Bonjour {{ user.profile.firstname|capitalize }} {{ user.profile.lastname|capitalize }}</p>
<p style="color:#000;font-size:15px"> Vous avez demandé à réinitialiser votre mot de passe. Vous pouvez maintenant valider cette demande en
<a style="color:#000;font-size:15px" href="{{ url }}">cliquant ici </a>.ou via le lien ci-dessous :</p>
<a style="color:#000;font-size:15px" href="{{ url }}">{{ url }}</a>
<p style="color:#000;font-size:15px">Si vous rencontrez toujours un problème avec votre compte, n'hésitez pas à répondre à cet email ou à nous
    contacter sur administrateur@bureau-vallee.com
</p>

<p style="color:#000;font-size:15px">À bientôt L'équipe Beevup</p>

</div>
