{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                    {% if user.profile != null %}
                                        {% if user.profile.firstname != null and user.profile.lastname != null %}
                                            <p style="color:#000">Bonjour {{ user.profile.firstname }} {{ user.profile.lastname }},</p>
                                        {% else %}
                                            <p style="color:#000;font-size:12px">Bonjour, </p>
                                        {% endif %}
                                    {% endif %}
                                    <p style="color:#000;font-size:12px">
                                        Vous avez demandé à réinitialiser votre mot de passe pour accéder à votre application Beev'Up.
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                    Cliquez sur le lien ci dessous pour modifier votre mot de passe:
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                    <a style="color:#000;font-size:12px;font-weight: bold" href="{{ url }}">{{ url }}</a>
                                    </p>
                                    <p style="color:#000;font-size:12px">
                                    Si vous rencontrez toujours un problème avec votre compte, n'hésitez pas à répondre à cet email ou à nous contacter sur <a style="font-weight:bold" href="mailto:contact.beevup@bureau-vallee.com">
                                        contact.beevup@bureau-vallee.com
                                    </a>
                                    </p>

                                    <p style="color:#132644;font-size:12px">
                                        A bientôt sur la plateforme Beev'Up
                                    <p style="color:#132644;">
                                        {%  if storePatron and storePatron.profile != null  %}
                                            {{storePatron.profile.firstname}}  {{ storePatron.profile.lastname}}
                                        {% endif %}
                                    </p>
                                    <p style="color:#132644;">
                                       {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}