{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                  
                                    {%   if user.profile != null %}
                                        {% if user.profile.firstname != null and user.profile.lastname != null %}
                                            <p style="color:#000;font-size:12px">Bonjour {{ user.profile.firstname }} {{ user.profile.lastname }},</p>
                                        {% else %}
                                            <p style="color:#000;font-size:12px">Bonjour, </p>
                                        {% endif %}
                                    {% endif %}
                                    <p style="color:#000;font-size:12px">
                                        Un autre membre a recommandé votre entreprise ou l'un de vos services.
                                        Pour que cette recommandation soit visible par les autres membres alors rendez vous sur
                                        <a style="color:#000;font-size:12px;text-decoration: underline;" href="{{ url('dashboard') }} "> {{ url('dashboard') }} </a>

                                        pour découvrir cette recommandation et la valider.


                                    </p>

                                    <p style="color:#000;font-size:12px">
                                        A tout de suite,
                                    </p>


                                    <p style="color:#000;font-size:12px">

                                        {%  if storePatron != null  %}
                                        {%  if storePatron.profile != null  %}
                                    <p style="color:#132644;font-size:13px">

                                        {{storePatron.profile.firstname|capitalize}}  {{ storePatron.profile.lastname|capitalize}}

                                    </p>
                                    {% endif %}
                                    {% endif %}
                                    <p style="color:#132644;">
                                      {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}