<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
    <title>Beevup - {% block title %}{% endblock %}</title>
    <meta property="og:url"           content="{{ url('security_registration') }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Beevup" />
    <meta property="og:description"   content="Développez votre business grâce à Beev'up la plateforme de services pour les professionnel" />
    <meta property="og:image"         content="{{ asset('build/images/dashboard/logo-social-media.png') }}" />



    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('build/images/default/favicon-beevup.png') }}" />
    <!-- Font Rubik Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">

    <!-- Webpack Encore CSS -->
    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}
</head>

<body class="{{ app.request.get('_route') }}" {% set toast = app.request.get('toastScore') %}{% if toast is defined and toast is not empty %} onload="loadToast()" {% endif %}>

    {# Display header #}
    {% include 'partials/header/header.html.twig' %}

    {#dispaly flash messages #}
    {% include 'partials/flashesConditions.html.twig' %}

    {% block body %}{% endblock %}

    {% block modals %}{% endblock %}

    {#dispaly footer #}
    {% include 'partials/footer.html.twig' %}

    {# Display Toast info #}
    {% include 'partials/toast.html.twig' %}

    <!-- JavaScript -->
    {# Call app.js wich contain js files #}
    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}{% endblock %}

    {# CDN Javascript Libraries #}
    {% include 'partials/cdns.html.twig' %}
</body>

</html>
