{% form_theme PostForm 'bootstrap_4_layout.html.twig' %}

  {% block body %}
      {{ form_start(PostForm,{'attr': {'id': 'create-post-form','action': path('post_create')}} ) }}
      <div class="d-flex">
          {% if app.user.profile.filename %}
              <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" class="rounded-circle z-depth-0 medium-avatar" alt="avatar image">
          {% else %}
              <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
          {% endif %}

          <div id="myTabContent" class="tab-content">
              {{ form_widget(PostForm.title, {'attr': {'class': 'mt-1','placeholder': 'Quel sujet voulez-vous partager ' ~ app.user.profile.firstname|capitalize ~ ' ?' }}) }}

              <div class="tab-pane fade mt-3 active show" id="text">
                  {{ form_widget(PostForm.description ) }}
              </div>
              <div class="tab-pane fade mt-3" id="image">
                  {{ form_widget(PostForm.imageFile) }}
              </div>
              <div class="tab-pane fade mt-3" id="video">
                  {{ form_widget(PostForm.urlYoutube) }}
              </div>
          </div>
      </div>
      <div class="hr"></div>
      <div class="type-post-error"><small>Vous devez choisir le type du post</small></div>
      <div class=" d-flex justify-content-between">
          <div class="d-flex">
              <a id="information" class="icon-type-post" href="#"><i class="fa fa-newspaper p-2 orange" data-toggle="tooltip" data-placement="top" title="Informations"></i></a>
              <a id="last_arrivals" class="icon-type-post" href="#"><i class="fa fa-comment-alt p-2 orange" data-toggle="tooltip" data-placement="top" title="Derniers arrivés"></i></a>
              <a id="commercial_opportunities" class="icon-type-post" href="#"><i class="fa fa-chart-line p-2 orange" data-toggle="tooltip" data-placement="top" title="Opportunité commerciale"></i></a>
              <a id="job" class="icon-type-post" href="#"><i class="fa fa-user-friends p-2 orange" data-toggle="tooltip" data-placement="top" title="Emploi"></i></a>
              <a id="event" class="icon-type-post" href="#"><i class="fa fa-calendar-alt p-2 orange" data-toggle="tooltip" data-placement="top" title="Evenement"></i></a>
              <a id="question" class="icon-type-post" href="#"><i class="fa fa-question p-2 orange" data-toggle="tooltip" data-placement="top" title="Question"></i></a>
              <a id="other" class="icon-type-post" href="#"><i class="fa fa-plus p-2 orange" data-toggle="tooltip" data-placement="top" title="Autre"></i></a>
          </div>

          <ul class="medias d-flex nav nav-tabs">
              <li class="nav-item box-notification"><a class="nav-link active" data-toggle="tab" href="#text"><i class="fa fa-text-height p-2"></i></a></li>
              <li class="nav-item box-notification"><a class="nav-link" data-toggle="tab" href="#image"><i class="fa fa-image p-2"></i></a></li>
              <li class="nav-item box-notification"><a class="nav-link" data-toggle="tab" href="#video"><i class="fa fa-video-camera p-2"></i></a></li>
              {{ form_widget(PostForm.category) }}
          </ul>

          <button type="submit" class="btn small-btn grey-bg">Publier</button>
      </div>

      {{ form_end(PostForm) }}

  {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/file.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}