{% form_theme PostForm 'bootstrap_4_layout.html.twig' %}

  {% block body %}
      {% if post is defined %}
       {{ form_start(PostForm,{'attr': {'id': 'create-post-form','action': path('post_edit',{'id':post.id})}} ) }}
      {% else %}
       {{ form_start(PostForm,{'attr': {'id': 'create-post-form','action': path('post_create')}} ) }}
      {% endif %}
      <div class="d-flex">
          {% if app.user.profile.filename %}
              <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}" class="m-2 rounded-circle z-depth-0 medium-avatar" alt="avatar image">
          {% else %}
              <img src="/images/default/user.png" class="rounded-circle z-depth-0 small-avatar" alt="avatar image">
          {% endif %}

          <div id="myTabContent" class="tab-content">
              {{ form_widget(PostForm.title, {'attr': {'class': 'mt-1 mb-3','placeholder': 'Quel sujet voulez-vous partager ' ~ app.user.profile.firstname|capitalize ~ ' ?' }}) }}

              {{ form_widget(PostForm.description ) }}
              <div class="tab-pane fade mt-3" id="image">
                  {{ form_widget(PostForm.imageFile) }}
              </div>
              <div class="tab-pane fade mt-3" id="video">
                  {{ form_widget(PostForm.urlYoutube) }}
              </div>
          </div>
      </div>
      <div class="hr"></div>
      <div class=" d-flex justify-content-between">
          <div id="types-posts" class="row">
              <ul class="types-posts d-flex">
                  <div class="col-lg-5 p-0">
                      <li class="icon-type-post" id="information" data-id="1"><a class="d-inline-block" href="#"><i class="fa fa-newspaper"></i> <span>Informations</span></a></li>
                      <li class="icon-type-post" id="job" data-id="4"><a class="d-inline-block" href="#"><i class="fa fa-user-friends"></i> <span>Emploi</span></a></li>
                      <li class="icon-type-post" id="other" data-id="6"><a class="d-inline-block"  href="#"><i class="fa fa-plus"></i> <span>Autre</span></a></li>
                  </div>
                  <div class="col-lg-8 p-0">
                      <li class="icon-type-post" id="commercial_opportunity" data-id="2"><a class="d-inline-block"  href="#"><i class="fa fa-chart-line"></i> <span>Opportunité commercile</span></a></li>
                      <li class="icon-type-post" id="question" data-id="3"><a class="d-inline-block" href="#"><i class="fa fa-question"></i> <span>Question à la communauté</span></a></li>
                      <li class="icon-type-post" id="event" data-id="5"><a class="d-inline-block"  href="#"><i class="fa fa-calendar-alt"></i> <span>Evénement</span></a></li>
                  </div>
              </ul>

              <div class="type-post-error"><small>Vous devez choisir le type du post</small></div>
          </div>

          <ul class="medias d-flex nav nav-tabs">
              <li class="nav-item box-notification"><a class="nav-link image" data-toggle="tab" href="#image"><i class="fa fa-image p-2"></i></a></li>
              <li class="nav-item box-notification"><a class="nav-link video" data-toggle="tab" href="#video"><i class="fa fa-video-camera p-2"></i></a></li>
              <div class="d-none">{{ form_widget(PostForm.category) }}</div>
          </ul>

          {% if app.user.profile.isCompleted == true %}
              <button type="submit" class="btn small-btn grey-bg">
                  {% if post is defined  %}Modifier{% else %} Publier{% endif %}
              </button>
          {% else %}
              <button type="button" class="btn small-btn grey-bg"
                      data-toggle="tooltip" data-placement="top" title="Vous devez compléter votre profile"
              >Publier</button>
          {% endif %}


      </div>

      {{ form_end(PostForm) }}

  {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/file.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}