{% form_theme PostForm 'bootstrap_4_layout.html.twig' %}

  {% block body %}
      {% if post is defined %}
       {{ form_start(PostForm,{'attr': {'id': 'create-post-form','action': path('post_edit',{'id':post.id})}} ) }}
      {% else %}
       {{ form_start(PostForm,{'attr': {'id': 'create-post-form','action': path('post_create')}} ) }}
      {% endif %}

      <div class="new-post">
          <div class="box">
              <div class="d-flex justify-content-between">
                  <div class="d-flex">
                      {% if app.user.profile.filename %}
                          <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                      {% else %}
                          <img src="/images/default/user.png" class="rounded-circle z-depth-0 big-avatar" alt="avatar image">
                      {% endif %}
                      <div class="meta">
                          <p><strong>{{ app.user.profile.firstname }}</strong></p>
                          {% if app.user.company %}
                            <small>{{ app.user.company.name|capitalize }}</small>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="myTabContent" class="tab-content">
          {{ form_widget(PostForm.title, {'attr': {'class': 'mt-1 mb-3','placeholder': 'Quel sujet voulez-vous partager ' ~ app.user.profile.firstname|capitalize ~ ' ?' }}) }}

          {{ form_widget(PostForm.description, {'attr': {'class': 'mt-1 mb-3'}} ) }}

          <div class="d-lg-flex justify-content-between">
              {{ form_widget(PostForm.category) }}
              <a href="#" type="button" class="article btn small-btn grey-bg full-width ml-3"><i class="fas fa-link mr-1"></i> Reprendre un article</a>
          </div>

          <div class="url-article d-none mt-3">
              <div class="d-flex">
                  {{ form_widget(PostForm.urlLink) }}
                  <div class="btn grey-bg ml-1">Charger</div>
                  <a href="#" class="disable-article p-2"><i class="fas fa-times-circle"></i></a>
              </div>
          </div>
      </div>

      <div class="mt-3">
          <div class="image-link d-none">{{ form_widget(PostForm.imageLink) }}</div>
          <div class="image-file d-none">{{ form_widget(PostForm.imageFile) }}</div>
      </div>
      <div class="mt-3">
          <div class="url-youtube d-none">{{ form_widget(PostForm.urlYoutube) }}</div>
      </div>

      <div class="d-flex justify-content-between mt-3">
          <ul class="medias d-flex">
              <li class="pt-2 pr-2">
                  <p>Ajouter</p>
              </li>
              <li class="nav-item box-notification"
                  data-toggle="tooltip" data-placement="top" title="Ajouter une image">
                  <a class="nav-link image" href="#"><i class="fa fa-image p-2"></i></a></li>
              <li class="nav-item box-notification"
                  data-toggle="tooltip" data-placement="top" title="Partager une vidéo">
                  <a class="nav-link video" href="#"><i class="fa fa-video-camera p-2"></i></a></li>
          </ul>

          <button type="submit" class="btn big-btn orange-bg w-25">
              {% if post is defined  %}Modifier{% else %} Publier{% endif %}
          </button>
      </div>

      {{ form_end(PostForm) }}

  {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}