

{% form_theme PostForm 'bootstrap_4_layout.html.twig' %}

  {% block body %}
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Publier</h5>
      <button type="button" class="mvp-close close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body card-block">
  
      <div class="card-body card-block">
        {{ form_start(PostForm, {'action': path('post_create')}) }}
            <div class="form-group">
              {{ form_row(PostForm.title) }}
            </div>
            <div class="form-group">
              {{ form_row(PostForm.description) }}
            </div>
            <div class="form-group">
              {{ form_row(PostForm.category) }}
            </div>
             
            <div class="form-actions form-group">
              <button type="submit" class="btn mvp-bg btn-sm btn-radius float-right">Publier</button>
            </div>
             {{ form_end(PostForm) }}
         </div>

         </div>
  {% endblock %} 