{% extends 'base.html.twig' %}

{% block title %}RDV expert{% endblock %}

{% block body %}
    <main>
        <div class="main-section">
            <div class="container-bv">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            {% include 'profile/boxes/infoProfile.html.twig' %}
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <h3 class="my-3">Demandes de rendez-vous experts</h3>

                                <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                                    <li class="nav-item p-3">
                                        <a class="nav-link {% if status == 'toConfirm' %}active{% endif %}" href="{{ path('expert_booking_list', {'status': 'toConfirm'}) }}" >A confirmer</a>
                                    </li>
                                    <li class="nav-item p-3">
                                        <a class="nav-link {% if status == 'confirmed' %}active{% endif %}"  href="{{ path('expert_booking_list', {'status': 'confirmed'}) }}">Confirmés</a>
                                    </li>
                                    <li class="nav-item p-3">
                                        <a class="nav-link {% if status == 'canceled' %}active{% endif %}"  href="{{ path('expert_booking_list', {'status': 'canceled'}) }}">Annulés</a>
                                    </li>
                                    <li class="nav-item p-3">
                                        <a class="nav-link {% if status == 'archived' %}active{% endif %}"  href="{{ path('expert_booking_list', {'status': 'archived'}) }}">Archivés</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    {% if list %}
                                        {% for expertBooking in list %}
                                            <div class="box">
                                                <h5>Le {{ expertBooking.slot.timeSlot.date|date('d/m/Y') }} à {{ expertBooking.slot.startTime|date('H') }}h{{ expertBooking.slot.startTime|date('i') }}</h5>
                                                {% if expertBooking.way == 'visio' %}
                                                    <div class="d-flex">
                                                        <h6 class="mr-3">En visio-conférence</h6>
                                                        {% if status == 'confirmed' %}
                                                            <a href="{{ expertBooking.videoLink }}" target="_blank">Lancer la vidéo</a>
                                                        {% endif %}
                                                    </div>
                                                {% else %}
                                                    <p><span class="text-muted">À l'adresse : </span>{{ expertBooking.expertMeeting.user.company.fullAddress }}</p>
                                                {% endif %}
                                                <p class="my-3"><span class="text-muted">Attentes du professionnel : </span><strong>{{ expertBooking.description }}</strong></p>
                                                <p><span class="text-muted">Nom et prénom : </span>{{ expertBooking.user.profile.lastname }} {{ expertBooking.user.profile.firstname }}</p>
                                                <p><span class="text-muted">Entreprise : </span>{{ expertBooking.user.company }}</p>
                                                <p><span class="text-muted">Email : </span>{{ expertBooking.user.email }}</p>
                                                <p><span class="text-muted">Téléphone : </span>{{ expertBooking.user.profile.phoneNumber ?? 'Pas défini' }}</p>
                                                <div class="be-contacted-handle-btn">
                                                    {% if status == 'toConfirm' %}
                                                        <button class="expert-booking-confirm-btn btn small-btn orange-bg ml-auto my-2" data-target="{{ path('expert_booking_confirm', {'id': expertBooking.id}) }}">Confirmer</button>
                                                        <button class="expert-booking-cancel-btn btn small-btn white-bg ml-auto my-2" data-target="{{ path('expert_booking_cancel', {'id': expertBooking.id}) }}">Annuler</button>
                                                    {% elseif status == 'confirmed'  %}
                                                        <button class="expert-booking-cancel-btn btn small-btn white-bg ml-auto my-2" data-target="{{ path('expert_booking_cancel', {'id': expertBooking.id}) }}">Annuler</button>
                                                    {% elseif status == 'canceled' %}
                                                        <button class="expert-booking-archive-btn btn small-btn orange-bg ml-auto my-2" data-target="{{ path('expert_booking_archive', {'id': expertBooking.id}) }}">Archiver</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="box">
                                            <div class="">
                                                <p>La liste est vide</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            {% include 'default/boxes/add-service-component.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('collectionPrototype') }}
{% endblock %}
