{% extends 'base.html.twig' %}

{% block title %}{{ store.name }}{% endblock %}

{% block body %}

<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        {% include 'store/boxes/infoStore.html.twig' %}
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="main-ws-sec">
                        <div class="product-feed-tab current" id="info-dd">
                            <div class="user-profile-ov page-title sign_in_sec current">
                                <h3>
                                    Editer les informations
                                </h3>
                                {{ form_start(form, {'attr':{'id':'BVform'}})}}
                                    <div class="row">
                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.name) }}
                                            <div class="input-group">
                                               {{ form_widget(form.name) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.email) }}
                                            <div class="input-group">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.introduction) }}
                                            <div class="input-group">
                                                {{ form_widget(form.introduction) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.description) }}
                                            <div class="input-group">
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.phone) }}
                                            <div class="input-group">
                                                {{ form_widget(form.phone) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.defaultAdviser) }}
                                            <div class="input-group">
                                                {{ form_widget(form.defaultAdviser) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.addressNumber) }}
                                            <div class="input-group">
                                                {{ form_widget(form.addressNumber) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.addressStreet) }}
                                            <div class="input-group">
                                                {{ form_widget(form.addressStreet) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.addressPostCode) }}
                                            <div class="input-group">
                                                {{ form_widget(form.addressPostCode) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.city) }}
                                            <div class="input-group">
                                                {{ form_widget(form.city) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.country) }}
                                            <div class="input-group">
                                                {{ form_widget(form.country) }}
                                            </div>
                                        </div>

                                        <div class="form-group required col-lg-6 col-md-12">
                                            {{ form_label(form.imageFile) }}
                                            <div class="input-group  store-file data-entity-id" data-entity-id="{{ app.user.store.id }}" data-slug="{{ app.user.store.slug }}">
                                                {{ form_widget(form.imageFile) }}
                                            </div>

                                            <div id="previous-image">

                                            </div>

                                        </div>
                                    </div>

                                    <div class="text-center hide-load">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <div class="form-actions form-group text-center">
                                        <button type="submit" class="m-orange-btn">Enregistrer</button>
                                    </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  {% endblock %} 