{% extends 'base.html.twig' %}

{% block title %}Mon magasin{% endblock %}

{% block body %}
<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">

                        {% include 'store/boxes/infoStore.html.twig' %}

                        {% if users is defined %}
                            <div class="suggestions full-width">
                                <div class="suggestions-list">
                                    {% if companies is defined %}
                                        <div class="sd-title page-title sign_in_sec current">
                                            <h5>Les derniers arrivés </h5>

                                        </div><!--sd-title end-->
                                        {% for company in companies %}
                                            <div class="suggestion-usd">

                                                {% if company.filename %}
                                                    <img src="{{ vich_uploader_asset(company, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                {% else %}
                                                    <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                {% endif %}
                                                <div class="sgt-text">
                                                    <p>
                                                        <a href="{{ path('company_show', {'slug': company.slug, 'id': company.id}) }}">
                                                            {{ company.name }}</a> </p>
                                                    {% if company.category != null %}
                                                        <small>{{ company.category.name|capitalize }}</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div><!--suggestions-list end-->
                            </div><!--suggestions end-->
                        {% endif %}

                    </div><!--main-left-sidebar end-->
                </div>

                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h1 class="grey-title">Mon magasin</h1>
                            <h3>{{ store.name|capitalize }}</h3>
                            <div class="star-descp">
                                <span>  {{ app.user.store.city }}  {{ app.user.store.country|country_name }}</span>
                                <p>{{  store.introduction }} </p>
                            </div><!--star-descp end-->
                        </div><!--user-tab-sec end-->

                        <div class="product-feed-tab current" id="info-dd">
                            <div class="user-profile-ov page-title sign_in_sec current">
                                <h5>{{ store.name|capitalize }} en quelques mots</h5>
                                <p>{{ store.description|raw ?: 'Pas de description' }}</p>
                            </div><!--user-profile-ov end-->

                            {% if  services %}
                                <div class="top-profiles ">
                                    <div class="page-title sign_in_sec current">
                                        <h5>Les services proposés par votre magasin Bureau Vallée</h5>
                                        <i class="la la-ellipsis-v"></i>
                                        <div class="profiles-slider">
                                            {% for service in services %}
                                                <div class="user-profy">
                                                    {% if service.filename %}
                                                        <img src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('company_show_services_card') }}"  alt="">
                                                    {% else %}
                                                        <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                    {% endif %}
                                                    <p style="height: 70px;padding: 20px 0;"><strong>{{ service.title}}</strong></p>
                                                    <a href="{{ path('service_show', {'id': service.id}) }}">Voir plus</a>
                                                </div><!--user-profy end-->
                                            {% endfor %}
                                            {% if  services|length > 3 %}
                                                <div class="user-profy">
                                                    <div class="lt-sec">
                                                        <a href="{{ path('service_store', {'store': store.id}) }}">
                                                            <i style="font-size: 57px" class="fas fa-folder-plus"></i>
                                                            <p>Voir tous les services de votre magasin</p>
                                                        </a>
                                                    </div>
                                                </div><!--user-profy end-->
                                            {% endif %}
                                        </div><!--profiles-slider end-->
                                        {% if app.user.store.id == store.id  and  app.user.type.id == 1 %}
                                           <a id="createservicebox" type="button"  href="{{ path('service_new') }}" class="btn small-btn orange-bg full-width mt-3">Créer un service</a>
                                        {% endif %}
                                    </div>
                                </div><!--top-profiles end-->
                            {% endif %}


                            {% if store.isAdmin != true %}
                                <div class="right">
                                    {% if app.user.store != null %}
                                        {% if app.user.profile.isCompleted == true  %}
                                            {% if app.user.store == store and app.user.type.name != 'admin magasin' %}
                                                <div class="">
                                                    <a href="#" class="add-recommandation btn white-bg float-right mb-1" title=""
                                                       data-toggle="modal"
                                                       data-target="{{ path('recommandation') }}"
                                                       data-whatever="@getbootstrap"
                                                       data-store="{{store.id}}">
                                                        <i class="fas fa-thumbs-up"></i> Proposer une recommandation
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="user-profile-ov st2 page-title sign_in_sec current">
                                <h5>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé les services de {{ store.name|capitalize }} </a>
                                </h5>
                                {% if recommandationsServices %}
                                    {% for recommandationsService in recommandationsServices %}
                                        <div class="suggestion-usd">
                                            {% if recommandationsService.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationsService.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                            {% endif %}

                                            <div class="hover-info">
                                                <p>{{ recommandationsService.user.profile.firstname }} {{ recommandationsService.user.profile.lastname }}</p>
                                                <small>{{ recommandationsService.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationsService.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationsService.message  }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>

                            <div class="user-profile-ov st2 page-title sign_in_sec current">
                                <h5>
                                    <a href="#" title="" class="exp-bx-open">La communauté a recommandé {{ store.name|capitalize }} </a>
                                </h5>
                                {% if recommandationsStore %}
                                    {% for recommandationStore in recommandationsStore %}
                                        <div class="suggestion-usd">
                                            {% if recommandationStore.user.profile.filename %}
                                                <img src="{{ vich_uploader_asset(recommandationStore.user.profile, 'imageFile')|imagine_filter('miniature') }}" alt="">
                                            {% else %}
                                                <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                            {% endif %}

                                            <div class="hover-info">
                                                <p>{{ recommandationStore.user.profile.firstname }} {{ recommandationStore.user.profile.lastname }}</p>
                                                <small>{{ recommandationStore.user.company|capitalize }}</small>
                                                {% include 'default/modals/hoverUserPopin.html.twig' with {'user': recommandationStore.user} %}
                                            </div>
                                            <p class="recommandation-message">
                                                {{ recommandationStore.message  }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Soyez le premier à proposer une recommandation</p>
                                {% endif %}
                            </div>
                        </div>
                    </div><!--main-ws-sec end-->
                </div>

                <div class="col-lg-3">
                    <div class="right-sidebar">
                        <div class="user-profile-ov page-title sign_in_sec current">
                            <h5>Notre équipe pour vous servir</h5>
                            {% if users %}
                                {%  for user in users %}
                                    {% if user.profile != null %}
                                        {% if user.profile.isCompleted %}
                                            <div class="suggestion-usd">
                                                {% if user.profile.filename %}
                                                    <img src="{{ vich_uploader_asset(user.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                                {% else %}
                                                    <img src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                                {% endif %}
                                                <div class="sgt-text hover-info">
                                                    <p>  {{ user.profile.firstname }} {{ user.profile.lastname }}</p>
                                                    {% if user.profile.function != null %}
                                                        <small>{{ user.profile.function.name|capitalize }}</small>
                                                    {% endif %}
                                                    {% include 'default/modals/hoverUserPopin.html.twig' with {'user': user} %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                    <p>Aucun nouvel utilisateur</p>
                            {% endif %}
                        </div><!--user-profile-ov end-->
                    </div><!--suggestions end-->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="recommandation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% include 'partials/spinner.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('image') }}
{% endblock %}