{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit ExpertMeeting{% endblock %}

{% macro fieldsPrototype(timeSlot) %}
    <div class="d-flex js-time-slot-item mb-3">
        {{ form_widget(timeSlot.date) }}
        <span class="p-3">de</span>
        {{ form_widget(timeSlot.startTime) }}
        <span class="p-3">à</span>
        {{ form_widget(timeSlot.endTime) }}
        <a href="#" class="js-time-slot-remove p-3 pull-right">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
    {{ form_errors(timeSlot) }}
{% endmacro %}

{% block body %}
<div class="main-section">
    <div class="container-bv">
        <div class="main-section-data page-content">
            <div class="row">
                <div class="offset-3 col-lg-6">
                    <div class="main-ws-sec">
                        <div class="product-feed-tab current" id="info-dd">
                            <div class=" page-title sign_in_sec current">
                                {% if edit == true %}
                                    <h3>Modifier mon rendez-vous expert</h3>
                                {% else %}
                                    <h3> Créer mon rendez-vous expert</h3>
                                {% endif %}

                                <div class="py-3">
                                    <p>Vous souhaitez proposer votre expertise ? Faites-en bénéficier les autres en leur offrant votre temps.</p>
                                    <p><strong>30 minutes = 1 RDV Expert</strong></p>
                                    <p>En proposant un RDV Expert, vous gagnez en visibilité et vous rencontrez des clients potentiels.</p>
                                </div>

                                {{ form_start(form)}}
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            {{ form_row(form.expertise, {'label': 'Votre expertise :'}) }}
                                        </div>
                                    </div>
                                    <p>Vous acceptez :</p>
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            {{ form_row(form.isVisio, {'label': 'En visio-conférence'}) }}
                                        </div>
                                        <div class="col-6 form-group">
                                            {{ form_row(form.isInCompany, {'label': 'En entreprise'}) }}
                                        </div>
                                    </div>
                                    <div class="row row-address-meeting d-none">
                                        <div class="col-12 form-group">
                                            <label for="">Adresse :</label>
                                            {{ form_widget(form.address, {'value' : app.user.company.fullAddress}) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>

                                    <p>Vos créneaux disponibles : </p>

                                    {# store the prototype on the data-prototype attribute #}
                                    <div class="js-time-slots-wrapper" data-prototype="{{ _self.fieldsPrototype(form.timeSlots.vars.prototype)|e }}" data-index="{{ form.timeSlots|length }}">
                                        {% for timeSlot in form.timeSlots %}
                                            {{ _self.fieldsPrototype(timeSlot) }}
                                        {% endfor %}
                                        <a type="button" class="js-time-slot-add"> <span class="fa fa-plus-circle"></span> Ajouter un nouveau créneau</a>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn orange-bg">Valider</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('collectionPrototype') }}
{% endblock %}