{% extends 'base.html.twig' %}

{% block title %}RDV expert{% endblock %}

{% block body %}
    <main>
        <div class="main-section">
            <div class="container-bv">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        {% if profile.filename %}
                                            <img class="main-img" src="{{ vich_uploader_asset(profile, 'imageFile')|imagine_filter('avatar_big') }}"  alt="">
                                        {% else %}
                                            <img class="main-img" src="{{ asset('build/images/no-available-photo.png') }}" alt="">
                                        {% endif %}
                                        {% if app.user.id == profile.user.id %}
                                            <a class="update-image upload-photo"type="button"   data-toggle="modal" data-target="#update-img-modal"  data-id ="{{ profile.id  }}" data-url ="{{ path('profile_update_image', {'id': profile.id}) }}" title=""><i class="fas fa-camera"></i></a>
                                        {% endif %}
                                    </div><!--user-pro-img end-->
                                    <div class="user_pro_status pl-2 pr-2">

                                    </div><!--user_pro_status end-->
                                    <ul class="social_links">
                                        <li><i class="fas fa-envelope mt-1"></i>  {{ profile.user.email }} </li>
                                        {% if profile.mobileNumber != null %}  <li><i class="fas fa-mobile-alt mt-1"></i>  {{ profile.mobileNumber }} </li>{% endif %}
                                        <li><i class="fas fa-store mt-1"></i>  {{ profile.user.store.name }} </li>
                                    </ul>
                                </div><!--user_profile end-->
                            </div><!--main-left-sidebar end-->

                            {% if expertMeetingCurrentUser %}
                                <a type="button" href="{{ path('expert_meeting_edit', {'id': expertMeetingCurrentUser.id}) }}" class="btn orange-bg full-width mt-3">Paramétrer mon RDV</a>
                            {% else %}
                                <a type="button" href="{{ path('expert_meeting_new') }}" class="btn orange-bg full-width mt-3">Proposer un RDV</a>
                            {% endif %}
                            <a type="button" href="{{ path('expert_booking_list', {'status': 'toConfirm'}) }}" class="btn white-bg full-width mt-3">Gérer mes RDV</a>
                        </div>

                        {% set contentBtn = "Les RDV Experts permettent de proposer votre expertise à toute la communauté Beev'Up, sur un créneau de 30 minutes, gratuitement. Vous pouvez également vous-même prendre un RDV Experts avec une expertise qui vous intéresse. À vous de jouer !" %}

                        <div class="col-lg-9">
                            <div class="box">
                                <div class="main-ws-sec box-expert-meeting">
                                    <div class="d-flex">
                                        <h3 class="my-3">Les rendez-vous experts de votre communauté</h3>
                                        <button type="button" class="btn btn-info-label" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ contentBtn }}">
                                            <i class="fas fa-question-circle"></i>
                                        </button>
                                    </div>

                                    {% include 'expert_meeting/box.html.twig' %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

