<div id ="comments-section-{{post.id}}"  class="comments-section hidden">
  {% for comment in comments %}
  {% if comment.post.id == post.id %}
  <div id = "comment-id-{{comment.id}}"class="row user-comment">
      <div class="user-image col-1 padding-rf-2">
          <a  href="{{path('profile_show', { 'id': comment.user.profile.id}) }}">
            {% if comment.user.profile.filename is empty %}
            <img class="media-object photo-profile" src="/images/default/user.png" width="32" height="32" alt="...">
            {% else %}
              <img class="media-object photo-profile" src="/images/profiles/{{comment.user.profile.filename}}" width="32" height="32" alt="...">
              {% endif %}
            </a>
      </div>
      <div class="comment col-9">
          <a  href="{{path('profile_show', { 'id': comment.user.profile.id}) }}" class="comment-user">
              <p class="comment-owner">{{comment.user.profile.firstname}} {{comment.user.profile.lastname}}</p></a>
          {% if comment.user.company %}
           <p  class="comment-time">
               <a class="user-company-name" href="{{path('company_show', { 'slug': comment.user.company.slug}) }}">
                 {{comment.user.company.name}}
               </a>
           </p>
          {% else  %}
            <p  class="comment-time">
                <a class="user-company-name" href="{{path('store_show', { 'slug': comment.user.store.slug}) }}">
                    {{comment.user.store.name}}
                </a>
            </p>
          {% endif %}
          <p  class="comment-time">{{comment.createdAt|date('h:s')}}</p>
          <div id="comment-description-{{comment.id}}" class="comment-text">
              {{comment.description}}
          </div>
      </div>
     
          <div class="col-2">
            {% if comment.user.id == app.user.id %} 
              <button class="delete-comment-btn"
                      data-comment-id="{{comment.id}}"
                      data-post-id="{{post.id}}"
                      data-target="{{ path('comment_delete', {'id': comment.id}) }}">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button class="edit-comment-btn"
                      data-comment-id="{{comment.id}}"
                      data-post-id="{{post.id}}"
                      >
                      <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            
            {% endif %}
            {% if app.user.id != comment.user.id and reportedComments[loop.index - 1] == 0 %}
               <button id = "report-comment-abuse-btn-{{ comment.id }}" class="report-comment-abuse-btn" data-toggle="modal" data-comment="{{comment.id}}" data-target="{{ path('abuse_add',{'postId':0, 'commentId':comment.id}) }}">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </button>
                {% endif %}
            </div>
            {% if app.user.id != comment.user.id %}
                 <!-- Modal to report abuse  -->
                 <div id="modal-report-abuse-comment-{{comment.id}}"  data-comment="{{comment.id}}" class="modal modal-report-comment fade"  tabindex="-1" role="dialog" aria-labelledby="report-post" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div id="modal-report-abuse-comment-content-{{comment.id}}" class="modal-content">
                        <div class="modal-body">
                            <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow" style="width: 1rem; height: 1rem;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                        </div>
                       
                    </div>
                    </div>
                </div>
                {% endif %}
             <!-- Modal -->
           
            
  </div>
  {% endif %}
  {% endfor %}
</div>