<div id ="comments-section-{{post.id}}"  class="comments-section hidden">
  {% for comment in comments %}
  {% if comment.post.id == post.id %} 
  <div id = "comment-id-{{comment.id}}"class="row user-comment">
      <div class="user-image col-1">
          <a href="#">
              <img class="media-object photo-profile" src="/images/profil/photo/{{comment.user.profile.photo}}" width="32" height="32" alt="...">
          </a>
      </div>
      <div class="comment col-9">
          <a href="#" class="comment-user"><p>{{comment.user.profile.firstname}} {{comment.user.profile.lastname}}</p></a> 
          <a href="#" class="comment-time"><i class="fa fa-calendar mr-1"></i>{{comment.createdAt|date('h:s')}}</a>
          <div id="comment-description-{{comment.id}}" class="comment-text">
              {{comment.description}}
          </div>
      </div>
      {% if comment.user.id == app.user.id %} 
          <div class="delete-comment col-2">
              <button class="delete-comment-btn"
                      data-comment-id="{{comment.id}}"
                      data-post-id="{{post.id}}"
                      data-target="{{ path('comment_delete', {'id': comment.id}) }}">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button class="edit-comment-btn"
                      data-comment-id="{{comment.id}}"
                      data-post-id="{{post.id}}"
                      >
                      <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
          </div>
      {% endif %}    
  </div>
  {% endif %}
  {% endfor %}
</div>