<div class="posts">
  {% for post in posts %}
      {% set difference = date(post.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
      {% set leftDays = difference.days %}
      {% set days = difference.days %}
      {% if leftDays == 0 %}
      {% set leftDays = post.createdAt|date("h:m") %}
      {% elseif leftDays == 1 %}
      {% set leftDays =  '1 jour' %}
      {% else %}
      {% set leftDays =  leftDays ~ ' jours' %} 
      {% endif %}
      {% if post.status != 1%}
      <div id="post-id-{{post.id}}" class="row post {% if (loop.index - 1) > 20 %} post-hidden {% endif %}" data-category= "{{post.category}}" data-post-pusblished={{days}}>
          <div class="user-profil-photo col-1">
              <div class="user-profil">
                  {% if post.user.profile.filename %}
                      {% set variable = post.user.profile.filename  %}
                      <a href="{{path('profile_show', { 'id': post.user.profile.id}) }}">
                          <img src="{{ asset('/images/profiles/'~ variable) | imagine_filter('thumbnail45') }}" class="user-profil-sm" alt="">
                      </a>
                  {% else %}
                      <a href="{{path('profile_show', { 'id': post.user.profile.id}) }}">
                          <img src="/images/default/user.png" class="user-profil-sm" alt="">
                      </a>
                  {% endif %}
              </div>
          </div>

          <div class="col-11 post-content">
              <div class="lead post-user-profile">
                  <div class="post-header col-12">
                      <strong class="post-user col-6">
                          <a href="{{path('profile_show', { 'id': post.user.profile.id}) }}">
                            {{post.user.profile.firstname}} {{post.user.profile.lastname}}
                          </a>
                      </strong>
                      <strong class="post-created-at col-5">{{leftDays}}</strong>
                      {% if app.user.profile.isCompleted == true %}
                          {% if (reportedPosts[loop.index - 1] == 0  or  post.user.id == app.user.id)  %}
                              <div class="col-1 dropdown post-action-btn" style="float:right">
                                  <i class="fa fa-ellipsis-h post-action-icon" aria-hidden="true" data-toggle="dropdown" data-post="{{ post.id }}" aria-haspopup="true" aria-expanded="false"></i>

                                  <div id="post-actions-{{ post.id }}" class="post-actions" aria-labelledby="dropdownMenuButton">
                                      {% include 'dashboard/post/post-delete.html.twig' %}
                                      {% if reportedPosts[loop.index - 1] == 0 %}
                                          {% include 'dashboard/post/post-report-abuse.html.twig' %}
                                      {% endif %}
                                  </div>
                              </div>
                          {% endif %}
                      {% endif %}
                  </div>
              </div>
                  <p class="post-user-company">
                      {% if  post.user.company %}
                          <a class="user-company-name" href="{{path('company_show', { 'slug': post.user.company.slug}) }}">
                              {{post.user.company.name|capitalize}}
                          </a>
                          {% elseif  post.user.store %}
                              <a class="user-company-name" href="{{path('store_show', { 'slug': post.user.store.slug}) }}">
                                  {{post.user.store.name|capitalize}}
                              </a>
                      {% endif %}
                  </p>



              <div class="lead"> <span class="post-category post-category-{{post.category|replace({' ': '-'})}}">{{post.category|capitalize}}</span></div>
              <div class="lead post-title"><b>{{post.title|capitalize}}</b></div>
               {% if post.toCompany != null %}
                   <div class="lead post-description">{{post.description|length > 200 ? post.description|slice(0, 200) ~ '...' : post.description}}
                       <a class="see-more" href="{{ path('company_show',{'slug':post.toCompany.slug}) }}">voir fiche entreprise </a>
                   </div>
               {% else %}
                   <div class="lead post-description">{{post.description}}</div>
              {% endif %}
              <div id = "post-{{post.id}}-likes-number" class="like-number" data-path="{{path('post_likes', { 'id': post.id})}}">
                {% if post.likesNumber > 0 %}
                    <span id="likes-list-{{post.id}}" 
                            class="post-likes" 
                            data-post="{{post.id}}" 
                            data-toggle="modal" 
                            data-target="#LikesList" 
                            data-whatever="@mdo"
                            data-path="{{path('post_likes', { 'id': post.id})}}">
                        <i id ="post-likes-icon-{{post.id}}" class="fa fa-thumbs-up mvp-color" aria-hidden="true"></i>
                        <span id ="post-likes-number-{{post.id}}" class="post-likes-number">
                          {{post.likesNumber}}</span>
                    </span>
                {% endif %}

                  
                  <span><a id ="comments-button-{{post.id}}" class="comments-link" href="#" data-post-id = "{{post.id}}">
                      {% if post.commentsNumber > 0 %}
                        <span id="post-{{post.id}}-comments-number">{{post.commentsNumber}} </span> commentaire
                      {% endif %}
                  </a></span>
              </div>

                  {% if  app.user.profile.isCompleted == true %}
                        <div class="col-14">

                              {% if likedPost[loop.index - 1] == 1 %}
                                <button id = "like-button-{{post.id}}" type="button" class="btn btn-light btn-sm like-button post-liked post-btns" data-post-likes-number = "{{post.likesNumber}}" data-post-id = "{{post.id}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> J'aime</button>
                              {% else %}
                                <button id = "like-button-{{post.id}}" type="button" class="btn btn-light btn-sm like-button post-btns" data-post-likes-number = "{{post.likesNumber}}" data-post-id = "{{post.id}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> J'aime</button>
                              {% endif %}
                                <button id = "comment-button-{{post.id}}" type="button" class="btn btn-light btn-sm comment-button post-btns" data-post-id = {{post.id}}><i class="fa fa-commenting-o" aria-hidden="true"></i> Commenter</button>
                                <a href="{{ path('chat_private', {'id': post.user.id}) }}" id = "chat-button-{{post.id}}" type="button" class="btn btn-light btn-sm chat-button post-btns" data-post-id = {{post.id}}><i class="fa fa-comments-o" aria-hidden="true"></i> Chater avec l'auteur</a>
                              <!--<button id = "share-button-{{post.id}}" type="button" class="btn btn-light btn-sm share-button" data-post-id = {{post.id}}><i class="fa fa-retweet" aria-hidden="true"></i> Partager</button>-->

                        </div>
                          {% include 'dashboard/add-comment.html.twig' %}
                  {% endif %}

              {% include 'dashboard/comments.html.twig' %}
         </div>
      </div>
          <div class="load-more-post">
              
          </div>
            {#postActionbtns#}
      {% endif %}
  {% endfor %}
  {% if postNumber > 200 %}
      <div class="row">
          <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-show-more">
              <span class="badge badge-dot badge-dot-lg badge-warning badge-pulse">Badge</span>
              Afficher plus de postes
          </button>
      </div>
  {% endif  %}
</div>