{% if  app.user.store != null %}
    {% if  app.user.store.defaultAdviser != null %}
        {% if  app.user.store.defaultAdviser.profile != null %}
                <div id="advisorbox" class="row box dashboard-box d-none d-lg-block">
                    <div  class="box-title-container">
                        <p class="box-title">{{ app.user.store.defaultAdviser.profile.firstname ?: 'Profil incomplet'}} {{ app.user.store.defaultAdviser.profile.lastname }}</p>

                    </div>


                    <div class="avatar adviser-avatar">
                        {% if app.user.store.defaultAdviser.profile.filename %}
                            <img src="{{ vich_uploader_asset(app.user.store.defaultAdviser.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
                        {% else %}
                            <img src="{{ asset('build/images/default/user.png') }}" class="adviser-img img-fluid dashboard-profil-img" alt="">
                        {% endif %}
                    </div>
                    <div class="info mt-3">
                        <p class="text-muted user-name adviser-title">Votre Conseiller Bureau vallée {{ app.user.store.name|capitalize }}</p>


                        <p class="user-contact">
                            <span class="user-action btn-radius"><a class="user-link" href="{{ path('chat_private', {'id': app.user.store.defaultAdviser.id}) }}">Contacter</a></span>
                            <span class="user-action btn-radius"><a class="user-link" href="{{path('profile_show', { 'id': app.user.store.defaultAdviser.profile.id}) }}">Voir fiche</a></span>
                        </p>
                    </div>
                    <div id="adviser-box" class="company-informations  d-none d-lg-block">

                        <p class="company-tel">
                            <i class="fa fa-university margin-r-10 box-icon" aria-hidden="true"></i>
                            <span class="box-text-content">
                              {{ app.user.store.name|capitalize }}
                            </span>
                        </p>
                        <p class="company-tel">
                            <i class="fa fa-map-marker margin-r-10 box-icon" aria-hidden="true"></i>
                            <span class="box-text-content">
                              {{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }} {{ app.user.store.addressPostCode }}
                            </span>
                        </p>
                        <p class="company-tel">
                            <i class="fa fa-flag margin-r-10 box-icon" aria-hidden="true"></i>
                            <span class="box-text-content">
                               {{ app.user.store.city }}  {{ app.user.store.country|country_name }}
                            </span>
                        </p>
                        {% if app.user.store.phone  %}
                            <p class="company-tel">
                                <i class="fa fa-phone margin-r-10 box-icon" aria-hidden="true"></i>
                                <span class="box-text-content">
                                  {{ app.user.store.phone }}
                                </span>
                            </p>
                        {% endif %}
                        <p class="company-tel">
                            <i class="fa fa-angle-double-right margin-r-10 box-icon" aria-hidden="true"></i>
                            <span class="box-text-content">
                              <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Voir la fiche magasin</a>
                            </span>
                        </p>
                    </div>
                </div>
        {% endif %}
    {% endif %}
{% endif %}
