
<div id="advisorbox" class="row box dashboard-box">
    <div  class="box-title-container">
        <p class="box-title">Conseiller</p>
    </div>

    {% if adviser != null %}
    <div class="avatar">
        {% if adviser.profile.filename %}
            <img src="{{ vich_uploader_asset(adviser.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
        {% else %}
            <img src="/images/default/user.png" class="img-fluid dashboard-profil-img" alt="">
        {% endif %}
    </div>
    <div class="info mt-3">
        <p class="text-muted user-name">{{ adviser.profile.firstname|capitalize ?: 'Profil incomplet'}} {{ adviser.profile.lastname|capitalize }}</p>
        <p class="user-contact">
            <span class="user-action btn-radius"><a class="user-link" href="{{ path('chat_private', {'id': adviser.id}) }}">Contacter</a></span>
            <span class="user-action btn-radius"><a class="user-link" href="{{path('profile_show', { 'id': adviser.profile.id}) }}">Voir fiche</a></span>
        </p>
    </div>
    {% else %}
        <p><small>Aucun conseiller selectionner</small></p>
    {% endif %}
</div>
