<div id="companybox" class="box company-informations">
    <div class="box-title-container">
        <p class="box-title">Entreprise</p>
    </div>

    {% if app.user.company  %}
        {% if app.user.company.filename %}
            <img src="{{ vich_uploader_asset(app.user.company, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
        {% else %}
            <img src="/images/no-available-company-photo.png" class="img-fluid" alt="">
        {% endif %}
        <p class="company-tel mt-2 ml-3 company-name">{{ app.user.company.name|capitalize }}</p>
        {% if app.user.company.isCompleted %}
            {% if app.user.company.phone != '' %}
            <p class="company-tel">
                <i class="fa fa-phone margin-r-10 box-icon" aria-hidden="true"></i>
                <span class="box-text-content">
                  {{ app.user.company.phone }}
                </span>
            </p>
                {% endif %}
            <p class="company-tel">
                <i class="fa fa-map-marker margin-r-10 box-icon" aria-hidden="true"></i>
                <span class="box-text-content">{{ app.user.company.addressNumber }} {{ app.user.company.addressStreet }} {{ app.user.company.addressPostCode }}</span>
            </p>
            {% if app.user.company.country %}
                <p class="company-tel">
                    <i class="fa fa-flag margin-r-10 box-icon" aria-hidden="true"></i>
                    <span class="box-text-content">
                  {{ app.user.company.city }}  {{ app.user.company.country|country_name }}
                </span>
                </p>
            {% endif %}
            {% if app.user.company.website %}
                <p class="company-tel">
                    <i class="fa fa-globe margin-r-10 box-icon" aria-hidden="true"></i>
                    <span class="box-text-content">
                      <a  href="{{ app.user.company.website }}" target="_blank">{{ app.user.company.website }}</a>
                    </span>
                </p>
            {% endif %}
        {% endif %}

        <p class="mt-1"> <a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Voir la fiche entreprise</a></p>
        {% if is_granted('ROLE_ADMIN_COMPANY') %}
            <p> <a href="{{ path('company_edit', {'id': app.user.company.id}) }}">Modifier ma fiche</a></p>
        {% endif %}
    {% endif %}
</div>