<div id="companybox" class="box company-informations">
    <div class="box-title-container">
        <p class="box-title">Entreprise</p>
    </div>

    {% if app.user.company  %}
        {% if app.user.company.filename %}
            <img src="{{ vich_uploader_asset(app.user.company, 'imageFile')|imagine_filter('card') }}" class="img-fluid" alt="">
        {% else %}
            <img src="/images/no-available-company-photo.png" class="img-fluid" alt="">
        {% endif %}
        <p class="company-tel mt-2 ml-3 company-name">{{ app.user.company.name|capitalize }}</p>
        {% if app.user.company.isCompleted %}
            {% if app.user.company.phone != '' %}
            <p class="company-tel">
                <i class="fa fa-phone margin-r-10" aria-hidden="true"></i>{{ app.user.company.phone }}
            </p>
                {% endif %}
            <p class="company-tel"><i class="fa fa-map-marker margin-r-10" aria-hidden="true"></i>
                {{ app.user.company.addressNumber }} {{ app.user.company.addressStreet }} {{ app.user.company.addressPostCode }}
            </p>
        {% endif %}
        {% if app.user.company.barCode %}
            <div class="box-barCode">
                <p class="barCode-text">Vous pouvez utiliser ce code dans votre magasin de référence </p>
                <img src="data:image/png;base64,{{ app.user.company.barCode }}" />
            </div>
        {% endif %}

        <p class="mt-1"> <a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Voir la fiche entreprise</a></p>
        {% if is_granted('ROLE_ADMIN_COMPANY') %}
            <p> <a href="{{ path('company_edit', {'id': app.user.company.id}) }}">Modifier ma fiche</a></p>
        {% endif %}
    {% endif %}
</div>