<div class="box special-offer" data-intro="<small>En créant une offre dédiée à la communauté, vous mettez en avant vos services et faites découvrir votre activité aux autres membres. Certains proposent des remises, d’autres des essais, laissez libre cours à votre imagination.​<br>N’hésitez plus, profitez des offres dédiées d’autres entreprises ou créez votre propre offre.​<br>En proposant des offres dédiées vous cumulez des points Beev’Up et gagnez en visibilité.​</small>" data-step="5" data-position="left">
<div class="box-title-container">
    <p class="box-title">Offres dédiées<br> à la communauté Beev'Up </p>
</div>
    {% if specialOfferNb > 0 %}
        <div class="last-special-offer">
            {% if lastSpecialOffer.filename %}
                <img src="{{ vich_uploader_asset(lastSpecialOffer, 'imageFile')|imagine_filter('rectangleCard') }}" class="img-fluid" alt="">
            {% else %}
                <img src="/images/no-available-photo.png" class="img-fluid" alt="">
            {% endif %}

            <a class="specialOfferLink" href="{{ path('service_show',{'id':lastSpecialOffer.id}) }}">
                {{ lastSpecialOffer.title }}
            </a>
        </div>
        <p class="company-tel mt-2 text-center">
        <span class="user-action btn-radius">
      <a class="user-link mvp-st-btn" href="{{ path('service_discovery') }}">Voir toutes les offres</a>
    </span>
        {% if is_granted('ROLE_ADMIN') %}
            <span class="user-action btn-radius ml-1">
        <a class="user-link" href="{{ path('service_new', {'isOffer': true}) }}">Créer une offre </a>
            <p class="box-description">Proposez une offre dédiée à la communauté locale pour faire connaitre vos services et participer
                au développement de la communauté.  Gagnez 40 points BeeV'Up</p>
            </span>
        {% endif %}
        </p>
    {% else %}
        <p><small>Aucune offre créée pour l'instant !</small></p>
    {% endif %}


</div>
