{% if app.request.get('_route') == 'store_show'  %}
    <div id="storebox" class="box company-informations  d-none d-lg-block">
        <div class="box-title-container">
            <p class="box-title">Magasin</p>
        </div>
        <p class="company-tel">
            <i class="fa fa-university margin-r-10 box-icon" aria-hidden="true"></i>
            <span class="box-text-content">
              {{ store.name|capitalize }}
            </span>
        </p>
        <p class="company-tel"><i class="fa fa-map-marker margin-r-10 box-icon" aria-hidden="true"></i>
            <span class="box-text-content">
            {{ store.addressNumber }} {{ store.addressStreet }} {{ store.addressPostCode }}
            </span>
        </p>

        <p class="company-tel">
            <i class="fa fa-flag margin-r-10 box-icon" aria-hidden="true"></i>
            <span class="box-text-content">
              {{ store.city }}  {{ store.country|country_name }}
            </span>
        </p>
        {% if store.phone  %}
            <p class="company-tel">
                <i class="fa fa-phone margin-r-10 box-icon" aria-hidden="true"></i>
                <span class="box-text-content">
                {{ store.phone }}
                </span>
            </p>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_STORE') and store.id == app.user.store.id %}
        <p class="company-tel">
            <i class="fa fa-pencil margin-r-10" aria-hidden="true"></i>
            <a href="{{ path('store_edit', {'id': store.id}) }}">Modifier les informations du magasin
            </a>
        </p>
        {% endif %}

    </div>
{% else %}
<div id="storebox" class="box company-informations  d-none d-lg-block" class="box company-informations">
    <div class="box-title-container">
        <p class="box-title">Magasin</p>
    </div>
    <p class="company-tel">
        <i class="fa fa-university margin-r-10 box-icon" aria-hidden="true"></i>
        <span class="box-text-content">
          {{ app.user.store.name|capitalize }}
        </span>
    </p>
    <p class="company-tel">
        <i class="fa fa-map-marker margin-r-10 box-icon" aria-hidden="true"></i>
        <span class="box-text-content">
          {{ app.user.store.addressNumber }} {{ app.user.store.addressStreet }} {{ app.user.store.addressPostCode }}
        </span>
    </p>
    <p class="company-tel">
        <i class="fa fa-flag margin-r-10 box-icon" aria-hidden="true"></i>
        <span class="box-text-content">
          {{ app.user.store.city }}  {{ app.user.store.country|country_name }}
        </span>
    </p>
    {% if app.user.store.phone  %}
    <p class="company-tel"><i class="fa fa-phone margin-r-10 box-icon" aria-hidden="true"></i>
        <span class="box-text-content">
          {{ app.user.store.phone }}
        </span>
    </p>
    {% endif %}
    <p class="company-tel">
        <i class="fa fa-angle-double-right margin-r-10" aria-hidden="true"></i>
        <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Voir la fiche magasin</a>
    </p>

</div>
{% endif %}
