

{% form_theme AbuseForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <div class="modal-header">
    
    <h5 class="modal-title" >signaler un abus </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body card-block">


      {{ form_start(AbuseForm) }}
          <div class="message"></div>
          <div class="form-group abuse-description abuse-description"+postId>
              <p>Notre équipe sera informée de votre demande et vérifiera ce post.</p>
              <p> Merci d’utiliser la zone Commentaire </p>
              {% if postId > 0 %}
              {%  set id = postId %}
              {% else  %}
              {%  set id = commentId %}
              {% endif %}
            {{ form_row(AbuseForm.description, {'attr': {'class': 'abuse-description-'~ id }}) }}
          </div>
           <div class="form-actions form-group">
            <button type="submit" 
                    class="btn btn-primary btn-sm btn-radius float-right report-abuse-submit-btn"
                    data-post="{{postId}}"
                    data-comment="{{commentId}}"
                    data-target="{{path('abuse_insert',{'val1':postId, 'val2':commentId})}}"
                    >Signaler</button>
            <button type="button" class="btn btn-secondary btn-sm btn-radius float-right btn-close" data-dismiss="modal">Annuler </button>
          </div>
           {{ form_end(AbuseForm) }}


       </div>
{% endblock %} 