{% form_theme AbuseForm 'bootstrap_4_layout.html.twig' %}


    <div class="modal-header">

        <h5 class="modal-title" >Signaler un abus </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body card-block">


        {{ form_start(AbuseForm) }}
        <div class="message"></div>
        <div class="form-group">
            <p> Merci de nous indiquer les raisons de votre demande.</p>

            {% if postId > 0 %}
                {%  set id = postId %}
            {% else  %}
                {%  set id = commentId %}
            {% endif %}
            {{ form_row(AbuseForm.description, {'attr': {'class': 'abuse-description abuse-description-cls'}}) }}
        </div>
        <div class="form-actions form-group">
            <button type="submit"
                    class="btn float-right report-abuse-submit-btn"
                    data-post="{{postId}}"
                    data-comment="{{commentId}}"
                    data-target="{{path('abuse_insert',{'val1':postId, 'val2':commentId})}}"
            >Signaler</button>

        </div>
        {{ form_end(AbuseForm) }}


    </div>
