{% extends 'base.html.twig' %}

{% block title %}Abus{% endblock %}

{% block body %}
<main>
        <div class="main-section">
            <div class="container-bv">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        {% if app.user.profile.filename %}
                                            <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}"  alt="">
                                        {% else %}
                                            <img src="/images/no-available-photo.png" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="user_pro_status">
                                        <ul class="flw-hr">
                                            <li>
                                                <a href="{{ path('profile_edit', {'id': app.user.profile.id}) }}" title="" class="flww">
                                                    Modifier profil
                                                </a>
                                            </li>

                                        </ul>

                                    </div><!--user_pro_status end-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <h4>Les abus</h4>
                                {% if is_granted('ROLE_ADMIN') and abuses %}
                                    {% for abuse in abuses %}
                                        <div id ="abuse-{{abuse.id}}" class="box">
                                            <div class="">
                                                <div class="suggestion-usd abuse-suggestion-usd">
                                                   {% if abuse.user.profile.filename is empty %}
                                                       <img src="/images/no-available-photo.png" alt="">
                                                   {% else %}
                                                       <img src="/images/profiles/{{ abuse.user.profile.filename }}" alt="">
                                                   {% endif %}
                                                    <p>
                                                       <strong>
                                                           {{abuse.user.profile.firstname }} {{abuse.user.profile.lastname }}
                                                       </strong>
                                                    </p>
                                                    {% if abuse.post %}
                                                        <p class="text-muted"><strong>post signalé: </strong> {{abuse.post.title }}</p>
                                                        <p class="text-muted"> <strong>Description: </strong>{{abuse.post.description }}</p>
                                                    {% else %}
                                                        <p class="text-muted"><strong>commentaire signalé: </strong> {{abuse.comment.description }}</p>
                                                    {% endif %}
                                                    <p class="text-muted"><strong>Raison: </strong>{{abuse.description }}</p>
                                                    <p class="text-muted"><strong class="text-dark">Date de création:</strong> {{abuse.createdAt|date("d/m/Y") }}</p>
                                                    <div class="float-right">
                                                        <button type="submit"
                                                                class="btn abuse-approve btn-radius"
                                                                data-abuse-id="{{abuse.id}}">
                                                           <span id = "spinner-approve-{{abuse.id}}"
                                                                 class="spinner-grow spinner-grow-sm spinner-hidden"
                                                                 role="status"
                                                                 aria-hidden="true">
                                                            </span>
                                                            <span class="sr-only"></span>
                                                            Valider
                                                        </button>
                                                        <button type="submit"
                                                                class="btn abuse-reject btn-radius"
                                                                data-abuse-id="{{abuse.id}}">
                                                            <span id = "spinner-reject-{{abuse.id}}"
                                                                  class="spinner-grow spinner-grow-sm spinner-hidden"
                                                                  role="status"
                                                                  aria-hidden="true">
                                                            </span>
                                                            <span class="sr-only"></span>
                                                            Rejeter
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                  <div class="">
                                      <p>Il n'ya pas d'abus</p>
                                  </div>

                                {% endif %}

                            </div>
                        </div>
                        <div class="col-lg-3">
                            {% include 'default/boxes/add-service-component.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}