{% extends 'base.html.twig' %}

{% block title %}Abus{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    {% include 'default/dashboard-aside.html.twig' %}
                </div>
                <div class="col-lg-9 col-md-6 abuse-section">
                    <h4>Les abus</h4>
                    {% if is_granted('ROLE_ADMIN') and abuses %}
                        {% for abuse in abuses %}
                            <div id ="abuse-{{abuse.id}}" class="box">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="avatar">
                                            {% if abuse.user.profile.filename is empty %}
                                                <img src="/images/default_user.png" class="img-fluid" alt="">
                                            {% else %}
                                                <img src="/images/profiles/{{ abuse.user.profile.filename }}" class="img-fluid" alt="">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <p><strong>{{abuse.user.profile.firstname|capitalize }} {{abuse.user.profile.lastname|capitalize }}</strong></p>
                                        {% if abuse.post %}
                                            <p class="text-muted"><strong>post signalé: </strong> {{abuse.post.title }}</p>
                                            <p class="text-muted"> <strong>Description: </strong>{{abuse.post.description }}</p>
                                        {% else %}
                                            <p class="text-muted"><strong>commentaire signalé: </strong> {{abuse.comment.description }}</p>
                                        {% endif %}
                                        <p class="text-muted"><strong>Raison: </strong>{{abuse.description }}</p>
                                        <p class="text-muted"><strong class="text-dark">Date de création:</strong> {{abuse.createdAt|date("d/m/Y") }}</p>
                                        <div class="float-right">
                                            <button type="submit"
                                                    class="btn btn-success abuse-approve btn-radius"
                                                    data-abuse-id="{{abuse.id}}">
                                                    <span id = "spinner-approve-{{abuse.id}}"
                                                          class="spinner-grow spinner-grow-sm spinner-hidden"
                                                          role="status"
                                                          aria-hidden="true">
                                                    </span>
                                                <span class="sr-only"></span>
                                                Valider
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger abuse-reject btn-radius"
                                                    data-abuse-id="{{abuse.id}}">
                                                    <span id = "spinner-reject-{{abuse.id}}"
                                                          class="spinner-grow spinner-grow-sm spinner-hidden"
                                                          role="status"
                                                          aria-hidden="true">
                                                    </span>
                                                <span class="sr-only"></span>
                                                Rejeter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="box">
                            <div class="row">
                                <p>Il ya aucune abus à traiter</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>
{% endblock %}